{
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "modules": true
        }
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "mocha": true,
        "jest/globals": true
    },
    "globals": { },
    "plugins": [
        "react",
        "node",
        "jest"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:jest/recommended"
    ],
    "rules": {
        "no-console":                       ["warn", {"allow": ["warn", "error"]}],
        "no-extra-semi":                    ["error"],
        "no-inner-declarations":            0,
        "no-invalid-regexp":                ["error"],
        "no-irregular-whitespace":          ["error"],
        "no-unreachable":                   ["error"],
        "block-scoped-var":                 ["warn"],
        "eqeqeq":                           ["warn"],
        "no-alert":                         ["warn"],
        "no-multi-spaces":                  ["warn"],
        "no-redeclare":                     ["warn"],
        "no-undef":                         ["error"],
        "no-unused-vars":                   ["warn"],
        "node/exports-style":               ["error", "module.exports"],
        "array-bracket-spacing":            ["warn"],
        "camelcase":                        ["warn"],
        "comma-spacing":                    ["warn"],
        "comma-style":                      ["warn"],
        "comma-dangle":                     ["warn", "never"],
        "computed-property-spacing":        ["warn"],
        "eol-last":                         ["warn"],
        "func-call-spacing":                ["warn"],
        "indent":                           ["error", 4, { "SwitchCase": 1 }],
        "jsx-quotes":                       ["error", "prefer-double"],
        "key-spacing":                      ["warn"],
        "keyword-spacing":                  ["warn"],
        "linebreak-style":                  ["warn", "windows"],
        "new-cap":                          ["warn"],
        "newline-per-chained-call":         ["warn"],
        "no-mixed-spaces-and-tabs":         ["error"],
        "no-multiple-empty-lines":          ["error"],
        "no-trailing-spaces":               ["error"],
        "no-unneeded-ternary":              ["warn"],
        "no-whitespace-before-property":    ["warn"],
        "object-curly-newline":             ["warn"],
        "object-curly-spacing":             ["warn", "always"],
        "object-property-newline":          ["warn"],
        "quotes":                           ["error", "double"],
        "semi":                             ["error"],
        "semi-spacing":                     ["warn"],
        "semi-style":                       ["warn"],
        "space-before-function-paren":      ["warn"],
        "space-in-parens":                  ["warn"],
        "space-infix-ops":                  ["warn"],
        "spaced-comment":                   ["warn"],
        "wrap-regex":                       ["error"],
        "constructor-super":                ["error"],
        "no-const-assign":                  ["error"],
        "no-this-before-super":             ["warn"],
        "no-var":                           ["warn"],
        "prefer-const":                     ["warn"],
        "prefer-spread":                    ["warn"],
        "react/prop-types":                 0
    }
}
