{
    "extends": ["stylelint-config-standard"],
    "ignoreFiles": ["**/*.md", "**/*.js", "**/*.js.snap", "**/*.css"],
    "rules": {
        "indentation": 4,
        "selector-pseudo-element-colon-notation": "single",
        "no-descending-specificity": null,
        "color-hex-length": "long",
        "max-empty-lines": [2, { "ignore": ["comments"] }],
        "string-quotes": "double",
        "font-family-no-missing-generic-family-keyword": null
    }
}
