.checkbox {
    position: relative;
    display: flex;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: @base-margin;
    }

    label {
        position: relative;
        align-items: center;
        margin: 0;
        padding-left: @checkbox-label-padding;
        min-height: 1.5rem;
    }

    input[type="checkbox"] {
        margin-right: @base-margin;
        opacity: 0;

        + label:after {
            content: "";
            display: block;
            position: absolute;
            visibility: visible;
            left: -28px;
            top: -1px;
            height: @checkbox-height;
            width: @checkbox-width;
            background-color: @white;
            border: 2px solid @brand-secondary-light-2;
            border-radius: 2px;
        }

        + label:before {
            content: "";
            display: block;
            position: absolute;
            visibility: visible;
            left: -28px;
            top: -1px;
            height: @checkbox-height;
            width: @checkbox-width;
            background-color: @white;
            border-radius: 50%;
        }

        &:checked + label:after {
            background-color: @checkbox-checked-color;
            border-color: @checkbox-checked-color;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-image: url("../../../icons/shapes/check-mark.svg");
        }

        &:focus + label:before {
            box-shadow: 0 0 0 0.5rem @brand-secondary-light-3;
            border-color: @brand-secondary;
        }

        &:focus + label:after {
            border-color: @brand-secondary;
        }

        &:hover + label:before {
            box-shadow: 0 0 0 0.5rem @brand-secondary-light-3;
        }

        &:hover + label:after {
            border-color: @brand-secondary;
        }

        &[disabled] {
            + label:after {
                background-color: @input-bg-disabled;
                border-color: @input-checked-bg-disabled;
            }

            + label:before {
                content: none;
            }

            &:checked + label:after {
                background-color: @input-checked-bg-disabled;
            }

            + label,
            &:after,
            &:checked + label:after {
                cursor: not-allowed;
            }
        }
    }
}
