.checkbox {
    position: relative;
    display: flex;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: @base-margin-sm;
    }

    label {
        position: relative;
        align-items: center;
        margin: 0;
        padding-left: @checkbox-label-padding;
    }

    input[type="checkbox"] {
        margin-right: @base-margin;
        opacity: 0;

        + label:before {
            content: "";
            display: block;
            position: absolute;
            visibility: visible;
            left: -28px;
            height: @checkbox-height;
            width: @checkbox-width;
            background-color: @white;
            border: 1px solid @checkbox-bg;
            cursor: pointer;
        }

        &:checked + label:before {
            background-color: @checkbox-bg;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAJCAYAAAALpr0TAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuNWWFMmUAAACOSURBVChTfc+xDYJAFIdxCktLCwoLBmAESwoGMLF1BFomYAjHcABdxcrCwoKSmOP7LncJRuI/+cHLuwc8ihDCPzvU1muH2QY3jGjWBrILzBNVbu5RplodzIQD4qcbvHG1gRYOmDPiw15c+AXTw53MgDikXBxhPunu2/2Zn0HdYR7YYnn2NegKJ1SLXhKKGZDpJWzFmbqTAAAAAElFTkSuQmCC);
            background-position: 50% 50%;
            background-repeat: no-repeat;
        }

        &:focus + label:before {
            .tab-focus();
        }

        &[disabled] {
            + label:before {
                background-color: @input-bg-disabled;
                border-color: @input-checked-bg-disabled;
            }

            &:checked + label:before {
                background-color: @input-checked-bg-disabled;
            }

            + label,
            &:after,
            &:checked + label:before {
                cursor: not-allowed;
            }
        }
    }
}
