label {
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    margin-bottom: @base-margin-xs;
    font-weight: @font-weight-light;
    font-size: @base-font-size;
    line-height: 1.5;

    .required-asterisk {
        color: @brand-error;
        margin-left: 0.25rem;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1;

        .has-success & {
            color: @brand-success;
        }
    }

    .material-icons {
        color: @brand-accent-links;
    }
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    margin-bottom: @base-margin;

    /* Chrome and Firefox set a `min-width: min-content;` on fieldsets,
     * so we reset that to ensure it behaves more like a standard block element.
     * See https://github.com/twbs/bootstrap/issues/12359. */
    min-width: 0;

    &:disabled {
        textarea {
            resize: none;
        }

        select,
        .form-group,
        input + input,
        .hint-text,
        .hint-text-expander > * {
            color: @brand-secondary-light-3;
        }

        .hint-text-expander {
            button {
                pointer-events: none;
            }
        }

        .checkbox input[type="checkbox"] {
            + label:after {
                background-color: @input-bg-disabled;
                border-color: @input-checked-bg-disabled;
                cursor: not-allowed;
            }

            + label:before {
                content: none;
            }

            &:checked + label:after {
                background-color: @input-checked-bg-disabled;
            }

            &:not(:checked) {
                &:hover + label:after {
                    border-color: @brand-secondary-light-3;
                }
            }

            + label,
            + label:before,
            &:after,
            &:checked + label:before {
                cursor: not-allowed;
            }
        }

        .radio input[type="radio"] {
            + label:before {
                background-color: @input-bg-disabled;
                border-color: @input-checked-bg-disabled;
                box-shadow: none;
            }

            + label,
            + label:before,
            &:checked + label:before {
                cursor: not-allowed;
            }
        }

        .togglebox input[type="checkbox"] {
            + label:before,
            + label:after {
                background-color: @input-bg-disabled;
                border-color: @input-checked-bg-disabled;
            }

            &:checked + label:before {
                background-color: @input-checked-bg-disabled;
            }

            + label,
            + label:before,
            + label:after,
            &:checked + label:before,
            &:checked + label:after {
                cursor: not-allowed;
            }
        }

        .rangeslider {
            input[type="range"] {
                cursor: not-allowed;

                &::-webkit-slider-thumb {
                    .slider-thumb(@input-checked-bg-disabled, @input-bg-disabled);
                }

                &::-moz-range-thumb {
                    .slider-thumb(@input-checked-bg-disabled, @input-bg-disabled);
                }

                &::-ms-thumb {
                    .slider-thumb(@input-checked-bg-disabled, @input-bg-disabled);
                }

                + .value-label {
                    background: @input-checked-bg-disabled;

                    &:after {
                        border-top-color: @input-checked-bg-disabled !important; /* stylelint-disable-line declaration-no-important */
                    }
                }
            }
        }
    }
}

legend {
    display: block;
    width: 100%;
    margin-bottom: @legend-bottom-margin;
    line-height: (@base-font-size * 2.8);
    color: @legend-color;
    border: 0;
}

.form-control-text,
.form-control {
    display: block;
    width: 100%;
    font-size: @base-font-size;
    line-height: @input-line-height;
    color: @input-color;

    &.medium {
        height: 2.5rem;
        font-size: 0.875rem;
    }

    &.small {
        height: 2rem;
        font-size: 0.875rem;
    }
}

.form-control-text {
    padding: @input-padding-y 0;
}

.form-control {
    height: @input-form-control-height;
    padding: 0 0.75rem;
    background-color: @input-bg;
    background-clip: padding-box;
    border: solid @input-border-color;
    border-width: @input-border-width;
    border-bottom-color: @medium-brown;
    border-radius: 2px 2px 0 0;
    box-shadow: none;
    .form-control-focus(@brand-secondary);
    .placeholder(@brand-secondary-light-2);

    &::placeholder {
        color: @brand-secondary-light-2; /* Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526. */
        font-weight: @font-weight-normal;
        letter-spacing: -0.1px;
    }

    /* HTML5 says that controls under a fieldset > legend:first-child wont be
     * disabled if the fieldset is disabled. Due to implementation difficulty, we
     * dont honor that edge case; we style them as disabled anyway.
     */
    &[disabled],
    &[readonly],
    fieldset[disabled] & {
        &:not(.flatpickr-input) {
            opacity: 1; /* iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655 */
            .placeholder(@brand-secondary-light-3);

            &::placeholder {
                color: @brand-secondary-light-3;
            }

            color: @brand-secondary-light-3;
            border-bottom-color: @brand-secondary-light-3;
        }
    }

    &[disabled],
    fieldset[disabled] & {
        cursor: @cursor-disabled;
    }

    // Reset height for `textarea`s
    textarea& {
        height: auto;
        padding: 1rem 0.75rem;
    }
}

.form-group {
    &.small {
        .form-control,
        .input-group {
            height: 2rem;
            font-size: 0.875rem;

            .input-group-addon {
                height: 2rem;
                font-size: 0.875rem;
            }
        }
    }

    &.medium {
        .form-control,
        .input-group {
            height: 2.5rem;
            font-size: 0.875rem;

            .input-group-addon {
                height: 2.5rem;
                font-size: 0.875rem;
            }
        }
    }

    margin-bottom: @base-margin-lg;


    .form-control:focus-within {
        outline: 2px auto @brand-secondary;
        border-color: transparent;
    }

    &.disabled,
    [disabled] {
        color: @brand-secondary-light-3;

        .input-group-addon {
            border-color: @brand-secondary-light-3;
            color: @brand-secondary-light-3;

            i {
                color: @brand-secondary-light-3;
            }
        }

        i[data-tooltip] {
            color: @brand-secondary-light-3;
            pointer-events: none;
        }

        .hint-text,
        .hint-text-expander > * {
            color: @brand-secondary-light-3;
        }

        .hint-text-expander {
            button {
                pointer-events: none;
            }
        }
    }
}

.checkbox,
.radio,
.togglebox {
    label {
        cursor: pointer;
        text-transform: none;
    }

    input[disabled] + label {
        color: @brand-secondary-light-3;
    }
}

.help-block,
.hint-text {
    position: relative;
    display: block;
    margin: @helpblock-margin;
    font-size: 0.875rem;
    line-height: 1rem;
    min-height: 1rem;
}

.hint-text {
    color: @medium-brown;
}

.hint-text-expander {
    display: block;
    margin-top: 0.25rem;

    button {
        all: unset;
        display: flex;
        color: @brand-accent-links;
        padding-right: 0.25rem;
        border: 1px solid transparent;
        cursor: pointer;
        font-size: 0.875rem;
        line-height: 1rem;

        .arrow {
            margin-right: 0.5rem;
            font-size: 0.875rem;
            align-self: center;
            transition: transform 0.5s ease;
        }

        &:focus {
            border: 1px solid @brand-secondary;
            border-radius: 0.125rem;
        }

        &.content-expanded {
            .arrow {
                transform: rotate(180deg);
                transition: transform 0.3s ease;
            }

            ~ .content {
                visibility: visible;
                height: auto;
            }
        }
    }

    .content {
        visibility: hidden;
        height: 0;
        margin: 0;
        padding: 0;
        color: @medium-brown;
        font-size: 0.875rem;
    }
}

textarea[disabled] {
    resize: none;
}

select[multiple] {
    height: auto;
    padding: 0;

    option {
        padding: @select-option-margin;
    }
}

select {
    &.form-control {
        padding-right: 2.5rem;
    }
}
