.radio {
    position: relative;
    display: flex;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: @base-margin;
    }

    label {
        position: relative;
        align-items: center;
        margin: 0;
        padding-left: @checkbox-label-padding;
        min-height: 1.5rem;
    }

    input[type="radio"] {
        margin-right: @base-margin;
        opacity: 0;

        + label:before {
            content: "";
            position: absolute;
            visibility: visible;
            left: -28px;
            height: @checkbox-height;
            width: @checkbox-width;
            background-color: @white;
            border: 2px solid @brand-secondary-light-2;
            cursor: pointer;
            border-radius: 50%;
        }

        &:checked + label:before {
            background-position: 50% 50%;
            background-color: @white;
            background-repeat: no-repeat;
            background-image: url("../../../icons/shapes/circle.svg");
            border-color: @brand-secondary;
        }

        &:focus + label:before {
            box-shadow: 0 0 0 0.375rem @brand-secondary-light-3;
            border-color: @brand-secondary;
        }

        &:hover + label:before {
            box-shadow: 0 0 0 0.375rem @brand-secondary-light-3;
            border-color: @brand-secondary;
        }


        &[disabled] {
            + label:before {
                background-color: @input-bg-disabled;
                border-color: @input-checked-bg-disabled;
                box-shadow: none;
            }

            &:checked + label:before {
                background-color: @white;
                background-image: url("../../../icons/shapes/circle-disabled.svg");
            }

            + label,
            + label:before,
            &:checked + label:before {
                cursor: not-allowed;
            }
        }
    }
}
