.slider-range(@background) {
    box-sizing: border-box;
    background: @background;
    background-color: @brand-bg-gray;
    border-radius: @range-height;
    height: @range-height;
}

.slider-thumb(@color, @bg) {
    position: relative;
    box-sizing: border-box;
    width: @thumb-size;
    height: @thumb-size;
    border-radius: 50%;
    background: @color;
    border: 1px solid @color;
    bottom: (@range-height * 1.5);
    transition: 0.3s;
}

.slider-thumb-hover() {
    &:hover {
        width: (@thumb-size * 1.2);
        height: (@thumb-size * 1.2);
        bottom: (@range-height * 1.7);
        transition: 0.3s;
    }
}

.slider-thumb-focus() {
    box-shadow: 0 0 0 0.375rem @brand-secondary-light-3;
    border-color: @brand-secondary;
}

.slider-color(@color) {
    .value-label {
        background: @color;

        &:before {
            border-right-color: @color !important; /* stylelint-disable-line declaration-no-important */
        }

        &:after {
            border-top: 10px solid @color;
        }
    }

    input[type="range"] {
        &::-webkit-slider-thumb {
            .slider-thumb(@color, @white);
            .slider-thumb-hover();
        }

        &::-moz-range-thumb {
            .slider-thumb(@color, @white);
            .slider-thumb-hover();
        }

        &::-ms-thumb {
            .slider-thumb(@color, @white);
            .slider-thumb-hover();
        }

        &:focus {
            &::-webkit-slider-thumb {
                .slider-thumb-focus();
            }

            &::-moz-range-thumb {
                .slider-thumb-focus();
            }

            &::-ms-thumb {
                .slider-thumb-focus();
            }
        }

        &::-webkit-slider-runnable-track {
            .slider-range(linear-gradient(90deg, @color, @color) 0 100% no-repeat content-box);
        }

        /* FIREFOX */
        &::-moz-range-track {
            .slider-range(#f9fafa);
        }

        /* INTERNET EXPLORER & EDGE */
        &::-ms-track {
            .slider-range(transparent);
        }

        &::-moz-range-progress {
            background: @color;
        }

        &::-ms-fill-upper {
            background: #f9fafa;
            border: 1px solid @color;
        }

        &::-ms-fill-lower {
            background: @color;
            border: 1px solid @color;
        }

        &[disabled] {
            cursor: not-allowed;

            &::-webkit-slider-thumb {
                .slider-thumb(@input-checked-bg-disabled, @input-bg-disabled);
            }

            &::-moz-range-thumb {
                .slider-thumb(@input-checked-bg-disabled, @input-bg-disabled);
            }

            &::-ms-thumb {
                .slider-thumb(@input-checked-bg-disabled, @input-bg-disabled);
            }

            &::-webkit-slider-runnable-track {
                .slider-range(linear-gradient(90deg, @input-checked-bg-disabled, @input-checked-bg-disabled) 0 100% no-repeat content-box);
            }

            /* FIREFOX */
            &::-moz-range-track {
                .slider-range(#f9fafa);
            }

            /* INTERNET EXPLORER & EDGE */
            &::-ms-track {
                .slider-range(transparent);
            }

            &::-moz-range-progress {
                background: @input-checked-bg-disabled;
            }

            &::-ms-fill-upper {
                background: #f9fafa;
                border: 1px solid @input-checked-bg-disabled;
            }

            &::-ms-fill-lower {
                background: @input-checked-bg-disabled;
                border: 1px solid @input-checked-bg-disabled;
            }

            + .value-label {
                background: @input-checked-bg-disabled;

                &:after {
                    border-top-color: @input-checked-bg-disabled !important; /* stylelint-disable-line declaration-no-important */
                }
            }
        }
    }
}

.rangeslider {
    position: relative;
    width: 100%;
    display: flex;
    display: block;
    height: @thumb-size;
    box-sizing: border-box;
    background: transparent;
    margin: 3rem 0;
    padding-top: 1rem;
    .slider-color(@brand-secondary);

    &.disabled {
        .value-range,
        .rangeslider-label {
            color: @light-brown;
        }
    }

    .rangeslider-label {
        position: absolute;
        bottom: 100%;
    }

    .value-label {
        position: absolute;
        display: flex;
        top: -20px;
        left: 0; /* <- to please ie */
        right: 0; /* <- to please ie */
        justify-content: center;
        margin: 0 auto;
        padding: 0.2rem 0.4rem;
        color: @white;
        font-family: @brand-headline;
        font-size: @small-font-size;
        text-align: center;
        white-space: nowrap;
        border-radius: 0.1875rem;

        &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            top: 80%;
        }

        p {
            display: flex;
            margin: 0;
            align-items: center;

            span {
                margin: 0 1.5px;
            }
        }
    }

    .value-range {
        display: flex;
        justify-content: space-between;
        margin-top: 0.25rem;
    }

    input[type="range"] {
        -webkit-appearance: none;
        width: 100%;
        box-sizing: border-box;
        display: table-cell;
        height: @thumb-size;
        background: transparent;
        padding: 0;
        vertical-align: middle;
        cursor: grab;
        cursor: -webkit-grab;
        cursor: -moz-grab;

        &:active {
            cursor: grabbing;
            cursor: -webkit-grabbing;
            cursor: -moz-grabbing;
        }

        /*** BROWSER SPECIFIC STYLES ***/

        /* CHROME, OPERA & SAFARI */
        &::-webkit-slider-runnable-track {
            -webkit-appearance: none;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            transform: translateY(-(@range-height + 0.1) / 2);
        }

        &::-moz-range-progress {
            height: @range-height;
            border-radius: (@checkbox-height / 2);
        }

        /* INTERNET EXPLORER & EDGE */
        &::-ms-track {
            color: transparent;
            background: transparent;
        }

        &::-ms-thumb {
            margin-top: (@thumb-size / 2); /* Offset for Edge */

            /* Reset offset for correct placement in IE */
            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                margin: 0;
            }
        }

        &::-ms-fill-upper {
            border-radius: (@checkbox-height / 2);
        }

        &::-ms-fill-lower {
            border-radius: (@checkbox-height / 2);
        }

        &::-ms-tooltip {
            display: none;
        }
    }
}

