.togglebox {
    position: relative;
    display: flex;
    width: 100%;
    min-width: 6rem;

    &:not(:last-child) {
        margin-bottom: @base-margin-sm;
    }

    label {
        margin: 0;
        max-width: 82%;
    }

    input[type="checkbox"] {
        position: absolute;
        height: 0;
        right: 7px;
        margin: 1.5rem;

        &:focus {
            outline: none;

            &:before {
                content: "";
                position: absolute;
                bottom: 0.5px;
                left: -2px;
                height: (@checkbox-height + 0.2);
                width: (@checkbox-width * 2.2);
                border: 1px solid @checkbox-border-color;
                border-radius: 1rem;
            }
        }

        + label:before {
            background-color: @white;
            transition: background-color 0.2s ease;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            height: @checkbox-height;
            width: (@checkbox-width * 2);
            border: 1px solid @checkbox-border-color;
            border-radius: 1rem;
            color: @white;
            cursor: pointer;
        }

        + label:after {
            transition: right 0.2s;
            content: "";
            position: absolute;
            visibility: visible;
            background-color: @white;
            margin: 2px;
            top: 0;
            right: 1.35rem;
            height: 1.15rem;
            width: 1.15rem;
            border: 1px solid @checkbox-border-color;
            border-radius: 50%;
            color: @white;
            cursor: pointer;
        }

        &:checked + label:before {
            transition: background-color 0.2s ease;
            background-color: @brand-secondary;
            border-color: @checkbox-checked-color;
        }

        &:checked + label:after {
            transition: right 0.2s ease;
            border-color: @white;
            right: 0;
            background-color: @white;
        }

        &[disabled] {
            + label:before,
            + label:after {
                background: @input-bg-disabled;
                border-color: @input-checked-bg-disabled;
            }

            &:checked + label:before {
                background: @light-brown;
            }

            + label,
            + label:before,
            + label:after,
            &:checked + label:before,
            &:checked + label:after {
                cursor: not-allowed;
            }

            &:checked {
                + label:after {
                    border: none;
                }
            }
        }
    }

    &.label-top {
        margin-bottom: 1.5rem;

        input[type="checkbox"] {
            left: -24px;
            top: 100%;

            + label:before,
            + label:after {
                left: 0;
                top: 100%;
                transition: 0.2s ease, top 0;
            }

            + label:after {
                transition: left 0.2s ease;
            }

            &:checked {
                + label:before {
                    transition: background-color 0.2s ease;
                }

                + label:after {
                    left: 1.35rem;
                    transition: left 0.2s ease;
                }
            }
        }
    }
}
