/*
 * Badge
 * ==========================================================================
 */

/* stylelint-disable */
@badge-list: {
    default: @brand-primary;
    inactive: @list-gray;
    warning: @brand-error;
}
/* stylelint-enable */