/*
* Button
* ==========================================================================
*/

@btn-font-size:                             1.125rem;
@btn-min-width:                             112px;

@btn-font-size-sm:                          1.6rem;
@btn-font-size-xs:                          1.2rem;

@btn-padding-horizontal:                    1rem;
@btn-default-height:                        3rem;

@btn-border-radius-base:                    @border-radius-base;
@btn-border-radius-large:                   @border-radius-base;
@btn-border-radius-small:                   @border-radius-base;
