/*
* Card
* ==========================================================================
*/

@card-width:                                18rem;
@card-image-height:                         10rem;

@card-margin:                               0 @base-margin @base-margin;
@card-margin-top:                           @base-margin-sm + @base-margin-xs;
