/*
 * Colors
 * ==========================================================================
 */

/* Brand */
// @orange-medium:                             #ff6100; // Not used
// @orange-light:                              #ff9900; // Not used
// @orange-bright:                             #ffcc00; // Replaced by @brand-primary-light
// @green:                                     #82b236; // Not used
// TODO: These "color" specific variables should be replaced as they are only used by badge which will be reworked
@blue:                                      #00bcdf;
// @blue-light:                                #a2c9ce; // Not used
@blue-bright:                               #d7e6e9;
// @teal:                                      #4893a0; // Not used
// @blue-bright-alt:                           #a3c9cf; // Not used
// @red-medium:                                #dd3300; // Not used

/* Alerts */
// @brand-success:                             #477d17;
// @brand-success-light:                       #f2f7eb;
// @brand-warning:                             #ff9900;
// @brand-warning-light:                       #fffae5;
// @brand-error-border:                        #f1bbb9;
// @brand-error:                               #b24843;
// @brand-error-light:                         #fceeed;
// @brand-info:                                #2c7a8f;
// @brand-info-light:                          #f0f9fb;


/* BRAND MANAGER COLORS (NOT SHOWCASED ACORN, BUT SOME ARE USED) */

/* Main Colors */
// @orange-main:                               #ee7023; // Not used
@orange-headline:                           #f35b1c; // WCAG
// @turquoise:                                 #31a3ae;
// @turquoise-links:                           #257886; // WCAG
@yellow:                                    #fdc129;
// @lilac:                                     #c5569a; // Not used
@blue:                                      #5b8ad6;
// @brown:                                     #512b2b; // WCAG // Replaced by @brand-secondary

@red:                                        #c5131c; // New

/* Gradient */
// @gradient-orange:                           #fa7f25; // Not used
// @gradient-yellow:                           #fdbe13; // Not used

/* END BRAND MANAGER COLORS */

/* Border colors */
@dialog-border:                             1px solid @light-gray;
@checkbox-border-color:                     @brand-secondary;

@color-muted:                               fade(@text-color, 75%);
@color-muted-hover:                         fade(@text-color, 85%);
@link-color:                                @brand-accent-links;
@default-box-shadow:                        0 0 20px 0 rgba(81, 43, 43, 0.12);
@small-color:                               @text-gray;
@footer-small-color:                        @list-gray;
@mark-background:                           rgba(0, 0, 0, 0.1);
@text-muted:                                fade(@text-color, 75%);

/* Text color list */
/* stylelint-disable indentation */
@color-list: {
                                            default: @text-color;
                                            black: @black;
                                            white: @white;
                                            brand: @brand-primary;
                                            success: @brand-success;
                                            neutral: @brand-info;
                                            warning: @brand-warning;
                                            danger: @brand-error;
                                            muted: @color-muted;
}

/* Background color list */
@bg-color-list: {
                                            white: @white;
                                            success: @brand-success-light;
                                            neutral: @brand-info-light;
                                            warning: @brand-warning-light;
                                            danger: @brand-error-light;
                                            variant-1: @brand-bg-1;
                                            variant-2: @brand-bg-2;
                                            variant-3: @brand-bg-3;
                                            variant-4: @brand-bg-4;
                                            gray: @brand-bg-gray;
}
/* stylelint-enable */

/* Border colors */
@action-list-shadow:                        0 3px 5px 0 rgba(0, 0, 0, 0.25);
