/*
 * Datepicker
 * ==========================================================================
 */

@datepicker-box-shadow:                     @default-box-shadow;
@datepicker-background-color:               @white;
@datepicker-highlight-background:           @brand-primary;
@datepicker-highlight-color:                @white;
@datepicker-weekday-color:                  @brand-primary;
@datepicker-hover-color:                    @light-gray;

@datepicker-rd-padding:                     round(@base-padding / 3, 1);
