/*
 * Dialog
 * ==========================================================================
 */

/* Colors */
@dialog-background-color:                   transparent;
@dialog-content-bg:                         @white;
@dialog-backdrop-bg:                        fade(@black, 50%);
