/*
* Global
* ==========================================================================
*/

@spacer:                                    1rem; /* Default */

/* stylelint-disable indentation */
@spacers: {
                                            0: 0;
                                            1: (@spacer * 0.25);
                                            2: (@spacer * 0.5);
                                            3: @spacer;
                                            4: (@spacer * 1.5);
                                            5: (@spacer * 3);
}

@sizes: {
                                            25: 25%;
                                            50: 50%;
                                            75: 75%;
                                            100: 100%;
                                            auto: auto;
}
/* stylelint-enable indentation */

/* Margin */
@base-margin:                               @spacer;
@base-margin-sm:                            (@base-margin / 2);
@base-margin-xs:                            (@base-margin / 4);
@base-margin-lg:                            (@base-margin * 1.5);
@base-margin-xl:                            (@base-margin * 2);

/* Padding */
@base-padding:                              @spacer;
@base-padding-sm:                           (@base-padding / 2);
@base-padding-xs:                           (@base-padding / 4);
@base-padding-lg:                           (@base-padding * 1.5);
@base-padding-xl:                           (@base-padding * 2);

/* Body */
@body-bg:                                   @white;
@text-color:                                @brand-secondary;

/* Cursor */
@cursor-disabled:                           not-allowed;

/* Borders */
@border-width:                              1px;
@border-color:                              @brand-secondary-light-3;

@border-radius-base:                        2px;

@box-border:                                1px solid @brand-secondary-light-3;
@box-shadow-bottom:                         0 3px 1px -1px @brand-bg-gray;


/* Z-index master list */
@zindex-steps-line:                         5;
@zindex-steps-circle:                       10;
@zindex-steps-icon:                         15;
@zindex-tabs:                               100;
@zindex-tabs-arrow:                         101;
@zindex-action-list-anchor:                 500;
@zindex-action-list:                        501;
@zindex-nav-submenu:                        520;
@zindex-datepicker:                         530;
@zindex-topbar:                             550;
@zindex-dialog-backdrop:                    1040;
@zindex-dialog:                             1050;
@zindex-modal-backdrop:                     1060;
@zindex-modal:                              1070;
@zindex-topbar-nav:                         2000;
@zindex-sheet-backdrop:                     3000;
@zindex-sheet:                              3100;
@zindex-tooltip:                            9001;
@zindex-toast:                              10000;

/* Material Icons */
@material-icons-default-font-size:          1.25rem;
