/*
* Grid
* ==========================================================================
*/

@grid-columns:                              12;

/* Padding between columns. Gets divided in half for the left and right. */
@grid-gutter-width:                         32px;


/* stylelint-disable indentation */
@grid-breakpoints: {
                                            xs: 0;
                                            sm: 576px;
                                            md: 768px;
                                            lg: 992px;
                                            xl: 1200px;
                                            xxl: 1600px;
}

@grid-breakpoints-max: {
                                            xs: (@grid-breakpoints[sm] - 0.02);
                                            sm: (@grid-breakpoints[md] - 0.02);
                                            md: (@grid-breakpoints[lg] - 0.02);
                                            lg: (@grid-breakpoints[xl] - 0.02);
                                            xl: (@grid-breakpoints[xxl] - 0.02);
}

@container-max-widths:                      540px,
                                            720px,
                                            960px,
                                            1140px,
                                            1460px;
/* stylelint-enable */

/* Media queries breakpoints
* The maximum value is calculated as the minimum of the next one less 0.02px
* to work around the limitations of `min-` and `max-` prefixes and viewports with fractional widths.
* See https://www.w3.org/TR/mediaqueries-4/#mq-min-max
* Uses 0.02px rather than 0.01px to work around a current rounding bug in Safari.
* See https://bugs.webkit.org/show_bug.cgi?id=178261
*/

@screen-xs-min:                             @grid-breakpoints[xs];
@screen-sm-min:                             @grid-breakpoints[sm];
@screen-md-min:                             @grid-breakpoints[md];
@screen-lg-min:                             @grid-breakpoints[lg];
@screen-xl-min:                             @grid-breakpoints[xl];
@screen-xxl-min:                            @grid-breakpoints[xxl];

@screen-xs-max:                             @grid-breakpoints-max[xs];
@screen-sm-max:                             @grid-breakpoints-max[sm];
@screen-md-max:                             @grid-breakpoints-max[md];
@screen-lg-max:                             @grid-breakpoints-max[lg];
@screen-xl-max:                             @grid-breakpoints-max[xl];
