/*
 * Pagination
 * ==========================================================================
 */

@pagination-active-color:                   @brand-accent-links;
@pagination-arrow-color:                    @brand-accent-links;
@pagination-default-color:                  @list-gray;

@pagination-bullet-size:                    @status-size;
