/*
 * Panel
 * ==========================================================================
 */

/* Colors */
@panel-background-color:                    transparent;
@panel-footer-background-color:             transparent;
@panel-box-shadow:                          @default-box-shadow;

/* Default colors */
@panel-default-border-color:                @border-color;
@panel-default-text-color:                  @text-color;

/* Contextual colors */
@panel-default-color:                       @list-gray;
@panel-brand-color:                         @brand-primary;

@panel-border-radius:                       0;

@panel-body-padding:                        2rem;
@panel-table-margin:                        0;
@panel-footer-padding:                      2rem;
