/*
 * Sheet
 * ==========================================================================
 */

@sheet-backdrop-bg:                         fade(@black, 50%);
@sheet-section-bg:                          @white;
@sheet-section-padding:                     (@base-padding * 5) (@base-padding * 4) (@base-padding * 4);

@sheet-width-xs:                            95%;
@sheet-width-sm:                            75%;
@sheet-width:                               580px;
