/*
 * Steps
 * ==========================================================================
 */

@list-item-padding:                         4.25rem 0 0 0;
@list-item-padding-desktop-top:             4.25rem;
@list-item-padding-desktop:                 @list-item-padding-desktop-top 0 1.2rem 0;
@list-item-padding-desktop-vertical:        2rem 1.5rem 2rem 5.25rem;

@circle-size:                               30px;
@circle-size-desktop:                       40px;

@vertical-left:                             1.7rem;
@vertical-margin:                           (@circle-size-desktop / 2) - (@line-width-desktop / 2);

@line-width:                                2px;
@line-width-desktop:                        2px;
