/*
 * Tables
 * ==========================================================================
 */

/* Colors */
@table-bg:                                  transparent;
@table-header-color:                        @brand-secondary;
@table-text-color:                          @list-gray;
@table-border-color:                        @border-color;
@table-stripe-color:                        @brand-bg-1;
@table-collapse-content-color:              @list-gray;
@table-collapse-border-color:               @border-color;

/* Dimensions */
@table-cell-padding:                        0.75rem 1em;
@table-cell-condensed-padding:              0.5rem 0.6rem;
@table-collapse-content-padding:            10px 20px 10px 20px;
@table-button-padding:                      @base-padding-xs / 2 @base-padding-xs;
@table-description-padding:                 @base-padding * 0.625;

@table-margin-bottom:                       0.6rem;
@table-collpase-nested-margin:              -10px -20px -10px -20px;

@table-line-height:                         1.4rem;

/* Animations */
@table-collapse-duration:                   0.25s;
