/*
 * Toast
 * ==========================================================================
 */

@toast-height:                              48px;
@toast-color:                               @white;
@toast-text-color:                          @text-color;
@toast-action-color:                        @brand-secondary;
