/*
 * Topbar
 * ==========================================================================
 */

@topbar-height:                             80px;
@topbar-border-width:                       0.5rem;
@topbar-header-height:                      calc(@topbar-height + @topbar-border-width);
@topbar-border-top:                         @topbar-border-width solid @brand-primary;
@topbar-nav-width:                          300px;
@topbar-nav-slide-width:                    240px;
@topbar-back-btn-width:                     40px; /* This does not actually control the width of the button... [EH] */
@topbar-slide-prev-pos:                     260px;
@topbar-slide-transition:                   0.5s ease;
@topbar-background-transition:              background-color 0.5s ease-in;
@topbar-link-container-width:               288px;

@topbar-margin:                             (@base-margin + @base-margin-xs);
@topbar-padding:                            (@base-padding + @base-margin-xs);
