/*
 * Typography
 * ==========================================================================
 */

/* fonts */

@font-stack:                                "Arial", sans-serif;

@blockquote-border-color:                   @list-gray;
@blockquote-small-color:                    @list-gray;

/* Font Size */
@base-font-size:                            1rem;
@font-size-large:                           (@base-font-size * 1.25);
@font-size-small:                           (@base-font-size * 0.875);

/* Font Weight */
@font-weight-light:                         300;
@font-weight-normal:                        400;
@font-weight-bold:                          700;

@font-weight-base:                          @font-weight-normal;

@line-height-base:                          1.5;
@line-height-large:                         1.5;
@line-height-small:                         1.5;


/* Temporary for backwards compatibility */
@line-height-computed:                      @base-font-size * @line-height-base;

@headings-font-family:                      inherit;
@headings-color:                            @brand-secondary;

/* Paragraphs */
@paragraph-margin-bottom:                   @base-margin;

/* Etc */
@small-font-size:                           80%;

@blockquote-font-size:                      (@base-font-size * 1.25);

@hr-border-color:                           rgba(0, 0, 0, 0.1);
@hr-border-width:                           @border-width;

@mark-padding:                              0.2rem;

@dt-font-weight:                            @font-weight-bold;

@list-inline-padding:                       @base-padding-sm;

@scrollbar-size:                            17px;
