//
// Scaffolding
// --------------------------------------------------


// Reset the box-sizing
//
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see
// http://getbootstrap.com/getting-started/#third-box-sizing
* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}


// Body reset

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100%;
    scroll-behavior: smooth;

    @media (min-width: @screen-lg-max) {
        scroll-snap-type: y mandatory;
    }
}

body {
    font-family: @font-stack;
    font-size: @base-font-size;
    line-height: 1.5;
    color: @brand-secondary;
    background-color: @body-bg;
    height: 100%;

    &.no-vscroll {
        overflow-x: hidden;
    }

    &.no-scroll {
        overflow: hidden;
    }

    &.has-vscroll {
        overflow: hidden;

        @media screen and (min-width: @screen-sm-min) {
            padding-right: @scrollbar-size;

            .dialog {
                padding-right: @scrollbar-size;
            }

            .topbar {
                padding: 0 20px;
            }
        }
    }

    &.intent-mouse {
        :focus {
            outline: 0;
        }
    }
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

// Links

a {
    color: @brand-accent-links;

    &:hover,
    &:focus {
        color: darken(@brand-accent-links, 10%);
        text-decoration: none;
    }

    &:active,
    &:hover {
        outline: 0;
    }

    &:focus {
        .tab-focus();
    }
}


// Figures
//
// We reset this here because previously Normalize had no `figure` margins. This
// ensures we don't break anyone's use of the element.

figure {
    margin: 0;
}


// Images

img {
    vertical-align: middle;
}


// Horizontal rules

hr {
    margin-top: @base-margin;
    margin-bottom: @base-margin;
    border: 0;
    border-top: 1px solid @brand-secondary-light-3;
}

// Unordered and Ordered lists
ul,
ol {
    margin-top: 0;
    margin-bottom: @base-margin;

    ul,
    ol {
        margin-bottom: 0;
    }
}

// Only display content to screen readers
//
// See: http://a11yproject.com/posts/how-to-hide-content/

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

// Use in conjunction with .sr-only to only display content when it's focused.
// Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
// Credit: HTML5 Boilerplate

.sr-only-focusable {
    &:active,
    &:focus {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        clip: auto;
    }
}


// iOS "clickable elements" fix for role="button"
//
// Fixes "clickability" issue (and more generally, the firing of events such as focus as well)
// for traditionally non-focusable elements with role="button"
// see https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile
// Upstream patch for normalize.css submitted: https://github.com/necolas/normalize.css/pull/379 - remove this fix once that is merged

[role="button"] {
    cursor: pointer;
}

// Tables

//
// Remove most spacing between table cells.
//

table {
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

// Disable horizontal resizing of textareas

textarea {
    resize: vertical;
}

// Fix issue with select tags in safari
select {
    background: url(../../icons/shapes/expand-more.svg);
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    -moz-appearance: none;
    -webkit-appearance: none;
}

// Give code default styling
code {
    padding: @code-tags-padding;
    border-radius: @code-tags-border-radius;
    font-family: @brand-monofont;
    font-size: 0.875rem;
    line-height: 1.25rem;
    white-space: nowrap;
    background-color: @brand-bg-2;
    border: 1px solid @brand-accent;
}
