.container-sm {
    .make-container();

    > .topbar {
        padding: 0;
    }

    max-width: 992px;
}

.container {
    .make-container();

    > .topbar {
        padding: 0;
    }

    max-width: 1200px;
}

.container-lg {
    .make-container();

    > .topbar {
        padding: 0;
    }

    max-width: 1600px;
}

.container-fluid {
    .make-container();

    > .topbar {
        padding: 0;
    }
}

.grid-guide {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    article {
        max-width: 21rem;

        h3 {
            margin-top: 1rem;
        }
    }
}
@media (max-width: @screen-sm-max) {
    .grid-guide {
        article {
            max-width: 100%;
        }
    }
}

.row {
    .make-row();

    &.no-gutters {
        margin-right: 0;
        margin-left: 0;

        > .col,
        > [class*="col-"] {
            padding-right: 0;
            padding-left: 0;
        }
    }
}

.make-grid-columns();
