@import "flag-list";

i.payment-icon {
    height: 2rem;
    width: 3rem;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0.25rem;

    &-small {
        height: 1.5rem;
        width: 2rem;
    }

    &-medium {
        height: 2rem;
        width: 3rem;
    }

    &-large {
        height: 3rem;
        width: 5rem;
    }

    &-huge {
        height: 4rem;
        width: 6rem;
    }

    &-amex {
        background-image: url("../../icons/payment-icons/amex.svg");
    }

    &-diners {
        background-image: url("../../icons/payment-icons/diners.svg");
    }

    &-mastercard {
        background-image: url("../../icons/payment-icons/mastercard.svg");
    }

    &-mobilepay {
        background-color: #f5f5f2;
        background-image: url("../../icons/payment-icons/mobilepay.svg");
    }

    &-paypal {
        background-image: url("../../icons/payment-icons/paypal.svg");
    }

    &-swish {
        background-color: @white;
        background-image: url("../../icons/payment-icons/swish.svg");
    }

    &-vipps {
        background-color: @white;
        background-image: url("../../icons/payment-icons/vipps.svg");
    }

    &-visa {
        background-image: url("../../icons/payment-icons/visa.svg");
    }
}

i.material-icons {
    &-tiny {
        font-size: 1rem;
    }

    &-small {
        font-size: 2rem;
    }

    &-medium {
        font-size: 4rem;
    }

    &-large {
        font-size: 6rem;
    }
}

i.flag-icon {
    position: relative;
    display: inline-block;
    width: unit((4 / 3), rem);
    line-height: 1rem;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;

    &.flag-icon-squared {
        width: 1rem;
    }

    &-tiny {
        width: unit((4 / 3), rem);
        line-height: 1rem;

        &.flag-icon-squared {
            width: 1rem;
            line-height: 1rem;
        }
    }

    &-small {
        width: unit(((4 / 3) * 1.5), rem);
        line-height: 1.5rem;

        &.flag-icon-squared {
            width: 1.5rem;
            line-height: 1.5rem;
        }
    }

    &-medium {
        width: unit(((4 / 3) * 2), rem);
        line-height: 2rem;

        &.flag-icon-squared {
            width: 2rem;
            line-height: 2rem;
        }
    }

    &-large {
        width: unit(((4 / 3) * 3), rem);
        line-height: 3rem;

        &.flag-icon-squared {
            width: 3rem;
            line-height: 3rem;
        }
    }

    &-huge {
        width: unit(((4 / 3) * 4), rem);
        line-height: 4rem;

        &.flag-icon-squared {
            width: 4rem;
            line-height: 4rem;
        }
    }

    &:before {
        content: "\00a0";
    }
}

each(@flag-list, .(@country-code) {
    .flag-icon(@country-code);
});
