@import "flag-list";

i.payment-icon {
    height: 2rem;
    width: 3rem;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0.25rem;

    &-small,
    &.small {
        height: 1.5rem;
        width: 2rem;
        font-weight: inherit;
        color: inherit;
    }

    &-medium,
    &.medium {
        height: 2rem;
        width: 3rem;
    }

    &-large,
    &.large {
        height: 3rem;
        width: 5rem;
    }

    &-huge,
    &.huge {
        height: 4rem;
        width: 6rem;
    }

    &-amex,
    &.amex {
        background-image: url("../../icons/payment-icons/amex.svg");
    }

    &-diners,
    &.diners {
        background-image: url("../../icons/payment-icons/diners.svg");
    }

    &-mastercard,
    &.mastercard {
        background-image: url("../../icons/payment-icons/mastercard.svg");
    }

    &-paypal,
    &.paypal {
        background-image: url("../../icons/payment-icons/paypal.svg");
    }

    &-swish,
    &.swish {
        background-color: @white;
        background-image: url("../../icons/payment-icons/swish.svg");
    }

    &-vipps,
    &.vipps {
        background-color: @white;
        background-image: url("../../icons/payment-icons/vipps.svg");
    }

    &-visa,
    &.visa {
        background-image: url("../../icons/payment-icons/visa.svg");
    }

    &-viabill,
    &.viabill {
        background-image: url("../../icons/payment-icons/viabill.png");
    }

    &-coop,
    &.coop {
        background-image: url("../../icons/payment-icons/coop.svg");
    }

    &-bank-axept,
    &.bank-axept {
        background-image: url("../../icons/payment-icons/bank_axept.svg");
    }

    &-dankort,
    &.dankort {
        background-image: url("../../icons/payment-icons/dankort.svg");
    }

    &-forbrugsforeningen,
    &.forbrugsforeningen {
        background-image: url("../../icons/payment-icons/forbrugsforeningen.png");
    }

    &-ica,
    &.ica {
        background-image: url("../../icons/payment-icons/ica.svg");
    }

    &-ica-banken,
    &.ica-banken {
        background-image: url("../../icons/payment-icons/ica_banken.svg");
    }

    &-ikano-bank,
    &.ikano-bank {
        background-image: url("../../icons/payment-icons/ikano_bank.svg");
    }

    &-jcb,
    &.jcb {
        background-image: url("../../icons/payment-icons/jcb.svg");
    }

    &-lindex,
    &.lindex {
        background-image: url("../../icons/payment-icons/lindex.svg");
    }

    &-maestro,
    &.maestro {
        background-image: url("../../icons/payment-icons/maestro.svg");
    }

    &-payment-card,
    &.payment-card {
        background-image: url("../../icons/payment-icons/payment_card.svg");
    }

    &-finax,
    &.finax {
        background-image: url("../../icons/payment-icons/finax.png");
    }

    &-mobilepay,
    &.mobilepay {
        background-image: url("../../icons/payment-icons/mobilepay.png");
    }

    &-carpay,
    &.carpay {
        background-image: url("../../icons/payment-icons/carpay.png");
    }

    &-trustly,
    &.trustly {
        background-image: url("../../icons/payment-icons/trustly.png");
    }
}

i.material-icons {
    &-tiny,
    &.tiny {
        font-size: 1rem;
    }

    &-small,
    &.small {
        font-size: 2rem;
        font-weight: inherit;
        color: inherit;
    }

    &-medium,
    &.medium {
        font-size: 4rem;
    }

    &-large,
    &.large {
        font-size: 6rem;
    }
}

i.flag-icon {
    position: relative;
    display: inline-block;
    width: unit((4 / 3), rem);
    line-height: 1rem;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;

    &.flag-icon-squared {
        width: 1rem;
    }

    &-tiny,
    &.tiny {
        width: unit((4 / 3), rem);
        line-height: 1rem;

        &.flag-icon-squared {
            width: 1rem;
            line-height: 1rem;
        }
    }

    &-small,
    &.small {
        width: unit(((4 / 3) * 1.5), rem);
        line-height: 1.5rem;
        font-weight: inherit;
        color: inherit;

        &.flag-icon-squared {
            width: 1.5rem;
            line-height: 1.5rem;
        }
    }

    &-medium,
    &.medium {
        width: unit(((4 / 3) * 2), rem);
        line-height: 2rem;

        &.flag-icon-squared {
            width: 2rem;
            line-height: 2rem;
        }
    }

    &-large,
    &.large {
        width: unit(((4 / 3) * 3), rem);
        line-height: 3rem;

        &.flag-icon-squared {
            width: 3rem;
            line-height: 3rem;
        }
    }

    &-huge,
    &.huge {
        width: unit(((4 / 3) * 4), rem);
        line-height: 4rem;

        &.flag-icon-squared {
            width: 4rem;
            line-height: 4rem;
        }
    }

    &:before {
        content: "\00a0";
    }
}

each(@flag-list, .(@country-code) {
    .flag-icon(@country-code);
});
