.doc-container {
    .imagery {
        h2,
        h3 {
            font-weight: 700;
        }

        img {
            width: 100%;
        }

        section {
            margin-top: 1.5rem;
        }

        .ingress {
            font-size: 1.25rem;
            font-family: @brand-headline;
        }

        .img-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            span {
                margin-top: 0.5rem;
                font-style: italic;
                font-size: 0.875rem;
            }
        }
    }
}
