.doc-container {
    .spacing {
        section {
            margin-top: 3rem;
        }

        #base-increment-of-rem {
            table {
                tbody {
                    th {
                        font-weight: normal;
                    }
                }
            }
        }

        .img-container {
            margin-top: 1.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            span {
                margin-top: 0.5rem;
                font-style: italic;
                font-size: 0.875rem;
            }
        }

        #notation {
            ul {
                li {
                    code {
                        margin: 0.25rem;
                    }
                }
            }
        }
    }
}
