@import "../_variables.less";
@import "../_mixins.less";

.doc-container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
}

.doc-sidebar {
    min-height: calc(~"100vh - 70px");
    border-right: 1px solid rgba(0, 0, 0, .1);
    padding-right: 0;
    padding-left: 0;

    .sidebar-heading {
        background: darken(@brand-primary, 5%);
        box-shadow: 1px 0px 0px 0px darken(@brand-primary, 5%);
        text-align: center;
        height: 80px;
        
        h1 {
            color: @text-light;
            margin: 0;
            font-weight: @font-weight-normal;
            line-height: 80px;
        }
    }

    nav {
        padding: 1rem;

        .nav-group {
            margin-bottom: 1rem;

            a {
                padding: .25rem 2.25rem;

                &.active {
                    outline: none;
                    text-decoration: none;
                    font-weight: @font-weight-bold;
                }

                &:focus {
                    outline: none;
                    color: @brand-primary;
                }
            }

            .nav-heading {
                font-size: 1.15rem;
                display: flex;
                align-items: center;

                a {
                    padding: 0;
                }

                i {
                    color: @text-muted;
                    margin-right: 0.25rem;
                    transition: transform 0.5s ease-in-out;
                }
            }

            ul {
                list-style: none;
                padding-left: 0;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.2s;
            }

            &.active {
                .nav-heading {
                    a {
                        font-weight: @font-weight-bold;
                        text-decoration: none;
                    }

                    i {
                        transform: rotate(90deg);
                        transition: transform 0.2s;
                    }
                }

                ul {
                    max-height: 20vh;
                    transition: max-height 0.5s ease-in-out;
                }
            }
        }
    }
}

.doc-view {
    padding-left: 0;
    padding-right: 0;
    min-height: calc(~"100vh - 70px");
    background: @background-white;

    .view-heading {
        background: @brand-primary;
        margin-bottom: 1rem;
        height: 80px;
        
        h2 {
            color: @text-light;
            padding-left: 20px;
            margin: 0;
            font-weight: @font-weight-normal;
            line-height: 80px;
        }
    }
}

.doc-search {
    padding: 1rem 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .075);

    .doc-search-input {
        border-radius: .25rem;
        // width: 100%;

        &:focus {
            outline: 0;
            box-shadow: 0px 0px 2px 2px rgba(45, 169, 68, 0.5);
        }
    }
}
