@import "../alert.less";

.alert {
	&.alert-success {
		i:is([class^="swepay-icon-"], [class*=" swepay-icon-"]).swepay-icon-check-circle-filled {  
			background-image: url(../../../icons/payex/check_circle_24px.svg);
		}	
	}
	&.alert-warning,
	&.alert-danger,
	&.alert-informative {
		border: none;
	}

	[data-alert-close] {
		color: @brand-secondary;
	}
}

@media (forced-colors: active) {
	.alert {
		border: 3px solid;
	}
}
