@import "../alert.less";

.alert {
    &.alert-success,
    &.alert-warning,
    &.alert-danger,
    &.alert-informative {
        border: none;
    }

    [data-alert-close] {
        color: @brand-secondary;
    }
}

@media (forced-colors: active) {
    .alert {
        border: 3px solid;
    }
}
