@import "../badge.less";

.badge {
    font-family: var(--brand-default);

    &.badge-default {
        color: @white;
    }
}

span {
    &.status-badge {
        &.status-badge-javascript {
            color: @brand-secondary;
            background-color: @brand-bg-1;
        }
    }
}
