@import "../card.less";

.cards {
	background-color: var(--white) !important;
	border: 1px solid var(--gray) !important;
	color: var(--brand-secondary) !important;

	&:hover {
		background-color: var(--light-gray) !important;
	}

	&:active,
	&:focus {
		outline: 3px solid var(--brand-secondary) !important; 
		outline-offset: -2px; 
		box-shadow: none !important; 
	}

	.cards-cta:hover .arrow:before {
		background-color: var(--brand-secondary) !important;
	}
}

.component-preview-content a.cards:hover .cards-cta span {
	color: var(--brand-secondary);
}
