@import "../checkbox.less";
@import "./form.less";

.checkbox {
    input[type="checkbox"] {
        + label {
            &:after {
                border: 2px solid @brand-secondary;
            }
        }

        &:checked {
            + label {
                &:after {
                    background-color: @brand-secondary;
                    border-color: @brand-secondary;
                }
            }
        }
    }
}
