@import "../links.less";

a {

	&:hover {
		color: @link-hover-color;
		text-decoration: none;
	}

	&:focus {
		color: @brand-primary;
	}

	&.bright {
		color: var(--payex-light-blue);

		i {
			color: var(--payex-light-blue);
		}

		&:focus-visible {
			outline: 2px solid var(--white);
			border-radius: 2px;
		}
	}

	&.icon-link {

		&.bright {

			span {
				color: @payex-light-blue;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		&:hover {
			color: @brand-primary;

			span {
				text-decoration: none;
			}
		}
	}

	&.action-link {
		&:after {
			color: @brand-secondary;
			content: "arrow_forward";
			font-family: var(--payex-material-icons);
			font-size: 1.5rem;
			top: calc(50% - 1.5rem / 2);
		}

		&:hover {
			color: @brand-secondary;
			text-decoration: none;
		}

		&.action-link-new-tab {
			&:before {
				background-color: @brand-primary;
			}
		}
	}
}
