a {
    color: @brand-success;

    &:hover {
        color: @link-hover-color;
    }

    &:focus {
        color: @brand-success;
    }

    &.icon-link {
        color: @brand-success;

        &:hover {
            color: @brand-primary;

            span {
                text-decoration: none;
            }
        }

        :focus {
            span {
                color: @link-hover-color;
                text-decoration: none;
            }
        }
    }

    &.action-link {
        &:after {
            color: @brand-secondary;
            content: "arrow_forward";
            font-family: @payex-material-icons;
            font-size: 1.5rem;
            top: calc(50% - 1.5rem / 2);
        }

        &:hover {
            color: @brand-secondary;
        }

        &.action-link-new-tab {
            &:before {
                background-color: @brand-primary;
            }
        }
    }
}
