@import "../links.less";

a {
	color: @link-color;

	&:hover {
		color: @link-hover-color;
	}

	&:focus {
		color: var(--brand-primary);
	}

	&.icon-link {
		&:hover {
			color: var(--brand-primary);

			span {
				text-decoration: none;
			}
		}

		:focus {
			span {
				color: @link-hover-color;
				text-decoration: none;
			}
		}
	}

	&.action-link {
		// TODO: replace by local svg
		&:after {
			color: var(--brand-secondary);
			content: "arrow_forward";
			font-family: var(--icons-font-material-default);
			font-size: 1.5rem;
			top: calc(50% - 1.5rem / 2);
		}

		&:hover {
			color: var(--brand-secondary);
		}

		&.action-link-new-tab {
			&:before {
				background-color: var(--brand-primary;);
			}
		}
	}
}
