@import "./form.less";
@import "../radio.less";

.radio {
	border: @brand-secondary;

	input[type="radio"] {
		+ label {
			&:before {
				border: 2px solid @radiobutton-border;
			}
		}

		&:is(:hover, :focus-visible) + label:before {
			box-shadow: 0 0 0 0.375rem var(--gray);
		}
	}
}

.checkmark {
    label {

        border: 1px solid var(--gray);
        outline: none !important; 

		.radio.checkmark label .checkmark-icon {
			background-color: var(--brand-secondary);
		}

        &:hover {
            background-color: var(--gray) !important;
            color: var(--white);
            border: 1px solid var(--gray) !important; 
            outline: none !important; 
	
			.checkmark-icon,
			> i {
				background-color: var(--white);
			}
			
			.checkmark-icon::before, .checkmark label:hover > i::before {
				border-color: var(--gray) !important;
			}
        }

        &:active {
            border: 3px solid var(--brand-secondary) !important; 
            outline: none; 
        }

        &:disabled {
            color: var(--white) !important;
            border: 1px solid var(--gray) !important; 
            background-color: var(--light-gray) !important; 
            outline: none; 
        }

		&:focus {
			border: 1px solid var(--gray);
			background-color: var(--light-gray);

			.checkmark-icon::before, .checkmark label:focus > i::before {
				border-color: var(--light-gray);
			}
		}
	 
    }
}
