@import "../tables.less";

.table {
	tbody {
		tr {
			&:nth-child(odd) {
				background-color: var(--bg-primary);
			}

		 	&:hover {
				background-color: var(--light-gray);
			}  
		}
	}
}

.table.table-plain {
	tbody {
		tr {
			background-color: var(--white);

			&:hover {
				background-color: var(--light-gray);
			}

			th, td {
				background-color: transparent;
			}
		}
	}
}










