@import "../toast.less";

#toast-container {
    .toast {
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.15);
        border-radius: 4px;

        &.toast-neutral,
        &.toast-success,
        &.toast-warning,
        &.toast-danger {
            border: none;
        }
    }

    i {
        &.material-icons {
            font-family: "Material Icons";
        }
    }
}
