[data-tooltip] {
    &:before {
        border-color: @brand-secondary transparent transparent transparent;
    }

    .tooltip,
    &:after {
        background-color: @brand-secondary;
        color: @white;
    }
}
