@import "../tooltip.less";

.tooltip {
    &:before {
        border-color: @brand-secondary transparent transparent transparent;
    }

    [role="tooltip"] {
        background-color: @brand-secondary;
        color: @white;
    }
}
