@import "../topbar.less";

.topbar-xl-wide {
	&.topbar-sticky {
		img {
			&.logotype-md {
				margin-top: 15%;
				margin-left: 15%;
			}
		}
	}

	a {
		&.topbar-logo {
			img {
				&.logotype-md {
					margin-top: 15%;
				}
			}
		}
	}
}

@media (max-width: 575.98px) {
	.topbar {
		.topbar-logo {
			.logotype-vertical {
				width: 5rem;
			}
		}
	}
}
