@font-face {
    font-family: "Swedbank Headline";
    src: url("../fonts/SwedbankHeadline-Bold.woff");
}

@font-face {
    font-family: "Swedbank Headline Black";
    src: url("../fonts/SwedbankHeadline-Black.woff");
}

@font-face {
    font-family: "Akkurat Mono";
    src: url("../fonts/AkkuratMonoLLWeb-Regular.woff");
}

@font-face {
    font-family: "Akkurat Mono";
    src: url("../fonts/AkkuratMonoLLWeb-Bold.woff");
    font-weight: bold;
}

@font-face {
    font-family: "Akkurat Mono";
    src: url("../fonts/AkkuratMonoLLWeb-Italic.woff");
    font-style: italic;
}

@font-face {
    font-family: "Akkurat Mono";
    src: url("../fonts/AkkuratMonoLLWeb-BoldItalic.woff");
    font-weight: bold;
    font-style: italic;
}
