@font-face {
    font-family: "Swedbank Headline";
    src: url("../fonts/SwedbankHeadline-Bold.woff") format("woff");
}

@font-face {
    font-family: "Swedbank Headline Black";
    src: url("../fonts/SwedbankHeadline-Black.woff") format("woff");
}

@font-face {
    font-family: "Akkurat Mono";
    src: url("../fonts/AkkuratMonoLLWeb-Regular.woff") format("woff");
}

@font-face {
    font-family: "Akkurat Mono";
    src: url("../fonts/AkkuratMonoLLWeb-Bold.woff") format("woff");
    font-weight: bold;
}

@font-face {
    font-family: "Akkurat Mono";
    src: url("../fonts/AkkuratMonoLLWeb-Italic.woff") format("woff");
    font-style: italic;
}

@font-face {
    font-family: "Akkurat Mono";
    src: url("../fonts/AkkuratMonoLLWeb-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Futura PT W08 Book";
    src: url("../fonts/FuturaBook.woff2") format("woff2"), url("../fonts/FuturaBook.woff") format("woff");
}
@font-face {
    font-family: "Futura PT W08 Medium";
    src: url("../fonts/FuturaMedium.woff2") format("woff2"), url("../fonts/FuturaMedium.woff") format("woff");
}
@font-face {
    font-family: "Futura PT W08 Demi";
    src: url("../fonts/FuturaDemi.woff2") format("woff2"), url("../fonts/FuturaDemi.woff") format("woff");
}
