// TODO: Clean up unused variables, rename variables for consistency [EH]

// ==========================================================================
//
// Table of Contents:
//
//  CORE
// ===============
//  1. Colors
//  2. Global
//  3. Grid
//  4. Tables
//  5. Typography
//
//  COMPONENTS
// ===============
//  6. Breadcrumb
//  7. Button
//  8. Form
//  9. Modal
// 10. Pagination
// 11. Panel
// 12. Status
// 13. Topbar

// ==========================================================================
//
// CORE
//
// ==========================================================================

// 1. Colors
// ==========================================================================

/* Base colors */
@green:                                     #2da944;
@purple:                                    #7d55aa;
@blue:                                      #266c9a;
@orange:                                    #ff9f00;
@red:                                       #cd2e00; // Not in the graphic manual

@black:                                     #000000;
@white:                                     #ffffff;
@dark-gray:                                 #3c3c3c;
@mid-gray:                                  #828282;
@light-gray:                                #c8c8c8;


/* Grayscale */
@gray-0:                                    #231f20;
@gray-1:                                    #414042;
@gray-2:                                    #58595b;
@gray-3:                                    #6d6e71;
@gray-4:                                    #808285;
@gray-5:                                    #939598;
@gray-6:                                    #a7a9ac;
@gray-7:                                    #bcbec0;
@gray-8:                                    #d1d3d4;
@gray-9:                                    #e6e7e8;
@gray-10:                                   #efefef;

@input-gray:                                #f9fafa;

/* Brand colors */
@brand-primary:                             @green;
@brand-primary-faded:                       fade(@brand-primary, 60%);

/* Background colors */
@background-white:                          @white;
@background-body:                           #f7f7f7;
@background-code:                           #f5f2f0;

/* Shadows */
@default-box-shadow:                        0 0 30px rgba(133, 133, 133, 0.4);

/* State colors */
@state-success:                             @green;
@state-neutral:                             @blue;
@state-warning:                             @orange;
@state-error:                               @red;


// 2. Global
// ==========================================================================

/* Margins */
@base-margin:                               3px;
@base-padding:                              3px;

/* Spacing */
@spacer:                                    1rem;

/* Body */
@body-bg:                                   @background-body;
@text-color:                                @dark-gray;
@link-color:                                @brand-primary;
@link-hover-color:                          darken(@brand-primary, 10%);
@link-hover-decoration:                     underline;

/* Media queries breakpoints */
// Define the breakpoints at which your layout will change, adapting to different screen sizes.
@screen-xs-min:                             480px;
@screen-sm-min:                             768px;
@screen-md-min:                             992px;
@screen-lg-min:                             1200px;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:                             (@screen-sm-min - 1);
@screen-sm-max:                             (@screen-md-min - 1);
@screen-md-max:                             (@screen-lg-min - 1);

/* Cursor */
@cursor-disabled:                           not-allowed;

@padding-base-vertical:                     0.375rem;
@padding-base-horizontal:                   0.75rem;
@padding-large-vertical:                    0.5rem;
@padding-large-horizontal:                  1rem;
@padding-small-vertical:                    0.25rem;
@padding-small-horizontal:                  0.5rem;
@padding-xs-vertical:                       0.1rem;
@padding-xs-horizontal:                     0.25rem;

/* Borders */
@border-width:                              1px;
@border-color:                              @gray-3;

@border-radius-base:                        0.25rem;
@border-radius-large:                       0.3rem;
@border-radius-small:                       0.2rem;


/* Z-index master list */
@zindex-tabs:                               100;
@zindex-tabs-arrow:                         101;
@zindex-topbar:                             500;
@zindex-modal-backdrop:                     1040;
@zindex-modal:                              1050;
@zindex-datepicker:                         2000;
@zindex-topbar-nav:                         2100;


// 3. Grid
// ==========================================================================

@grid-columns:                              12;

//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width:                         30px;

@grid-breakpoints:                          xs 0, sm 576px, md 768px, lg 992px, xl 1200px;

@container-max-widths:                      540px, 720px, 960px, 1140px;


// 4. Tables
// ==========================================================================

/* Colors */
@table-bg:                                  transparent;
@table-header-color:                        @brand-primary;
@table-text-color:                          @gray-4;
@table-border-color:                        @gray-9;
@table-stripe-color:                        #f9f9f9;//#eeecec;
@table-collapse-content-color:              @gray-10;
@table-collapse-border-color:               @gray-8;

/* Dimensions */
@table-cell-padding:                        1rem;
@table-collapse-content-padding:            10px 20px 10px 20px;
@table-collpase-nested-margin:              -10px -20px -10px -20px;
@table-margin-bottom:                       0.6rem;
@table-line-height:                         1.4rem;

/* Animations */
@table-collapse-duration:                   0.25s;


// 5. Typography
// ==========================================================================

@font-stack:                                "Roboto", sans-serif;

/* Colors */

@link-color:                                @green;
@small-color:                               @gray-3;
@footer-small-color:                        @gray-7;
@mark-background:                           rgba(0, 0, 0, 0.1);

@text-muted:                                @gray-5;
@text-brand:                                @brand-primary;
@text-light:                                @white;

@text-success:                              @state-success;
@text-neutral:                              @state-neutral;
@text-warning:                              @state-warning;
@text-error:                                @state-error;

@blockquote-border-color:                   @gray-8;
@blockquote-small-color:                    @gray-5;

/* Font Size */
@base-font-size:                            1rem;
@font-size-large:                           (@base-font-size * 1.25);
@font-size-small:                           (@base-font-size * 0.875);

/* Font Weight */
@font-weight-light:                         300;
@font-weight-normal:                        400;
@font-weight-bold:                          700;

@font-weight-base:                          @font-weight-normal;

@line-height-base:                          1.5;
@line-height-large:                         1.5;
@line-height-small:                         1.5;


/* Temporary for backwards compatibility    */
@line-height-computed:                      @base-font-size * @line-height-base;


/* Headings */
@h1-font-size:                              @base-font-size * 2.5;
@h2-font-size:                              @base-font-size * 2;
@h3-font-size:                              @base-font-size * 1.75;
@h4-font-size:                              @base-font-size * 1.5;
@h5-font-size:                              @base-font-size * 1.25;
@h6-font-size:                              @base-font-size;

@headings-margin-top:                       @spacer * 2;
@headings-margin-bottom:                    @spacer / 2;
@headings-font-family:                      inherit;
@headings-font-weight:                      500;
@headings-line-height:                      1.2;
@headings-color:                            @gray-1;

// TODO: Add display classes? [EH]


/* Paragraphs */
@paragraph-margin-bottom:                   1rem;

@lead-font-size:                            (@base-font-size * 1.25);
@lead-font-weight:                          300;

/* Etc */
@small-font-size:                           80%;

@blockquote-font-size:                      (@base-font-size * 1.25);

@hr-border-color:                           rgba(0, 0, 0, 0.1);
@hr-border-width:                           @border-width;

@mark-padding:                              0.2em;

@dt-font-weight:                            @font-weight-bold;

@list-inline-padding:                       0.5rem;

@hr-margin-y:                               @spacer;


// ==========================================================================
//
// COMPONENTS
//
// ==========================================================================

// 6. Breadcrumb
// ==========================================================================

@breadcrumb-margin:                         1rem 0;
@breadcrumb-padding:                        0.6rem 1.2rem 0.6rem 2rem;
@breadcrumb-padding-first:                  1rem;

@breadcrumb-bg:                             @white;
@breadcrumb-border-color:                   @brand-primary;
@breadcrumb-disabled-bg:                    @gray-9;
@breadcrumb-disabled-color:                 @gray-3;
@breadcrumb-active-bg:                      @brand-primary;
@breadcrumb-active-color:                   @white;


// Arrow constants
@breadcrumb-arrow-border-size:              0.1rem;
@breadcrumb-arrow-border:                   1.55rem;
@breadcrumb-arrow-bg:                       @breadcrumb-arrow-border - @breadcrumb-arrow-border-size;


/* Small */
@breadcrumb-padding-sm:                     0.3rem 0.6rem 0.3rem 1.5rem;
@breadcrumb-padding-first-sm:               0.5rem;

// Arrow constants
@breadcrumb-arrow-border-size-sm:           0.05rem;
@breadcrumb-arrow-border-sm:                1.25rem;
@breadcrumb-arrow-bg-sm:                    @breadcrumb-arrow-border-sm - @breadcrumb-arrow-border-size-sm;


// 7. Button
// ==========================================================================

@btn-font-weight:                           normal;

@btn-border-radius-base:                    0;
@btn-border-radius-large:                   0;
@btn-border-radius-small:                   0;

@btn-default-color:                         @gray-0;
@btn-default-outline-color:                 @gray-8;
@btn-default-bg:                            @gray-8;
@btn-default-ghost-color:                   @gray-3;

@btn-brand-color:                           @white;
@btn-brand-outline-color:                   @brand-primary;
@btn-brand-bg:                              @brand-primary;

@btn-neutral-color:                         @white;
@btn-neutral-outline-color:                 @state-neutral;
@btn-neutral-bg:                            @state-neutral;

@btn-success-color:                         @white;
@btn-success-outline-color:                 @state-success;
@btn-success-bg:                            @state-success;

@btn-warning-color:                         @white;
@btn-warning-outline-color:                 @state-warning;
@btn-warning-bg:                            @state-warning;

@btn-danger-color:                          @white;
@btn-danger-outline-color:                  @state-error;
@btn-danger-bg:                             @state-error;

@btn-light-color:                           @gray-5;
@btn-light-outline-color:                   @gray-10;
@btn-light-bg:                              @gray-10;

@btn-link-disabled-color:                   @gray-6;


// 8. Form
// ==========================================================================

@form-margin:                               1rem;

@input-padding-y:                           0.375rem;
@input-padding-x:                           0.75rem;
@input-line-height:                         @line-height-base;

@input-color:                               @gray-3;
@input-bg:                                  @input-gray;
@input-bg-disabled:                         darken(@input-bg, 10%);
@input-checked-bg-disabled:                 darken(@input-bg, 40%);
@input-disabled-border-color:               darken(@gray-8, 40%);
@input-border-color:                        @gray-8;
@input-addon-color:                         @gray-3;
@input-addon-bg:                            @gray-10;
@input-border-focus:                        #66afe9;

@input-border-width:                        1px;
@input-border-radius:                       0;

@legend-border-color:                       @gray-9;
@legend-color:                              @gray-3;
@legend-bottom-margin:                      1.25rem;

// Checkbox
@checkbox-bg:                               @brand-primary;
@checkbox-height:                           1.4rem;
@checkbox-width:                            @checkbox-height; // This also controls radio and togglebox

// Rangeslider
@range-height:                              @checkbox-height / 2;
@thumb-size:                                @checkbox-height;

@range-bg:                                  @input-bg;
// This needs to be gradient for some reason
@range-webkit-bg:                           linear-gradient(90deg, @brand-primary, @brand-primary) 0 100% no-repeat content-box;


// 9. Modal
// ==========================================================================

/* Colors */
@modal-background-color:                    transparent;
@modal-content-bg:                          @white;
@modal-default-color:                       @gray-8;
@modal-default-border-color:                @gray-9;
@modal-box-shadow:                          0 0 30px rgba(133, 133, 133, 0.2);
@modal-backdrop-bg:                         @black;
@modal-backdrop-opacity:                    0.5;

@modal-margin:                              2rem;

@modal-heading-padding:                     1rem 2rem;
@modal-body-padding:                        2rem 2rem 1rem 2rem;
@modal-footer-margin:                       0;
@modal-footer-padding:                      1rem 2rem 0.6rem 2rem;

@modal-size-sm:                             500px;
@modal-size-md:                             750px;
@modal-size-lg:                             1000px;


// 10. Pagination
// ==========================================================================

@pagination-active-color:                   @brand-primary;
@pagination-default-color:                  @gray-8;

@pagination-bullet-size:                    @status-size;

// 11. Panel
// ==========================================================================

/* Colors */
@panel-background-color:                    transparent;
@panel-footer-background-color:             transparent;
@panel-inner-border-color:                  @gray-8;
@panel-table-border-color:                  @gray-8;
@panel-footer-table-border-color:           @gray-8;
@panel-box-shadow:                          @default-box-shadow;

/* Default colors */
@panel-default-border-color:                @gray-9;
@panel-default-text-color:                  @gray-2;

/* Contextual colors */
@panel-default-color:                       @gray-8;
@panel-brand-color:                         @brand-primary;

@panel-border-radius:                       0;
@panel-margin-bottom:                       14px;

@panel-body-padding:                        15px 30px;
@panel-table-margin:                        0;
@panel-banner-padding:                      15px;
@panel-heading-padding:                     15px 30px;
@panel-footer-padding:                      15px 30px 12px 30px;
@panel-footer-margin:                       10px -30px -15px -30px;

@panel-font-size-base:                      @base-font-size;
@panel-collapse-duration:                   0.25s;


// 12. Status
// ==========================================================================

@status-size:                               13px;
@status-padding:                            10;


// 13. Topbar
// ==========================================================================

@topbar-height:                             70px;
@topbar-nav-width:                          300px;
@topbar-nav-slide-width:                    240px;
@topbar-back-btn-width:                     40px; // This does not actually control the width of the button... [EH]
@topbar-slide-prev-pos:                     260px; //@topbar-nav-width - @topbar-back-btn-width;
@topbar-slide-transition:                   0.5s ease;
@topbar-background-transition:              background-color 0.5s ease-in;
