/* ==========================================================================
 *
 * This file overrides variables with the PayEx brand theme
 *
 */

/* OVERRIDES */

/* Grayscale */
@black:                                     #000000;
@text-gray:                                 @brand-secondary;
@list-gray:                                 #999999;
@light-gray:                                #F4F4F4;
@white:                                     #ffffff;
@soft-brown:                                #707070;

/* Main Brand Color Variants */
@brand-primary:                             #2A9D3F;
@brand-primary-light:                       @brand-primary;
@brand-primary-light-2:                     @brand-primary;
@brand-primary-light-3:                     @brand-primary;
@brand-primary-faded:                         fade(@brand-primary, 60%);

@brand-secondary:                           #3c3c3c;
@brand-secondary-dark-1:                    @brand-secondary;
@brand-secondary-dark-2:                    @brand-secondary;
@brand-secondary-light-1:                   @brand-secondary;
@brand-secondary-light-2:                   #C8C8C8;
@brand-secondary-light-3:                   @brand-secondary-light-2;
@brand-secondary-light-4:                   @brand-secondary;
@brand-secondary-info-1:                    @brand-secondary-light-3;
@brand-secondary-info-2:                    #efb7b6;

@brand-tertiary:                            @brand-primary;
@brand-accent:                              @brand-secondary;
@blue-bright:                               @brand-secondary-light-2;
@brand-accent-links:                        @brand-secondary;

/* Background Colors */
@brand-bg-1:                                #E8F3E6;
@brand-bg-2:                                #E8F3E6;
@brand-bg-3:                                #fbedf4;
@brand-bg-4:                                #EAF8FC;
@brand-bg-gray:                             @brand-secondary-light-2;
@brand-bg-white:                            #ffffff;

/* State colors */
@brand-success:                             #238635;
@brand-success-light:                       #E8F3E6;
@brand-success-light-2:                     @brand-success;
@brand-warning:                             #F35B1C;
@brand-warning-light:                       #FFECD5;
@brand-warning-2:                           #F35B1C;
@brand-error-border:                        #f1bbb9;
@brand-error:                               #C5131C;
@brand-error-light:                         #FFEBE3;
@brand-info:                                #3E6AB6;
@brand-info-light:                          #E8EFF9;

/* Brand fonts */
@brand-headline:                            "Futura PT W08 Demi", sans-serif;
@brand-black:                               "Futura PT W08 Medium", sans-serif;
@brand-default:                             "Futura PT W08 Book", sans-serif;
@brand-monofont:                            monospace;

@payex-material-icons:                      "Material Icons Sharp";

/* Button colors */
@primary-disabled-bg:                       #f5b895;
@secondary-disabled-bg:                     #98d0d6;
@destructive-disabled-bg:                   #f9ded3;

@btn-primary-color:                         @white;
@btn-primary-bg:                            @brand-tertiary;
@btn-primary-hover:                         @brand-success;
@btn-primary-disabled-color:                @white;
@btn-primary-disabled-bg:                   @brand-secondary-light-2;

@btn-secondary-color:                       @white;
@btn-secondary-bg:                          @brand-secondary;
@btn-secondary-hover:                       @brand-primary;
@btn-secondary-disabled-color:              @white;
@btn-secondary-disabled-bg:                 @brand-secondary-light-2;

@btn-destructive-color:                     @white;
@btn-destructive-bg:                        @brand-error;
@btn-destructive-hover:                     #EE4E56;
@btn-destructive-disabled-color:            @white;
@btn-destructive-disabled-bg:               @destructive-disabled-bg;

@btn-link-color:                            @brand-secondary;
@btn-link-disabled-color:                   @list-gray;
@link-hover-color:                          @brand-primary;

/* Other colors */
@yellow-faded:                              #FBDD91;
@green-syntax-highlight:                    #99CC66;
@blue-syntax-highlight:                     #43D0DD;
@yellow-syntax-highlight:                   #FFF3D5;
@pink-cards-details:                        #c5569a;
@dark-brown:                                @brand-secondary;
@light-brown:                               @brand-secondary-light-3;
@help-block-text:                           #707070;
@tab-link:                                  @help-block-text;
@radiobutton-border:                        @help-block-text;
@checkbox-checked-color:                    @brand-secondary-light-2;

body {
    font-family: @brand-default;

    p.lead {
        font-family: @brand-black;
        font-weight: 500;
    }
}

.documentation {
    .doc-container {
        &.dg-front-page {
            .dg-front-page-container {
                header {
                    .dg-title-big.my-0 {
                        font-family: @brand-headline;
                    }
                }

                p.front-page-lead {
                    font-family: @brand-default;
                }
            }
        }
    }
}

/* This section overrides styling for classes/elements with the PayEx brand theme
 * ==========================================================================
 *
 * Tabs
 */
.tabs > ul > li {
    > a {
        color: @tab-link;

        &:hover {
            color: @brand-secondary;
            background-color: transparent;
        }
    }

    &.active > a {
        color: @brand-secondary;
    }
}

/* ==========================================================================
 *
 * Buttons
 *
 */
.btn.btn-primary.btn-bank-id i.bank-id {
    background-color: @white;
}

.btn.btn-primary {
    &:active {
        border: @brand-primary;
        box-shadow: none;
    }
}

button.btn.btn-primary {
    &.loading:after {
        border-left-color: @white;
    }
}

.btn.btn-secondary {
    &:focus {
        border: 2px solid @brand-primary;
        box-shadow: none;
    }

    &:active {
        border: 1px solid @brand-secondary-info-1;
    }
}

.btn {
    font-family: @brand-default;

    &.btn-guiding-destructive {
        &:active {
            border: 2px solid @btn-destructive-hover;
            box-shadow: none;
        }

        &:focus {
            border: 2px solid @brand-secondary;
        }
    }

    &.btn-link-destructive {
        border: none;
        border-bottom: none;

        &:hover {
            border: 1px solid @btn-destructive-hover;
        }

        &:focus {
            border: 1px solid @btn-destructive-hover;
            box-shadow: 0 0 0 0.1rem @btn-destructive-hover;
        }
    }

    &.btn-executive-destructive:active {
        border: 2px solid @btn-destructive-hover;
        box-shadow: none;
    }

    &.btn-executive-destructive:focus {
        background-color: @btn-destructive-hover;
    }

    &.loading {
        &.btn-primary,
        &.btn-secondary {
            &:after {
                border-color: @brand-secondary-light-2;
                border-left-color: @brand-secondary;
            }
        }
    }
}

/* ==========================================================================
 *
 * Datepickers
 *
 */
.flatpickr-calendar {
    .flatpickr-day.selected:hover {
        background: @brand-success-light;
        border: @brand-success-light;
    }
}

/* ==========================================================================
 *
 * Progress steps
 *
 */
.steps ol {
    li > a {
        .steps-number:hover {
            color: @white;
        }
    }

    li.steps-completed {
        .material-icons.steps-icon {
            color: @white;
        }
    }

    li.steps-ongoing.steps-selected {
        .steps-number:hover {
            color: @brand-secondary;
        }
    }

    li.steps-selected {
        .steps-number:hover {
            color: @white;
        }
    }

    li.steps-ongoing {
        .steps-number:hover {
            color: @white;
        }
    }
}

/* ==========================================================================
 *
 * Logo
 *
 */
.topbar-xl-wide {
    &.topbar-sticky {
        img.logotype-md {
            margin-top: 15%;
            margin-left: 15%;
        }
    }

    a.topbar-logo {
        img.logotype-md {
            margin-top: 15%;
        }
    }
}

.logotype-vertical {
    &.logotype-xs {
        width: 2.5rem;
    }

    &.logotype-sm {
        width: 3rem;
    }

    &.logotype-md {
        width: 4.5rem;
    }

    &.logotype-lg {
        width: 3rem;
    }
}

/* ==========================================================================
 *
 * Sidebar
 *
 */
.sidebar-2 {
    .sidebar-main-nav {
        .main-nav-ul {
            .main-nav-li {
                > a {
                    &:before {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                }

                &.active {
                    > a {
                        &:before {
                            border-top-right-radius: 0;
                            border-bottom-right-radius: 0;
                        }
                    }
                }
            }
        }
    }
}

/* ==========================================================================
 *
 * Material Icons
 *
 */
.material-icons {
    font-family: @payex-material-icons;

    &.alert-icon {
        font-family: @payex-material-icons;
    }
}

.help-block {
    color: @help-block-text;
}

/* ==========================================================================
 *
 * Forms
 *
 */
.form-control {
    border-color: @brand-secondary-light-2;
    border-bottom-color: @brand-secondary;
}

/* ==========================================================================
 *
 *Input group
 *
 */
.input-group-addon {
    &:first-child {
        border-color: @brand-secondary-light-2;
        border-bottom-color: @brand-secondary;
    }
}

/* ==========================================================================
 *
 * Checkbox
 *
 */
.checkbox {
    border: @brand-secondary;

    input[type="checkbox"] {
        + label:after {
            border: 2px solid @brand-secondary;
        }

        + label:hover {
            border-color: @brand-secondary;
        }

        + label:focus {
            border-color: @brand-secondary-light-2;
            border: 2px solid @brand-secondary;
        }

        &:focus + label:before {
            box-shadow: 0 0 0 0.5rem @brand-secondary-light-2;
            border: 2px solid @brand-secondary;
        }

        &:focus + label:after {
            border: 2px solid @brand-secondary;
            border-color: @brand-secondary;
        }

        &:hover + label:before {
            box-shadow: 0 0 0 0.5rem @brand-secondary-light-2;
        }

        &:checked + label:after {
            background-color: @brand-secondary;
            border-color: @brand-secondary;
        }
    }
}

/* ==========================================================================
 *
 * Radiobuttons
 *
 */
.radio {
    border: @brand-secondary;

    input[type="radio"] {
        + label:before {
            border: 2px solid @radiobutton-border;
        }
    }
}

/* ==========================================================================
 *
 * Links
 *
 */
a {
    color: @brand-success;

    &:hover {
        color: @link-hover-color;
    }

    &:focus {
        color: @brand-success;
    }
}

a.icon-link {
    color: @brand-success;

    &:hover {
        color: @brand-primary;

        span {
            text-decoration: none;
        }
    }

    :focus {
        span {
            color: @link-hover-color;
            text-decoration: none;
        }
    }
}

a.action-link {
    &:after {
        color: @brand-secondary;
        content: "arrow_forward";
        font-family: @payex-material-icons;
        font-size: 1.5rem;
        top: calc(50% - 1.5rem / 2);
    }

    &:hover {
        color: @brand-secondary;
    }
}

a.action-link.action-link-new-tab {
    &:before {
        background-color: @brand-primary;
    }
}

/* ==========================================================================
 *
 * Badge
 *
 */
.badge.badge-default {
    font-family: @brand-default;
    color: @white;
}

span.status-badge.status-badge-javascript {
    color: @white;
}

/* ==========================================================================
 *
 * Loaders
 *
 */
.loader.loader-muted {
    border-left-color: @brand-secondary-light-2;
}

/* ==========================================================================
 *
 * Toast
 *
 */
#toast-container .toast {
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    &.toast-neutral,
    &.toast-success,
    &.toast-warning,
    &.toast-danger {
        border: none;
    }
}

/* ==========================================================================
 *
 * Alert
 *
 */
.alert {
    &.alert-success,
    &.alert-warning,
    &.alert-danger,
    &.alert-informative {
        border: none;
    }

    [data-alert-close] {
        color: @brand-secondary;
    }
}

/* ==========================================================================
 *
 * Table
 *
 */
.table > tbody > tr:nth-child(odd) {
    background-color: @light-gray;
}

/* ==========================================================================
 *
 * Tooltip
 *
 */
[data-tooltip] {
    &:before {
        border-color: @brand-secondary transparent transparent transparent;
    }

    .tooltip,
    &:after {
        background-color: @brand-secondary;
        color: @white;
    }
}
