/* ==========================================================================
 *
 * This file contains SwedbankPay brand specific variables
 *
 */

/* Main Brand Color Variants */
@brand-primary:                             #fdc129;
@brand-primary-bright:                      #ffcc00;
@brand-primary-faded:                         fade(@brand-primary, 60%);
@brand-secondary:                           #512b2b;
@brand-tertiary:                            #ee7023;
@brand-accent:                              #31a3ae;
@brand-accent-links:                        #257886;

/* Background Colors */
@bg-variant-1:                                #fbf2ea;
@bg-variant-2:                        #ebf8f2;
@bg-variant-3:                                   #fbedf4;
@bg-variant-4:                             #e9f7fb;
@bg-gray:                                   #ebe7e2;
@bg-white:                                  #ffffff;


@brand-success:                             #477d17;
@brand-success-light:                       #f2f7eb;
@brand-warning:                             #ff9900;
@brand-warning-light:                       #fffae5;
@brand-error-border:                        #f1bbb9;
@brand-error:                               #b24843;
@brand-error-light:                         #fceeed;
@brand-info:                                #2c7a8f;
@brand-info-light:                          #f0f9fb;
