/* ==========================================================================
 *
 * This file contains SwedbankPay brand specific variables
 *
 */

@brand-primary:                             #fdc129;
@brand-primary-faded:                         fade(@brand-primary, 60%);
@brand-secondary:                           #512b2b;
@brand-secondary2:                          #ee7023;
@brand-accent:                              #31a3ae;
@brand-accent-links:                        #257886;

@brand-success:                             #477d17;
@brand-success-light:                       #f2f7eb;
@brand-warning:                             #ff9900;
@brand-warning-light:                       #fffae5;
@brand-error-border:                        #f1bbb9;
@brand-error:                               #b24843;
@brand-error-light:                         #fceeed;
@brand-info:                                #2c7a8f;
@brand-info-light:                          #f0f9fb;
