@import "_variables";
@import "_mixins";

#px-designguide {
    width: 100%;
}

.designguide-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.75);

    &:before,
    &:after {
        display: none;
    }

    .header-links {
        a {
            padding: 0 1rem;

            &.active {
                font-weight: @font-weight-bold;
            }

            &:hover,
            &:focus {
                text-decoration: none;
            }

            &:active {
                outline: none;
            }
        }
    }

    .topbar-info {
        .topbar-info-contact {
            margin: 5px 0;
        }

        a {
            margin: 5px;
            color: @text-muted;
            fill: @text-muted;

            svg {
                overflow: visible;
                width: 2rem;
                height: 2rem;
                display: inline-block;
                vertical-align: top;
            }

            &:hover {
                color: darken(@text-muted, 20%);
                fill: darken(@text-muted, 20%);
            }
        }
    }

    .topbar-info-version {
        text-align: right;
    }
}

pre {
    font-size: 87.5%;
}
