@import "variables-swedbankpay.less";
@import "variables-payex.less";
@import "documentation-swedbankpay.less";

.documentation {
    .doc-container {
        &.dg-front-page {
            img {
                &.background-img {
                    &.cluster-bubble,
                    &.single-bubble,
                    &.two-bubbles,
                    &.large-bubble {
                        visibility: hidden;
                    }
                }
            }

            .dg-front-page-container {
                .dg-version-indicator {
                    span {
                        background-color: @brand-bg-1;
                    }
                }

                header {
                    .dg-title-big {
                        &.my-0 {
                            font-family: var(--brand-headline);
                        }
                    }
                }

                p {
                    &.front-page-lead {
                        font-family: var(--brand-default);
                    }
                }
            }

            i {
                &.material-icons-outlined {
                    font-family: var(--payex-material-icons);
                }
            }
        }
    }
}
