@import "swedbankpay.less";

/* Override variables */
@import "variables-payex";

@import "components/payex/alert.less";
@import "components/payex/badge.less";
@import "components/payex/button.less";
@import "components/payex/checkbox.less";
@import "components/payex/datepicker.less";
@import "components/payex/form.less";
@import "components/payex/input-group.less";
@import "components/payex/links.less";
@import "components/payex/loader.less";
@import "components/payex/logo.less";
@import "components/payex/progress-step.less";
@import "components/payex/radio.less";
@import "components/payex/sidebar.less";
@import "components/payex/table.less";
@import "components/payex/tabs.less";
@import "components/payex/toast.less";
@import "components/payex/tooltip.less";
@import "components/payex/card.less";

html,
body {
    font-family: @brand-default;

    p {
        &.lead {
            font-family: @brand-black;
            font-weight: 500;
        }
    }
}
