@import url("swedbankpay.less");

/* Override variables */
@import url("variables-payex");

@import url("components/payex/alert.less");
@import url("components/payex/badge.less");
@import url("components/payex/button.less");
@import url("components/payex/checkbox.less");
@import url("components/payex/datepicker.less");
@import url("components/payex/form.less");
@import url("components/payex/input-group.less");
@import url("components/payex/links.less");
@import url("components/payex/loader.less");
@import url("components/payex/logo.less");
@import url("components/payex/progress-step.less");
@import url("components/payex/radio.less");
@import url("components/payex/sidebar.less");
@import url("components/payex/table.less");
@import url("components/payex/tabs.less");
@import url("components/payex/toast.less");
@import url("components/payex/tooltip.less");
@import url("components/payex/card.less");

html,
body {
	font-family: var(--brand-default);

	p {
		&.lead {
			font-family: var(--brand-headline);
			font-weight: var(--font-weight-header, 500);
		}
	}
}
