/* ==========================================================================
 *
 * This file contains SwedbankPay brand specific variables
 *
 */

/* Grayscale */
@black:                                     #222222;
@text-gray:                                 #767676;
@list-gray:                                 #999999;
@light-gray:                                #f9f8f6;
@white:                                     #ffffff;

/* Brownscale */
@solid-brown:                               #2f2424;
@dark-brown:                                #493c3b;
@medium-brown:                              #72605e;
@soft-brown:                                #a38b80;
@light-brown:                               #d4c4bc;

/* Main Brand Color Variants */
@brand-primary:                             #fdc129;
@brand-primary-light:                       #ffcc00;
@brand-primary-light-2:                     #ffdf88;
@brand-primary-light-3:                     #fff3d5;
@brand-primary-faded:                         fade(@brand-primary, 60%);
@brand-secondary-dark-1:                    @dark-brown;
@brand-secondary-dark-2:                    @solid-brown;
@brand-secondary:                           #512b2b;
@brand-secondary-light-1:                   @medium-brown;
@brand-secondary-light-2:                   @soft-brown;
@brand-secondary-light-3:                   @light-brown;
@brand-secondary-light-4:                   #d4b8a3;
@brand-secondary-info-1:                    #8acdc3;
@brand-secondary-info-2:                    #efb7b6;

@brand-tertiary:                            #ee7023;
@brand-accent:                              #31a3ae;
@brand-accent-links:                        #257886;
@brand-accent-disabled:                     #98d0d6;


/* Background Colors */
@brand-bg-1:                                #fbf2ea;
@brand-bg-2:                                #ebf8f2;
@brand-bg-3:                                #fbedf4;
@brand-bg-4:                                #e9f7fb;
@brand-bg-gray:                             #ebe7e2;
@brand-bg-white:                            #ffffff;

/* State colors */
@brand-success:                             #437e15;
@brand-success-light:                       #f2f7eb;
@brand-success-light-2:                     #99cc66;
@brand-warning:                             #f9ce22;
@brand-warning-light:                       #fff3d5;
@brand-warning-2:                           @brand-tertiary;
@brand-error-border:                        #f1bbb9;
@brand-error:                               #c5131c;
@brand-error-light:                         #f9ded3;
@brand-info:                                #3e6ab6;
@brand-info-light:                          #e8eff9;

/* Brand fonts */
@brand-headline:                            "Swedbank Headline", "Arial", sans-serif;
@brand-black:                               "Swedbank Headline Black", "Arial", sans-serif;
@brand-monofont:                            "Akkurat Mono", monospace;
@brand-default:                             "Arial", sans-serif;

/* Button colors */
@primary-disabled-bg:                       @brand-primary-light-3;
@secondary-disabled-bg:                     #e3d1c3;
@destructive-disabled-bg:                   #f9ded3;

@btn-primary-color:                         @brand-secondary;
@btn-primary-bg:                            @brand-primary;
@btn-primary-hover:                         @brand-primary-light-2;
@btn-primary-disabled-color:                @brand-secondary-light-2;
@btn-primary-disabled-bg:                   @primary-disabled-bg;

@btn-secondary-color:                       @white;
@btn-secondary-bg:                          @brand-secondary;
@btn-secondary-hover:                       @brand-secondary-light-2;
@btn-secondary-disabled-color:              @white;
@btn-secondary-disabled-bg:                 @secondary-disabled-bg;

@btn-destructive-color:                     @white;
@btn-destructive-bg:                        @brand-error;
@btn-destructive-hover:                     #e07088;
@btn-destructive-disabled-color:            @white;
@btn-destructive-disabled-bg:               @destructive-disabled-bg;

@btn-link-color:                            @brand-secondary;
@btn-link-disabled-color:                   @brand-secondary-light-3;

/* Other colors */
@yellow-faded:                              #fbdd91;
@green-syntax-highlight:                    #99cc66;
@blue-syntax-highlight:                     #43d0dd;
@yellow-syntax-highlight:                   @brand-primary-light-3;
@pink-cards-details:                        #c5569a;
