/* ==========================================================================
 *
 * This file overrides variables with the PayEx brand theme
 *
 */

/* OVERRIDES */

/* Grayscale */
@black:                                     #000000;
@text-gray:                                 @brand-secondary;
@list-gray:                                 #999999;
@light-gray:                                #F4F4F4;
@white:                                     #ffffff;
@soft-brown:                                #707070;
@medium-brown:                              #72605e;

/* Main Brand Color Variants */
@brand-primary:                             #2A9D3F;
@brand-primary-light:                       @brand-primary;
@brand-primary-light-2:                     @brand-primary;
@brand-primary-light-3:                     @brand-primary;
@brand-primary-faded:                         fade(@brand-primary, 60%);

@brand-secondary:                           #3c3c3c;
@brand-secondary-light-1:                   @brand-secondary;
@brand-secondary-light-2:                   #C8C8C8;
@brand-secondary-light-3:                   @brand-secondary-light-2;
@brand-secondary-light-4:                   @brand-secondary;
@brand-secondary-info-1:                    @brand-secondary-light-3;
@brand-secondary-info-2:                    #efb7b6;

@brand-tertiary:                            @brand-primary;
@brand-accent:                              @brand-secondary;
@blue-bright:                               @brand-secondary-light-2;
@brand-accent-links:                        @brand-primary;
@payex-light-blue:                          #32B2DD;
@payex-dark-blue:                           #1E3A6E;

/* Background Colors */
@brand-bg-1:                                #E8F3E6;
@brand-bg-2:                                #E8F3E6;
@brand-bg-3:                                #fbedf4;
@brand-bg-4:                                #EAF8FC;
@brand-bg-gray:                             @brand-secondary-light-2;
@brand-bg-white:                            #ffffff;
@bg-quaternary:                             @list-gray;

/* State colors */
@brand-success:                             #238635;
@brand-success-light:                       #E8F3E6;
@brand-success-light-2:                     @brand-success;
@brand-warning:                             #F35B1C;
@brand-warning-light:                       #FFECD5;
@brand-warning-2:                           #F35B1C;
@brand-error-border:                        #f1bbb9;
@brand-error:                               #C5131C;
@brand-error-light:                         #FFEBE3;
@brand-info:                                #3E6AB6;
@brand-info-light:                          #E8EFF9;

/* Checkbox */
@checkbox-checked-color:                    @brand-secondary;

/* Button colors */
@primary-disabled-bg:                       #f5b895;
@secondary-disabled-bg:                     #98d0d6;
@destructive-disabled-bg:                   #f9ded3;

@btn-primary-color:                         @white;
@btn-primary-bg:                            @brand-success;
@btn-primary-hover:                         @brand-tertiary;
@btn-primary-disabled-color:                @white;
@btn-primary-disabled-bg:                   @brand-secondary-light-2;

@btn-secondary-color:                       @white;
@btn-secondary-bg:                          @brand-secondary;
@btn-secondary-hover:                       @brand-primary;
@btn-secondary-disabled-color:              @white;
@btn-secondary-disabled-bg:                 @brand-secondary-light-2;

@btn-destructive-color:                     @white;
@btn-destructive-bg:                        @brand-error;
@btn-destructive-hover:                     #EE4E56;
@btn-destructive-disabled-color:            @white;
@btn-destructive-disabled-bg:               @destructive-disabled-bg;

@btn-link-color:                            @brand-secondary;
@btn-link-disabled-color:                   @list-gray;
@link-hover-color:                          @brand-primary;
@link-color:                                @btn-primary-bg;

/* Input */
@input-color:                               @brand-secondary;
@input-bg:                                  @white;
@input-bg-disabled:                         @white;
@input-checked-bg-disabled:                 @brand-secondary-light-3;
@input-addon-color:                         @brand-secondary;

/* Panel */
@panel-default-border-color: @brand-secondary-light-3;

/* Other colors */
@yellow-faded:                              #FBDD91;
@green-syntax-highlight:                    #99CC66;
@blue-syntax-highlight:                     #43D0DD;
@yellow-syntax-highlight:                   #FFF3D5;
@pink-cards-details:                        #c5569a;
@dark-brown:                                @brand-secondary;
@light-brown:                               @brand-secondary-light-3;
@help-block-text:                           #707070;
@tab-link:                                  @help-block-text;
@radiobutton-border:                        @help-block-text;

html,
body {
    font-family: var(--brand-default);

    p {
        &.lead {
            font-family: var(--brand-default);
            font-weight: var(--font-weight-bold);
        }
    }
}

.material-icons {
    font-family: var(--payex-material-icons);

    &.alert-icon {
        font-family: "Material icons";
    }
}


/* ==================================CSS VARIABLES========================================
*
* NEW CSS VARIABLES - work in progress
*
*/
:root {
    /* Grayscale */
    --black: #000000;
    --text-gray: var(--brand-secondary, #3c3c3c);
    --list-gray: #999999;
    --light-gray: #f4f4f4;
    --white: #ffffff;
    --soft-brown: #707070;
    --medium-brown: #72605e;

    /* Main Brand Color Variants */
    --brand-primary: #2a9d3f;
    --brand-primary-light: var(--brand-primary, #2a9d3f);
    --brand-primary-light-2: var(--brand-primary, #2a9d3f);
    --brand-primary-light-3: var(--brand-primary, #2a9d3f);

    /* below, faded LESS function, not possible in CSS yet, keep LESS equivalent until possible conversion */

    /* TODO: to be converted: --brand-primary-faded:  fade(var(--brand-primary, #2A9D3F), 60%); */

    --brand-secondary: #3c3c3c;
    --brand-secondary-hover: #5f5f5f;
    --brand-secondary-light-1: var(--brand-secondary, #3c3c3c);
    --brand-secondary-light-2: #c8c8c8;
    --brand-secondary-light-3: var(--brand-secondary-light-2, #c8c8c8);
    --brand-secondary-light-4: var(--brand-secondary, #3c3c3c);
    --brand-secondary-info-1: var(--brand-secondary-light-3, #c8c8c8);
    --brand-secondary-info-2: #efb7b6;
    --brand-tertiary: var(--brand-primary, #2a9d3f);
    --brand-accent: var(--brand-secondary, #3c3c3c);
    --blue-bright: var(--brand-secondary-light-2, #c8c8c8);
    --brand-accent-links: var(--brand-primary, #2a9d3f);
    --payex-light-blue: #32b2dd;
    --payex-dark-blue: #1e3a6e;

    /* Background Colors */
    --brand-bg-1: #e8f3e6;
    --brand-bg-2: #e8f3e6;
    --brand-bg-3: #fbedf4;
    --brand-bg-4: #eaf8fc;
    --brand-bg-gray: var(--brand-secondary-light-2, #c8c8c8);
    --brand-bg-white: #ffffff;
    --bg-quaternary: var(--list-gray, #999999);

    /* State colors */
    --brand-success: #238635;
    --brand-success-light: #e8f3e6;
    --brand-success-light-2: var(--brand-success, #238635);
    --brand-warning: #f35b1c;
    --brand-warning-light: #ffecd5;
    --brand-warning-2: #f35b1c;
    --brand-error-border: #f1bbb9;
    --brand-error: #c5131c;
    --brand-error-light: #ffebe3;
    --brand-info: #3e6ab6;
    --brand-info-light: #e8eff9;

    /* Checkbox */
    --checkbox-checked-color: var(--brand-secondary, #3c3c3c);

    /* BUTTONS COLORS */
    --primary-disabled-bg: #f5b895;
    --secondary-disabled-bg: #98d0d6;
    --btn-primary-color: var(--brand-success, #238635);
    --btn-primary-text-color: var(--white, #ffffff);
    --btn-primary-bg: var(--brand-success, #238635);
    --btn-primary-hover: var(--brand-tertiary, #2a9d3f);
    --btn-primary-disabled-color: var(--white, #ffffff);
    --btn-primary-disabled-bg: var(--brand-secondary-light-2, #c8c8c8);

    /* btn-secondary */
    --btn-secondary-color: var(--white, #ffffff);
    --btn-secondary-bg: var(--brand-secondary, #3c3c3c);
    --btn-secondary-text-color: var(--brand-secondary, #3c3c3c);
    --btn-secondary-border-color: var(--brand-secondary, #3c3c3c);
    --btn-secondary-hover: var(--brand-secondary, #3c3c3c);
    --btn-secondary-disabled-color: var(--white, #ffffff);
    --btn-secondary-disabled-bg: var(--brand-secondary-light-2, #c8c8c8);


    /* btn-tertiary */
    --btn-tertiary-color: var(--brand-secondary, #3c3c3c);
    --btn-tertiary-text-color: var(--white, #ffffff);
    --btn-tertiary-hover: var(--brand-secondary-hover, #5f5f5f);
    --btn-tertiary-disabled: var(--btn-bg-disabled, rgb(212 196 188 / 30%));

    /* btn-destructive */
    --destructive-disabled-bg: #f9ded3;
    --btn-destructive-color: var(--white, #ffffff);
    --btn-destructive-bg: var(--brand-error, #c5131c);
    --btn-destructive-hover: #ee4e56;
    --btn-destructive-disabled-color: var(--white, #ffffff);
    --btn-destructive-disabled-bg: var(--destructive-disabled-bg, #f9ded3);
    --btn-link-color: var(--brand-secondary, #3c3c3c);
    --btn-link-disabled-color: var(--list-gray, #999999);
    --link-hover-color: var(--brand-primary, #2a9d3f);
    --link-color: var(--btn-primary-bg, #238635);

    /* Shared button variables */
    --btn-disabled-text: var(--text-disabled);
    --btn-bg-disabled: rgb(212 196 188 / 30%);
    --btn-active-color: var(--payex-light-blue);

    /* INPUTS COLORS */
    --input-color: var(--brand-secondary, #3c3c3c);
    --input-bg: var(--white, #ffffff);
    --input-bg-disabled: var(--white, #ffffff);
    --input-checked-bg-disabled: var(--brand-secondary-light-3, #c8c8c8);
    --input-addon-color: var(--brand-secondary, #3c3c3c);
    --input-border-color: var(--brand-secondary-hover, #5f5f5f);
    --input-border-focus-color: var(--brand-secondary, #3c3c3c);
    --input-border-success-color: var(--payex-light-blue);

    /* Panel */
    --panel-default-border-color: var(--brand-secondary-light-3, #c8c8c8);

    /* Other colors */
    --yellow-faded: #fbdd91;
    --green-syntax-highlight: #99cc66;
    --blue-syntax-highlight: #43d0dd;
    --yellow-syntax-highlight: #fff3d5;
    --pink-cards-details: #c5569a;
    --dark-brown: var(--brand-secondary, #3c3c3c);
    --light-brown: var(--brand-secondary-light-3, #c8c8c8);
    --help-block-text: #707070;
    --tab-link: var(--help-block-text, #707070);
    --radiobutton-border: var(--help-block-text, #707070);

    /* UNIVERSAL UTILITIES */
    --border-radius: 8px;

    /* TYPOGRAPHY */

    /* Brand fonts */
    --brand-black: "Futura PT W08 Medium", sans-serif;
    --brand-default: "Futura PT W08 Book", sans-serif;
    --brand-monofont: monospace;
    --payex-material-icons: "Material Icons Outlined";
    --brand-headline: "Futura PT W08 Demi", sans-serif;
    --brand-font-default: "Futura PT W08 Book", sans-serif;

    /* Font weights */
    --font-weight-header: 400;
}
