/* Base colors */
/* Grayscale */
/* Brand colors */
/* Background colors */
/* Shadows */
/* State colors */
/* Margins */
/* Spacing */
/* Body */
/* Cursor */
/* Borders */
/* Z-index master list */
/* Media queries breakpoints */
/* Colors */
/* Dimensions */
/* Animations */
/* Colors */
/* Font Size */
/* Font Weight */
/* Temporary for backwards compatibility    */
/* Headings */
/* Paragraphs */
/* Etc */
/* Small */
/* Colors */
/* Colors */
/* Default colors */
/* Contextual colors */
/* For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 *
 * Source: http://nicolasgallagher.com/micro-clearfix-hack/
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* Image Mixins
 * - Responsive image
 * - Retina image
 */
/* Responsive image
 *
 * Keep images from scaling beyond the width of their parents.
 */
/* Retina image
 *
 * Short retina mixin for setting background-image and -size. Note that the
 * spelling of `min--moz-device-pixel-ratio` is intentional.
 */
#px-designguide {
  width: 100%;
}
.designguide-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.75);
}
.designguide-header .topbar-logo {
  margin-right: 0;
}
.designguide-header:before,
.designguide-header:after {
  display: none;
}
.designguide-header .header-links a {
  padding: 0 1rem;
}
.designguide-header .header-links a.active {
  font-weight: 700;
}
.designguide-header .header-links a:hover,
.designguide-header .header-links a:focus {
  text-decoration: none;
}
.designguide-header .header-links a:active {
  outline: none;
}
.designguide-header .topbar-info {
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}
.designguide-header .topbar-info a {
  margin: 5px;
  color: rgba(60, 60, 60, 0.75);
  fill: rgba(60, 60, 60, 0.75);
}
.designguide-header .topbar-info a svg {
  overflow: visible;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  vertical-align: top;
}
.designguide-header .topbar-info a:hover {
  color: rgba(9, 9, 9, 0.75);
  fill: rgba(9, 9, 9, 0.75);
}
.designguide-header .topbar-info-version {
  text-align: right;
}
pre {
  font-size: 87.5%;
}
.color-preview {
  width: 100%;
  color: #ffffff;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
}
.color-preview p {
  margin: 0;
}
.showcase-panel div.d-block,
.showcase-panel div.d-inline {
  padding: 0.5rem;
}
.showcase-grid .row > [class*="col"] {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: #e6e7e8;
  border: 1px solid rgba(209, 211, 212, 0.8);
}
.showcase-grid .row + .row {
  margin-top: 1rem;
}
.showcase-grid.showcase-vertical-space .row {
  background: #efefef;
  height: 10rem;
}
.browser-support-table th,
.browser-support-table tr {
  text-align: center;
  vertical-align: middle;
}
.browser-support-table svg {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
}
#mail_icon {
  background: url(/img/payexmail.png?e7c2d6cf7099ce951f568b2053f09c51);
}


/*# sourceMappingURL=designguide.css.map*/