
input {
    width: 50vw;
}

.result-box {
    background-color: #ffffff;
    border: 1px solid #000000;
    position: fixed;
    width: 50vw;
    z-index: 10000;
}

.result:hover {
    background-color: #123456;
    color: #ffffff;
}
