.accordion {
    border-radius: 2px;
    display: flex;
    flex-direction: column;

    .accordion-item {
        margin-bottom: 1rem;
        padding: 1rem;
        border: 0 solid @light-brown;
        border-width: 1px 1px 0 1px;
        box-shadow: 0 3px 1px -1px @light-brown;

        &:last-child {
            margin-bottom: 0;
        }

        /* stylelint-disable selector-list-comma-newline-after */
        > h1, > h2, > h3, > h4, > h5, > h6,
        > .h1, > .h2, > .h3, > .h4, > .h5, > .h6 {
            position: relative;
            margin: -1rem -1rem -1rem 1.5rem;
            padding: 1rem 1rem 1rem 0;
            cursor: pointer;

            &:before {
                content: "";
                position: absolute;
                height: 10px;
                width: 10px;
                border-bottom: 2px solid @dark-brown;
                border-right: 2px solid @dark-brown;
                left: -1.2rem;
                top: -2px;
                bottom: 0;
                margin: auto;
                transform: rotate(45deg);
            }
        }
        /* stylelint-enable selector-list-comma-newline-after */

        .accordion-content {
            max-height: 0;
            padding: 0;
            overflow: hidden;
            transition: all 0.3s;

            > :first-child {
                margin-top: 1rem;
            }
        }

        &.accordion-open {
            border: 1px solid @medium-brown;
            box-shadow: none;

            /* stylelint-disable selector-list-comma-newline-after */
            > h1, > h2, > h3, > h4, > h5, > h6,
            > .h1, > .h2, > .h3, > .h4, > .h5, > .h6 {
                color: @medium-brown;

                &:before {
                    transform: rotate(-135deg);
                    top: 2px;
                }
            }

            .accordion-content {
                max-height: 100vh;
                transition: all 0.8s;
            }
            /* stylelint-enable selector-list-comma-newline-after */
        }
    }
}
