.alert {
    padding: @base-padding;
    position: relative;
    margin-top: 0;
    margin-bottom: @base-margin;
    display: flex;
    color: @black;
    border-radius: 0.25rem;

    &.alert-success {
        .alert-variant(@brand-success, @brand-success-light);
    }

    &.alert-warning {
        .alert-variant(#F35B1C, @brand-warning-light);
    }

    &.alert-danger {
        .alert-variant(@brand-error, @brand-error-light);
    }

    &.alert-informative {
        .alert-variant(@brand-info, @brand-info-light);
    }

    > p {
        margin-bottom: 0;
    }

    [data-alert-close] {
        all: unset;
        align-self: baseline;

        .close-button();
    }

    //Will be restored at a later stage

    /*
    &.alert-global {
        color: @white;
        border-radius: 0;
        margin-bottom: 0;

        &.alert-warning {
            .alert-variant(@white, @brand-error);
        }

        &.alert-informative {
            .alert-variant(@white, @brand-info);
        }
    } */
}
