.alert {
    padding: @base-padding;
    position: relative;
    margin-top: 0;
    margin-bottom: @base-margin;
    display: flex;

    &.alert-default {
        .alert-variant(@text-gray, @light-gray);

        .alert-icon {
            color: @text-gray;
        }
    }

    &.alert-success {
        .alert-variant(@brand-success, @brand-success-light);
    }

    &.alert-neutral {
        .alert-variant(@brand-info, @brand-info-light);
    }

    &.alert-warning {
        .alert-variant(@brand-warning, @brand-warning-light);
    }

    &.alert-danger {
        .alert-variant(@brand-error, @brand-error-light);
    }

    &.alert-complex {
        flex-direction: column;
    }

    > p {
        margin-bottom: 0;
    }

    .alert-icon {
        margin-right: @base-margin;
    }

    .alert-header {
        .header-margin-none();

        display: flex;
        flex: 0 1 100%;
        align-items: center;
        margin-bottom: 0.5rem;
    }

    .alert-body {
        margin: 0 2.5rem;

        :last-child {
            margin-bottom: 0;
        }
    }


    [data-alert-close] {
        margin-left: auto;
        .close-button();
    }
}
