.make-badge(@badgelist) {
    @name: extract(@badgelist, 1);
    @color: extract(@badgelist, 2);

    &.badge-@{name} {
        background-color: @color;
        border: 1px solid @color;
    }
}

.badge {
    color: @white;
    padding: @badge-padding;
    border-radius: 0.1875rem;

    .for-each(@badge in @badge-list) {
        .make-badge(@badge);
    }

    .material-icons {
        font-size: 1rem;
        vertical-align: text-top;
    }
}
