.badge {
    display: inline-block;
    color: @white;
    padding: 0 0.4em; /* stylelint-disable-line */ /* Using em for variable padding based on font-size of badge [AW] */
    border-radius: 2rem;
    font-size: 0.875rem;
    min-width: 1.375rem;
    height: 1.375rem;
    text-align: center;

    each(@badge-list, .(@color, @name) {
        &.badge-@{name} {
            background-color: @color;
            border: 1px solid @color;
        }
    });

    .material-icons {
        font-size: 1rem;
        vertical-align: text-top;
    }

    &.badge-default {
        color: @brand-secondary-dark-2;
    }

    &.badge-number {
        font-family: @brand-headline;
        font-weight: @font-weight-normal;
    }
}

.status-badge {
    display: inline-block;
    color: @white;
    padding: 0 0.4em; /* stylelint-disable-line */ /* Using em for variable padding based on font-size of badge [AW] */
    border-radius: 2rem;
    font-size: 0.875rem;
    min-width: 1.375rem;
    height: 1.375rem;
    text-align: center;
}
