.badge {
    display: inline-block;
    color: @white;
    padding: 0 0.4em; /* stylelint-disable-line */ /* Using em for variable padding based on font-size of badge [AW] */
    border-radius: 2rem;
    font-size: 0.875rem;
    min-width: 1.375rem;
    height: 1.375rem;
    text-align: center;

    each(@badge-list, .(@color, @name) {
        &.badge-@{name} {
            background-color: @color;
            border: 1px solid @color;
        }
    });

    .material-icons {
        font-size: 1rem;
        vertical-align: text-top;
    }

    &.badge-default {
        color: @brand-secondary-dark-2;
    }

    &.badge-number {
        font-family: @brand-headline;
        font-weight: @font-weight-normal;
    }
}

.status-badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.75rem;
    border-radius: 2rem;
    font-size: 0.875rem;
    font-weight: @font-weight-bold;
    min-width: 1.375rem;
    height: 1.75rem;
    margin: 1rem;

    &.status-badge-new {
        background-color: @brand-success-light;
        color: @brand-success;
    }

    &.status-badge-updated {
        background-color: @brand-info-light;
        color: @brand-info;
    }

    &.status-badge-remove {
        background-color: @brand-error-light;
        color: @brand-error;
    }

    &.status-badge-javascript {
        background-color: @brand-primary-light-3;
        color: @brand-secondary;

        .javascript-icon {
            height: 1.25rem;
            width: 1.25rem;
            display: inline-flex;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            margin-right: 0.5rem;
            background-image: url("../../icons/javascript.svg");
        }
    }

    .material-icons {
        font-size: 1.25rem;
        margin-right: 0.5rem;
    }
}
