@import "../global.less";

:root {
    --btn-primary-color: var(--brown-solid);
    --btn-primary-text-color: var(--text-white);
    --btn-primary-hover: var(--brown-medium);
    --btn-primary-disabled: var(--btn-bg-disabled);
    // btn-secondary
    --btn-secondary-color: var(--white);
    --btn-secondary-text-color: var(--text-default);
    --btn-secondary-border-color: var(--brown-medium);
    --btn-secondary-hover: var(--brown-light);
    // btn-tertiary
    --btn-tertiary-color: var(--gray);
    --btn-tertiary-text-color: var(--brown-solid);
    --btn-tertiary-hover: var(--brown-light);
    --btn-tertiary-disabled: var(--btn-bg-disabled);
    // Shared button variables
    --btn-disabled-text: var(--text-disabled);
    --btn-bg-disabled: rgba(212, 196, 188, 0.3);
}

.new-btn {
    display: inline-flex;
    align-items: center;
    position: relative;
    font-weight: @font-weight-normal;
    font-family: @brand-headline;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    line-height: 23.72px;
    border: 1px solid transparent;
    white-space: nowrap;
    user-select: none;
    height: 60px;
    border-radius: var(--border-radius);
    font-size: 18px;
    padding: 12px 16px 12px 16px;

    &.btn-cta {
        height: 72px;
        font-size: 20px;
        line-height: 24px;
        padding: 24px;
    }

    &.btn-small {
        height: 48px;
        font-size: 14px;
        line-height: 16px;
        padding: 12px;
    }

    &.btn-xsmall {
        height: 38px;
        font-size: 14px;
        line-height: 16px;
        padding: 8px;
    }

    &.btn-primary {
        background-color: var(--btn-primary-color);
        color: var(--btn-primary-text-color);

        &:hover {
            background-color: var(--btn-primary-hover);
        }
    }

    &.btn-secondary {
        background-color: var(--btn-secondary-color);
        color: var(--btn-secondary-text-color);
        border: 1px solid var(--btn-secondary-border-color);

        &:hover {
            box-shadow: inset 0 0 0 3px var(--btn-secondary-hover);
            border-color: var(--btn-secondary-hover);
        }
    }

    &.btn-tertiary {
        background-color: var(--btn-tertiary-color);
        color: var(--btn-tertiary-text-color);

        &:hover {
            background-color: var(--btn-tertiary-hover);
        }
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &,
        &:hover,
        &:focus,
        &.focus,
        &[active],
        &:active,
        &.active {
            color: var(--btn-disabled-text);
            outline: none;
            cursor: not-allowed;
            box-shadow: none;

            &.btn-secondary {
                border-color: var(--btn-disabled-text);
            }

            &.btn-primary,
            &.btn-tertiary {
                background-color: var(--btn-bg-disabled);
            }
        }
    }
}

.button-variant(@color, @background, @hover, @disabled-color, @disabled-bg, @focus-shadow, @active-border-color) {
    color: @color;
    background-color: @background;

    &:focus,
    &.focus {
        outline: 2px solid @focus-shadow;
        background-color: @hover;
    }

    &:hover {
        color: @color;
        background-color: @hover;
    }

    &[active],
    &:active,
    &.active {
        .button-active-state(@active-border-color);

        &:hover,
        &:focus,
        &.focus {
            color: @color;
            background-color: @background;
        }
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &,
        &:hover,
        &:focus,
        &.focus,
        &[active],
        &:active,
        &.active {
            background: @disabled-bg;
            color: @disabled-color;
            outline: none;
        }
    }
}

.button-default-variant(@color, @background, @hover, @disabled-color, @disabled-bg, @focus-shadow, @active-border-color, @active-bg-color) {
    color: @color;
    background-color: @background;

    &:focus,
    &.focus {
        outline: 2px solid @focus-shadow;
        background-color: @background;
    }

    &:hover {
        color: @color;
        background-color: @hover;
    }

    &[active],
    &:active,
    &.active {
        .button-active-state(@active-border-color);

        &:hover,
        &:focus,
        &.focus {
            color: @color;
            background-color: @active-bg-color;
        }
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &,
        &:hover,
        &:focus,
        &.focus,
        &[active],
        &:active,
        &.active {
            background: @disabled-bg;
            color: @disabled-color;
            outline: none;
        }
    }
}

.button-outline-variant(@color, @background, @hover-color, @disabled-color, @disabled-bg, @focus-shadow, @active-border-color) {
    background: @white;
    color: @color;
    border-color: @background;

    &:focus,
    &.focus {
        color: @hover-color;
        background-color: @background;
        outline: 2px solid @focus-shadow;
    }

    &:hover {
        color: @hover-color;
        background-color: @background;
    }

    &[active],
    &:active,
    &.active {
        .button-outline-variant-active-state(@background, @active-border-color, @white);
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &,
        &:hover,
        &:focus,
        &.focus,
        &[active],
        &:active,
        &.active {
            background-color: @disabled-bg;
            color: @disabled-color;
            border-color: @disabled-color;
            border-width: 1px;
            outline: none;
        }
    }
}

.button-link-variant(@color, @disabled-color, @focus-shadow) {
    color: @color;
    font-family: @brand-default;
    font-weight: normal;
    background: transparent;

    &[active],
    &:active,
    &.active,
    &[disabled],
    fieldset[disabled] & {
        background-color: transparent;
        box-shadow: none;
    }

    &:hover,
    &:active {
        box-shadow: none;
        border-color: @color;
    }

    &:focus {
        outline: 0;
        box-shadow: 0 0 0 0.1rem @focus-shadow;
        border-color: @color;
    }

    &:hover,
    &:focus {
        background-color: transparent;
    }

    &[disabled],
    fieldset[disabled] & {
        color: @disabled-color;
        text-decoration: none;
        border: none;
    }

    span {
        text-decoration: none;
    }

    span:only-child {
        text-decoration: underline;
    }
}

.button-ghost(@color) {
    color: @white;
    background: transparent;
    border: 1px solid @white;

    &:focus,
    &.focus,
    &:hover,
    &:active {
        .button-active-state(@white, @color);
    }
}

.button-link-variant(@color) {
    color: @color;

    &:hover,
    &:focus {
        color: darken(@color, 10%);
    }
}

.button-active-state(@border) {
    outline: 2px solid @border;
}

.button-outline-variant-active-state(@background; @border; @text) {
    background-color: @background;
    outline: 2px solid @border;
    color: @text;
}

// Button sizes
.button-size(@padding-horizontal; @height; @font-size; @line-height; @border-radius) {
    padding: 0 @padding-horizontal;
    font-size: @font-size;
    line-height: @line-height;
    border-radius: @border-radius;
    height: @height;
}

.button-icon-size(@padding-horizontal; @height; @width; @font-size; @line-height; @border-radius) {
    padding: 0 @padding-horizontal;
    font-size: @font-size;
    line-height: @line-height;
    border-radius: @border-radius;
    height: @height;
    width: @width;
}

.btn-loader-variant(@max-height; @min-height; @width; @margin; @font-size; @btn-height) {
    max-height: @max-height;
    display: inline-block;
    position: absolute;
    top: calc(~"50% - @{btn-height}");
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    .loader-icon {
        bottom: (@font-size / 2) - (@font-size / 8);
        width: (@width * 3) + (@margin * 2);
        height: @max-height / 2;

        li {
            width: @width;
            height: @min-height;
            margin-right: @margin;
            margin-top: (@max-height - @min-height) / 2;
        }

        li:first-child {
            margin-right: 0;
        }
    }
}

@btn-font-size:                             1.125rem;
@btn-min-width:                             112px;

@btn-font-size-sm:                          1.6rem;
@btn-font-size-xs:                          1.2rem;

@btn-padding-horizontal:                    1rem;
@btn-default-height:                        3rem;
@btn-default-width:                         auto;

.button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.btn {
    display: inline-flex;
    align-items: center;
    position: relative;
    font-weight: @font-weight-normal;
    font-family: @brand-headline;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    line-height: 1rem;
    border: 1px solid transparent;
    white-space: nowrap;
    user-select: none;

    /* padding-top-bottom, padding-left-right, font-size, line-height */
    .button-size(@btn-padding-horizontal; @btn-default-height; @btn-font-size; @line-height-large; @btn-border-radius-large);
    .button-icon-size(@btn-padding-horizontal; @btn-default-height; @btn-default-width; @btn-font-size; @line-height-large; @btn-border-radius-large);

    .material-icons,
    .material-icons-outlined {
        font-size: 1.25rem;
        position: relative;
        display: inline-block;
        line-height: 1;

        &:not(:last-child) {
            margin-right: 0.5rem;
        }
    }

    &.btn-icon-xl {
        .button-icon-size(0.45rem; 3rem; 3rem; @font-size-small; @line-height-small; @btn-border-radius-small);

        .material-icons-outlined {
            font-size: 2rem;
        }
    }

    &.btn-icon-lg {
        .button-icon-size(0.3rem; 2.5rem; 2.5rem; @font-size-small; @line-height-small; @btn-border-radius-small);

        .material-icons-outlined {
            font-size: 1.75rem;
        }
    }

    &.btn-icon-sm {
        .button-icon-size(0.2rem; 2rem; 2rem; @font-size-small; @line-height-small; @btn-border-radius-small);

        .material-icons-outlined {
            font-size: 1.5rem;
        }
    }

    &.btn-icon-xs {
        .button-icon-size(2px; 1.5rem; 1.5rem; @font-size-small; @line-height-small; @btn-border-radius-small);

        .material-icons-outlined {
            font-size: 1.15rem;
        }
    }

    &:last-child {
        margin-right: 0;
    }

    &,
    &[active],
    &:active,
    &.active {
        &:focus,
        &.focus {
            .tab-focus();
        }
    }

    &:hover,
    &:focus,
    &.focus {
        color: @btn-secondary-color;
        text-decoration: none;
        outline: 3px solid transparent;
    }

    &[active],
    &:active,
    &.active {
        outline: 3px solid transparent;
        background-image: none;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        cursor: not-allowed;
        box-shadow: none;

        * {
            pointer-events: none;
        }

        &.btn-primary {
            &.btn-bank-id {
                i.bank-id {
                    background-color: @brand-secondary-light-2;
                }
            }
        }
    }

    a& {
        &.disabled,
        fieldset[disabled] & {
            pointer-events: none; /* Future-proof disabling of clicks on `<a>` elements */
        }
    }

    // Alternate buttons
    // --------------------------------------------------

    &.btn-primary {
        .button-variant(@btn-primary-color, @btn-primary-bg, @btn-primary-hover, @btn-primary-disabled-color, @btn-primary-disabled-bg, @brand-secondary, @btn-primary-hover);

        &.btn-bank-id {
            display: flex;
            justify-content: center;

            i.bank-id {
                height: 1.5rem;
                width: 1.5rem;
                display: inline-flex;
                background-image: none;
                margin-left: 0.5rem;
                background-color: @brand-secondary;

                &-no,
                &.no {
                    mask-image: url("../../icons/bank-id/bankid_no.svg");
                }

                &-se,
                &.se {
                    mask-image: url("../../icons/bank-id/bankid_se.svg");
                }
            }
        }
    }

    &.btn-secondary {
        .button-outline-variant(@btn-secondary-bg, @btn-secondary-bg, @btn-secondary-color, @btn-secondary-disabled-bg, @btn-secondary-disabled-color, @brand-primary, #944E4E);
    }

    &.btn-default {
        .button-default-variant(@btn-secondary-bg, transparent, #e5e2e2 , @btn-secondary-disabled-bg, @btn-secondary-disabled-color, @brand-secondary, transparent, #d8d2d2);
    }

    &.btn-guiding-destructive {
        .button-outline-variant(@btn-destructive-bg, @btn-destructive-bg, @btn-destructive-color, @btn-destructive-disabled-bg, @btn-destructive-disabled-color, @brand-secondary, #EE5058);
    }

    &.btn-executive-destructive {
        .button-variant(@btn-destructive-color, @btn-destructive-bg, @btn-destructive-hover, @btn-destructive-disabled-color, @btn-destructive-disabled-bg, @brand-secondary, #EE5058);
    }

    // Link buttons
    // -------------------------

    // Make a button look and behave like a link
    &.btn-link {
        .button-link-variant(@btn-link-color, @btn-link-disabled-color, @brand-secondary);
    }

    &.btn-link-destructive {
        .button-link-variant(@btn-destructive-bg, @btn-destructive-disabled-bg, @btn-destructive-bg);
    }

    // Button Sizes
    // --------------------------------------------------

    &.btn-lg {
        // line-height: ensure even-numbered height of button next to large input
        .button-size(@btn-padding-horizontal; @btn-default-height; @btn-font-size; @line-height-large; @btn-border-radius-large);
    }

    &.btn-sm {
        // line-height: ensure proper height of button next to small input
        .button-size(0.75rem; 2.5rem; @font-size-small; @line-height-small; @btn-border-radius-small);
    }

    &.btn-xs {
        .button-size(0.5rem; 2rem; @font-size-small; @line-height-small; @btn-border-radius-small);
    }

    // Block button
    // --------------------------------------------------

    &.btn-block {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    // Vertically space out multiple block buttons
    &.btn-block + .btn-block {
        margin-top: @base-margin-sm;
    }

    // Specificity overrides
    &input[type="submit"],
    &input[type="reset"],
    &input[type="button"] {
        &.btn-block {
            width: 100%;
        }
    }

    // Loader button
    // --------------------------------------------------

    &.loading {
        &:after {
            content: "";
            border-radius: 50%;
            margin-left: 0.5rem;
            border: 0.15rem solid;
            width: 1rem;
            height: 1rem;
            animation: loader-spin 0.8s linear infinite;
        }

        &.btn-primary,
        &.btn-secondary,
        &.btn-link,
        &.btn-executive-destructive,
        &.btn-guiding-destructive,
        &.btn-link-destructive {
            &:after {
                border-color: lighten(@brand-secondary, 40%);
                border-left-color: @brand-secondary;
            }
        }

        &.btn-sm,
        &.btn-xs {
            &:after {
                width: 0.75rem;
                height: $width;
            }
        }

        &.btn-bank-id {
            i.bank-id {
                display: none;
            }
        }
    }
}

@keyframes loader-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (forced-colors: active) {
    .btn,
    .button-variant,
    .button-outline-variant {
        border: 3px solid;

        &:focus,
        &.focus {
            outline: 2px solid;
        }
    }
}

@media (forced-colors: active) {
    .btn {
        &.btn-link,
        &.btn-link-destructive {
            &:focus {
                outline: 2px solid transparent;
            }
        }
    }
}
