.cards {
    display: block;

    .card {
        background-color: @white;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        max-width: none;
        margin: 0 0 @base-margin;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        header {
            padding: 0 @base-padding;

            /* stylelint-disable selector-list-comma-newline-after */
            h1, h2, h3, h4, h5, h6,
            .h1, .h2, .h3, .h4, .h5, .h6 {
                margin: @base-margin 0;
            }
            /* stylelint-enable selector-list-comma-newline-after */

            a {
                border: none;
            }
        }

        &.card-default {
            header {
                background-color: @background-body;
                border-bottom: 1px solid @gray-9;

                * {
                    color: @text-color;
                }
            }
        }

        &.card-brand {
            header {
                background-color: @brand-primary;
                border-bottom-color: darken(@brand-primary, 10%);

                * {
                    color: @white;
                }
            }
        }

        &.card-light {
            header {
                background-color: @white;
                border-bottom: 1px solid @gray-9;

                * {
                    color: @brand-primary;
                }
            }
        }

        .highlight {
            padding: @base-padding-xl;
            background-color: @gray-10;
            display: flex;
            justify-content: center;
            align-content: center;

            > * {
                color: @gray-3 !important; /* stylelint-disable-line declaration-no-important */
                margin-bottom: 0;
            }

            .material-icons {
                color: @gray-3;
            }

            .media {
                .media-body {
                    p,
                    small,
                    h2,
                    h3,
                    h4 {
                        color: @gray-3;
                    }
                }
            }
        }

        .card-body {
            padding: @base-padding;
            flex: 1 1 auto;
        }

        footer {
            border-top: 1px solid @gray-9;
            padding: @base-padding;

            .footer-text {
                p {
                    margin: @base-margin-xs 0;
                }
            }

            .footer-link {
                text-align: center;
                font-size: 80%;
            }
        }

        .card-img {
            height: 10rem;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .card-text {
            > * + * {
                &:not(:last-child) {
                    margin-top: 0.75rem;
                }
            }

            > :last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media screen and (min-width: @screen-sm-min) {
    .cards {
        display: flex;
        flex-wrap: wrap;

        .card {
            display: inline-flex;
            margin: @card-margin;
            max-width: @card-max-width;
        }
    }
}
