@import "../global.less";

.cards {
	--border-radius: 16px;
	--cards-light-gray: var(--base-5);
	--cards-dark-gray: var(--base-2);
	--min-width: 240px;
	--max-width: 700px;
	--transition-duration: 0.1s;

	display: flex;
	flex-grow: 1;
	flex-direction: column;
	position: relative;
	min-width: var(--min-width);
	max-width: var(--max-width);
	padding: 1.5rem;
	margin: 2rem 0 1rem;
	border-radius: var(--border-radius);
	color: var(--brand-secondary);
	text-decoration: none;
	background-color: var(--cards-light-gray);
	cursor: pointer;
	transition: var(--transition-duration);

	&:hover {
		background-color: var(--cards-dark-gray);
		color: var(--white);
		transition: all var(--transition-duration) cubic-bezier(1, 0, 0, 1);

		.h4 {
			color: var(--white);
			transition: all var(--transition-duration) cubic-bezier(1, 0, 0, 1);
		}
	}

	&:focus {
		box-shadow: 0 0 0 2px var(--brand-secondary);
		outline: 2px solid transparent;
		color: var(--brand-secondary);
	}

	&.cards-dark {
		background-color: var(--cards-dark-gray);
		color: var(--white);
		transition: all var(--transition-duration) cubic-bezier(1, 0, 0, 1);

		.h4 {
			color: var(--white);
			transition: all var(--transition-duration) cubic-bezier(1, 0, 0, 1);
		}
	}

	&.cards-wide {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding-top: 1.5rem;
		margin-top: 2.25rem;

		> i {
			margin-top: initial;
		}

		.cards-icon {
			font-family: var(--brand-monofont);
		}

		.cards-content {
			margin-bottom: 0;
			margin-top: 0.75rem;

			.h3 {
				margin-top: 0;
				margin-bottom: 0.25rem;
			}
		}
	}

	// forward arrow icon at the bottom of the card
	> i,
	.action-cta i {
		width: 18px;
		height: 18px;

		&.material-icons {
			font-size: 18px;
			margin-top: 3px;
		}
	}

	// so far NOT set as mandatory parent of i (arrow at bottom of card) so don't break existing cards
	.action-cta {
		display: flex;
		gap: 0.5rem;
	}

	> img {
		margin: -2.25rem -1.5rem 1rem;
		object-fit: cover;
		max-height: 130px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}

	.cards-icon {
		color: currentColor;
		margin-bottom: 0.5rem;

		svg {
			max-width: 24px;
		}
	}

	.cards-content {
		display: flex;
		flex-direction: column;
		margin-bottom: 1.25rem;

		.h4 {
			font-family: var(--brand-headline);
			margin-top: 0;
			margin-bottom: 0.5rem;
			transition: all var(--transition-duration) cubic-bezier(1, 0, 0, 1);
		}
	}
}

// TODO: remove during next major release, not offered for a long time now
.card {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 1rem;

	header {
		padding: 1rem 1.5rem 0;

		/* stylelint-disable selector-list-comma-newline-after */
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		.h1,
		.h2,
		.h3,
		.h4,
		.h5,
		.h6 {
			margin: 0;
		}
		/* stylelint-enable selector-list-comma-newline-after */

		a {
			text-decoration: none;
		}
	}

	&.card-primary {
		background-color: @brand-bg-1;

		.card-header {
			position: relative;
			border-top: 7px solid @brand-primary-light;

			* {
				color: var(--brand-secondary);
			}

			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 1.6rem;
				width: 1.2rem;
				height: 0.6rem;
				background-color: @brand-primary-light;
				clip-path: polygon(100% 0, 0 0, 50% 100%);
			}

			.media {
				margin: 0;
				color: @black;
			}
		}
	}

	&.card-secondary {
		background-color: @brand-bg-2;
		position: relative;

		.card-header {
			position: relative;
			border-top: 7px solid @brand-accent;

			* {
				color: var(--brand-secondary);
			}

			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 1.6rem;
				width: 1.2rem;
				height: 0.6rem;
				background-color: @brand-accent;
				clip-path: polygon(100% 0, 0 0, 50% 100%);
			}
		}
	}

	&.card-plain {
		background-color: @light-gray;

		.card-header {
			* {
				color: var(--brand-secondary);
			}
		}
	}

	.card-body {
		padding: 1.5rem;
		flex: 1 1 auto;

		/* stylelint-disable selector-list-comma-newline-after */
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		.h1,
		.h2,
		.h3,
		.h4,
		.h5,
		.h6 {
			margin: 1rem 0;

			& a {
				text-decoration: none;
				color: var(--brand-secondary);
			}
		}
		/* stylelint-enable selector-list-comma-newline-after */
	}

	.card-footer {
		padding: 1rem 1.5rem;
		background: rgb(0 0 0 / 3%);

		.footer-text {
			p {
				margin: 0.25rem 0;
			}
		}

		.footer-link {
			text-align: center;
			font-size: 80%;
		}
	}

	.card-img {
		height: 10rem;

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
}

@media (forced-colors: active) {
	.cards,
	.card {
		border: 3px solid;

		&:hover {
			outline: 5px solid;
		}
	}
}
