.code-view {
    color: @brand-secondary-info-1;

    .code-view-header {
        background-color: @brand-secondary-dark-1;
    }

    .code-view-display {
        background-color: @brand-secondary-dark-2;
        margin-top: 0;
    }
}
