@datepicker-box-shadow: @default-box-shadow;
@datepicker-background-color: @white;
@datepicker-highlight-background: @brand-primary;
@datepicker-highlight-color: @white;
@datepicker-weekday-color: @brand-primary;
@datepicker-hover-color: @gray-10;

.rd-container {
    display: none;
    background-color: @datepicker-background-color;
    padding: @base-padding @base-padding-sm;
    text-align: center;
    box-shadow: @datepicker-box-shadow;
    z-index: @zindex-datepicker;
}

.rd-container-attachment {
    position: absolute;
}

.rd-month { // Todo: cleanup
    display: inline-block;
    margin-right: 1.5rem;
}

.rd-month-label {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.7rem;
}

.rd-month:last-child {
    margin-right: 0;
}

.rd-back,
.rd-next {
    font-family: "Material icons";
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    padding: 0 @base-padding-sm;
    margin: 0;
}

.rd-back[disabled],
.rd-next[disabled] {
    cursor: default;
}

.rd-back {
    float: left;
}

.rd-next {
    float: right;
}

.rd-back:before {
    display: block;
    content: "\E5C4";
}

.rd-next:before {
    display: block;
    content: "\E5C8";
}

.rd-days { // Todo: cleanup
    td,
    th {
        padding: 0.35rem 0.7rem;
    }
}

.rd-day-head {
    color: @datepicker-weekday-color;
}

.rd-day-body {
    cursor: pointer;
    text-align: center;
}


/* Highlight */

.rd-day-selected,
.rd-time-selected {
    cursor: pointer;
    background-color: @datepicker-highlight-background;
    color: @datepicker-highlight-color;
}

.rd-time-option:hover,
.rd-day-body:hover {
    cursor: pointer;
    background-color: @datepicker-hover-color;
}

.rd-day-prev-month,
.rd-day-next-month {
    color: #999999;
}

.rd-day-disabled {
    cursor: default;
    color: #ffcccc;
}

.rd-time { //Todo: cleanup
    position: relative;
    display: inline-block;
    margin-top: 5px;
    min-width: 80px;
}

.rd-time-list {
    display: none;
    position: absolute;
    overflow-y: scroll;
    max-height: 160px;
    left: 0;
    right: 0;
    background-color: @datepicker-background-color;
    color: #333333;
}

.rd-time-selected {
    padding: @datepicker-rd-padding;
}

.rd-time-option {
    padding: @datepicker-rd-padding;
}

.rd-day-concealed {
    visibility: hidden;
}
