@import "../global.less";

// TODO: modify documentation for bg color variants & for sizes variants
// TODO: add sizes variants
// TODO: keep this for for silent support but add animations for dialog elements + add scripts if dialog element
.dialog {
	--dialog-border: 1px solid var(--gray);
	--bg-color: var(--white; #ffffff);

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: var(--dialog-z-index, 600);
	background: color-mix(in oklab, var(--brand-primary), transparent 40%);
	backdrop-filter: blur(20px);
	display: none;
	justify-content: center;
	align-items: center;

	&.gray {
		--bg-color: var(--bg-grey);
	}

	> section {
		position: relative;
		max-width: 500px;

		.dialog-header,
		header {
			display: flex;
			padding: 1rem 1.5rem;
			align-items: center;
			background: var(--bg-color);
			border-bottom: var(--dialog-border);
			border-radius: 20px 20px 0 0;

			:is(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6) {
				margin-top: 0;
				margin-bottom: 0;
				flex-grow: 1;
			}

			.dialog-close {
				display: inline-grid;
				position: relative;
				touch-action: manipulation;
				cursor: pointer;
				user-select: none;
				background-color: transparent;
				border: none;
				padding: 0;
				margin-right: -0.5rem;
				height: 24px;
				width: 24px;

				&:hover,
				&.hover {
					color: var(--brand-secondary);
					text-decoration: none;
					background-color: var(--gray);
				}

				&:focus {
					border: none;
					border-radius: 0.125rem;
					box-shadow: 0 0 0 2px var(--black);
					outline: none;
				}

				&[active],
				&:active,
				&.active {
					outline: 0;
					background-image: none;
					box-shadow: none;

					&:focus,
					&.focus {
						box-shadow: none;
					}
				}

				// conditional check to ensure no duplicate close cross if not done migration from close icon element to no icon element needed
				// maybe can remove it in next major release or better next real rewrite with breaking changes
				&:not(:has(i)) {
					&:before,
					&:after {
						content: "";
						width: 18px;
						height: 2px;
						background-color: var(--black);
						place-self: center;
						position: absolute;
					}

					&:before {
						transform: rotate(45deg);
					}

					&:after {
						transform: rotate(-45deg);
					}
				}
			}
		}

		.dialog-body {
			background: var(--bg-color);
			padding: 2rem 1.5rem;
		}

		.dialog-footer,
		footer {
			background: var(--bg-color);
			border-top: var(--dialog-border);
			padding: 1rem 1.5rem;
			margin: 0;
			display: flex;
			justify-content: flex-end;
			border-radius: 0 0 20px 20px;

			// TODO: should it be fixed in cards level or directly in buttons styleheet, btn-secondary should it always be bg-color transparent ?
			button.btn-secondary {
				background-color: transparent;
			}

			> * {
				margin: 0 0.25rem;
			}
		}
	}
}

.dialog-open {
	overflow: hidden;

	.dialog {
		overflow-x: hidden;
		overflow-y: auto;
	}
}

@media (forced-colors: active) {
	.dialog {
		border: 10px solid;

		> section {
			outline: 10px solid;

			.dialog-header,
			.header {
				.dialog-close {
					&:focus {
						outline: 2px solid;
					}

					&[active],
					&:active,
					&.active {
						&:focus,
						&.focus {
							outline: 2px solid;
						}
					}
				}
			}
		}
	}
}
