.expandable {
    border: 1px solid transparent;
    border-bottom: 2px solid @light-brown;
    border-radius: 2px;
    margin-bottom: 1rem;
    background-color: @offwhite;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease;

    &:last-child {
        margin-bottom: 0;
    }

    .expandable-header {
        font-weight: normal;
        font-family: @font-swedbank-headline;
        text-decoration: none;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        line-height: 1rem;
        border: 1px solid transparent;
        white-space: nowrap;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        user-select: none;
        color: @dark-brown;
        background-color: @offwhite;
        padding: 1rem;
        text-align: start;
        // transition: background-color 0.3s ease; Removed temporarily until we have discussed color choices for expandables [AW]

        &:active {
            box-shadow: none;
        }

        &:hover,
        &:focus {
            color: @dark-brown;
        }

        &:before {
            .material-icons-styling(@margin: 0 1rem);

            content: "keyboard_arrow_down";
            position: absolute;
            right: 0;
            top: 0;
            bottom: $top;
            display: flex;
            align-items: center;
        }
    }

    .expandable-body {
        padding: 0 1rem;
        display: none;
    }

    .expanding {
        position: relative;
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease;
    }

    &.expandable-open {
        border: 1px solid @medium-brown;
        background-color: @white;
        transition: background-color 0.3s ease;

        .expandable-header {
            color: @medium-brown;
            background-color: @white;
            transition: background-color 0.3s ease;

            &:before {
                transform: rotate(180deg);
            }
        }

        .expandable-body {
            display: block;
        }
    }
}
