.filter-tag {
    display: flex;
    background-color: @brand-bg-2;
    width: fit-content;
    padding: 0.5rem;
    font-size: 14px;
    align-items: center;
    border-radius: 0.125rem;

    i {
        &.close-tag {
            font-size: 14px;
            margin-left: 0.5rem;
        }
    }
}
