// TODO: Clean this up!! [EH]

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: @base-margin-xs;
    text-transform: uppercase;
    font-weight: @font-weight-light;
    font-size: @base-font-size * 0.9;
    color: @input-color;
    line-height: 1.5;

    .required-asterisk {
        color: @red;
        margin-left: 0.25rem;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1;
    }
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    // Chrome and Firefox set a `min-width: min-content;` on fieldsets,
    // so we reset that to ensure it behaves more like a standard block element.
    // See https://github.com/twbs/bootstrap/issues/12359.
    min-width: 0;
    margin-bottom: @base-margin;

    &:disabled {
        textarea {
            resize: none;
        }

        .checkbox input[type="checkbox"] {
            + label:before {
                background-color: @input-bg-disabled;
                border-color: @input-checked-bg-disabled;
                cursor: not-allowed;
            }

            &:checked + label:before {
                background-color: @input-checked-bg-disabled;
            }

            + label,
            + label:before,
            &:after,
            &:checked + label:before {
                cursor: not-allowed;
            }
        }

        .radio input[type="radio"] {
            + label:before {
                background-color: @input-bg-disabled;
                border-color: @input-checked-bg-disabled;
            }

            &:checked + label:before {
                background-color: @input-checked-bg-disabled;
            }

            + label,
            + label:before,
            &:checked + label:before {
                cursor: not-allowed;
            }
        }

        .togglebox input[type="checkbox"] {
            + label:before,
            + label:after {
                background-color: @input-bg-disabled;
                border-color: @input-checked-bg-disabled;
            }

            &:checked + label:before {
                background-color: @input-checked-bg-disabled;
            }

            + label,
            + label:before,
            + label:after,
            &:checked + label:before,
            &:checked + label:after {
                cursor: not-allowed;
            }
        }

        .rangeslider {
            input[type="range"] {
                cursor: not-allowed;

                &::-webkit-slider-thumb {
                    .slider-thumb(@input-checked-bg-disabled, @input-bg-disabled);
                }

                &::-moz-range-thumb {
                    .slider-thumb(@input-checked-bg-disabled, @input-bg-disabled);
                }

                &::-ms-thumb {
                    .slider-thumb(@input-checked-bg-disabled, @input-bg-disabled);
                }

                &::-webkit-slider-runnable-track {
                    .slider-range(linear-gradient(90deg, @input-checked-bg-disabled, @input-checked-bg-disabled) 0 100% no-repeat content-box, @input-checked-bg-disabled);
                }

                /* FIREFOX */
                &::-moz-range-track {
                    .slider-range(#f9fafa, @input-checked-bg-disabled);
                }

                /* INTERNET EXPLORER & EDGE */
                &::-ms-track {
                    .slider-range(transparent, @input-checked-bg-disabled);
                }

                &::-moz-range-progress {
                    background: @input-checked-bg-disabled;
                }

                &::-ms-fill-upper {
                    background: #f9fafa;
                    border: 1px solid @input-checked-bg-disabled;
                }

                &::-ms-fill-lower {
                    background: @input-checked-bg-disabled;
                    border: 1px solid @input-checked-bg-disabled;
                }

                + .value-label {
                    background: @input-checked-bg-disabled;

                    &:before {
                        border-right-color: @input-checked-bg-disabled !important; // stylelint-disable-line declaration-no-important
                    }
                }
            }
        }
    }
}

legend {
    display: block;
    width: 100%;
    margin-bottom: @legend-bottom-margin;
    line-height: @base-font-size * 2.8;
    text-transform: uppercase;
    font-weight: 300;
    font-size: @base-font-size * 0.9;
    color: @legend-color;
    border: 0;
    border-bottom: 1px solid @legend-border-color;
}

.form-control-text,
.form-control {
    display: block;
    width: 100%;
    font-size: @base-font-size;
    line-height: @input-line-height;
    color: @input-color;
}

.form-control-text {
    padding: @input-padding-y 0;
}

.form-control {
    height: ~"calc(2.25rem + 2px)";
    padding: @input-padding-y @input-padding-x;
    background-color: @input-bg;
    background-clip: padding-box;
    border: @input-border-width solid @input-border-color;
    border-radius: @input-border-radius;
    box-shadow: none;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    .form-control-focus();
    .placeholder();

    &::placeholder {
        color: @gray-6; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
        opacity: 1;
    }

    // HTML5 says that controls under a fieldset > legend:first-child won't be
    // disabled if the fieldset is disabled. Due to implementation difficulty, we
    // don't honor that edge case; we style them as disabled anyway.
    &[disabled],
    &[readonly],
    fieldset[disabled] & {
        background-color: @input-bg-disabled !important; // stylelint-disable-line declaration-no-important
        opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
    }

    &[disabled],
    fieldset[disabled] & {
        cursor: @cursor-disabled;
    }

    // Reset height for `textarea`s
    textarea& {
        height: auto;
    }
}

.form-group {
    margin-bottom: @base-margin;
}

.checkbox,
.radio,
.togglebox {
    label {
        cursor: pointer;
        text-transform: none;
    }
}

.help-block {
    position: relative;
    display: block;
    margin: @helpblock-margin;
    color: lighten(@text-color, 25%);
    text-transform: uppercase;
    font-size: @base-font-size * 0.8;
    line-height: 1rem;

    &:after {
        opacity: 1;
        position: absolute;
        top: 0;
        left: 0;
    }
}

textarea[disabled] {
    resize: none;
}

select[multiple] {
    height: auto;
    padding: 0;

    option {
        padding: @select-option-margin;
    }
}

// Checkbox
// ==========================================================================
.checkbox {
    position: relative;
    display: flex;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: @base-margin-sm;
    }

    label {
        position: relative;
        align-items: center;
        margin: 0;
        padding-left: @checkbox-label-padding;
    }

    input[type="checkbox"] {
        margin-right: @base-margin;
        opacity: 0;

        + label:before {
            content: "";
            display: block;
            position: absolute;
            visibility: visible;
            left: -28px;
            height: @checkbox-height;
            width: @checkbox-width;
            background-color: @white;
            border: 1px solid @checkbox-bg;
            cursor: pointer;
        }

        &:checked + label:before {
            background-color: @checkbox-bg;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAJCAYAAAALpr0TAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuNWWFMmUAAACOSURBVChTfc+xDYJAFIdxCktLCwoLBmAESwoGMLF1BFomYAjHcABdxcrCwoKSmOP7LncJRuI/+cHLuwc8ihDCPzvU1muH2QY3jGjWBrILzBNVbu5RplodzIQD4qcbvHG1gRYOmDPiw15c+AXTw53MgDikXBxhPunu2/2Zn0HdYR7YYnn2NegKJ1SLXhKKGZDpJWzFmbqTAAAAAElFTkSuQmCC);
            background-position: 50% 50%;
            background-repeat: no-repeat;
        }

        &:focus + label:before {
            .tab-focus();
        }

        &[disabled] {
            + label:before {
                background-color: @input-bg-disabled;
                border-color: @input-checked-bg-disabled;
            }

            &:checked + label:before {
                background-color: @input-checked-bg-disabled;
            }

            + label,
            &:after,
            &:checked + label:before {
                cursor: not-allowed;
            }
        }
    }
}

// Radio
// ==========================================================================
.radio {
    position: relative;
    display: flex;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: @base-margin-sm;
    }

    label {
        position: relative;
        align-items: center;
        margin: 0;
        padding-left: @checkbox-label-padding;
    }

    input[type="radio"] {
        margin-right: @base-margin;
        opacity: 0;

        + label:before {
            content: "";
            position: absolute;
            visibility: visible;
            left: -28px;
            height: @checkbox-height;
            width: @checkbox-width;
            background-color: @white;
            border: 1px solid @checkbox-bg;
            cursor: pointer;
            border-radius: 50%;
        }

        &:checked + label:before {
            background-color: @checkbox-bg;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuNWWFMmUAAABMSURBVChTjY8xCgAgDMT6GEf/7uDTHBzrBe0iFjwIlDOUau4ORTQxD8x0Fo9D3KErCNhZGgIrs8wvoe/5mY5QRXZkRQiJTfFNZnVuC4bS8W24IBKtAAAAAElFTkSuQmCC);
            background-position: 50% 50%;
            background-repeat: no-repeat;
        }

        &:focus + label:before {
            .tab-focus();
        }

        &[disabled] {
            + label:before {
                background-color: @input-bg-disabled;
                border-color: @input-checked-bg-disabled;
            }

            &:checked + label:before {
                background-color: @input-checked-bg-disabled;
            }

            + label,
            &:after,
            &:checked + label:before {
                cursor: not-allowed;
            }
        }
    }
}

// Togglebox
// ==========================================================================
.togglebox {
    position: relative;
    display: flex;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: @base-margin-sm;
    }

    label {
        margin: 0;
    }

    input[type="checkbox"] {
        margin-right: @base-margin-sm;
        height: @checkbox-height;
        width: @checkbox-width * 2;

        + label:before {
            transition: background-color 0.2s ease 0.22s;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: @checkbox-height;
            width: @checkbox-width * 2;
            background-color: @white;
            border: 1px solid @checkbox-bg;
            border-radius: @range-height;
            color: @white;
            cursor: pointer;
        }

        + label:after {
            transition: left 0.2s;
            content: "";
            position: absolute;
            visibility: visible;
            top: 0;
            left: 0;
            height: @checkbox-height;
            width: @checkbox-width;
            background-color: @white;
            border: 1px solid @checkbox-bg;
            border-radius: 50%;
            color: @white;
            cursor: pointer;
        }

        &:checked + label:before {
            background-color: @checkbox-bg;
        }

        &:checked + label:after {
            left: @checkbox-width;
        }

        &[disabled] {
            + label:before,
            + label:after {
                background-color: @input-bg-disabled;
                border-color: @input-checked-bg-disabled;
            }

            &:checked + label:before {
                background-color: @input-checked-bg-disabled;
            }

            + label,
            + label:before,
            + label:after,
            &:checked + label:before,
            &:checked + label:after {
                cursor: not-allowed;
            }
        }
    }
}

// Range slider
// ==========================================================================

.slider-range(@background, @border) {
    box-sizing: border-box;
    background: @background;
    border-radius: @range-height;
    height: @range-height;
    border: 1px solid @border;
}

.slider-thumb(@color, @bg) {
    box-sizing: border-box;
    width: @thumb-size;
    height: @thumb-size;
    border-radius: 50%;
    background: @white;
    border: 1px solid @color;
}

.slider-color(@color) {
    .value-label {
        background: @color;

        &:before {
            border-right-color: @color !important; // stylelint-disable-line declaration-no-important
        }

        &:after {
            border-top: 10px solid @color;
        }
    }

    input[type="range"] {
        &::-webkit-slider-thumb {
            .slider-thumb(@color, @white);
        }

        &::-moz-range-thumb {
            .slider-thumb(@color, @white);
        }

        &::-ms-thumb {
            .slider-thumb(@color, @white);
        }

        &::-webkit-slider-runnable-track {
            .slider-range(linear-gradient(90deg, @color, @color) 0 100% no-repeat content-box, @color);
        }

        /* FIREFOX */
        &::-moz-range-track {
            .slider-range(#f9fafa, @color);
        }

        /* INTERNET EXPLORER & EDGE */
        &::-ms-track {
            .slider-range(transparent, @color);
        }

        &::-moz-range-progress {
            background: @color;
        }

        &::-ms-fill-upper {
            background: #f9fafa;
            border: 1px solid @color;
        }

        &::-ms-fill-lower {
            background: @color;
            border: 1px solid @color;
        }

        &[disabled] {
            cursor: not-allowed;

            &::-webkit-slider-thumb {
                .slider-thumb(@input-checked-bg-disabled, @input-bg-disabled);
            }

            &::-moz-range-thumb {
                .slider-thumb(@input-checked-bg-disabled, @input-bg-disabled);
            }

            &::-ms-thumb {
                .slider-thumb(@input-checked-bg-disabled, @input-bg-disabled);
            }

            &::-webkit-slider-runnable-track {
                .slider-range(linear-gradient(90deg, @input-checked-bg-disabled, @input-checked-bg-disabled) 0 100% no-repeat content-box, @input-checked-bg-disabled);
            }

            /* FIREFOX */
            &::-moz-range-track {
                .slider-range(#f9fafa, @input-checked-bg-disabled);
            }

            /* INTERNET EXPLORER & EDGE */
            &::-ms-track {
                .slider-range(transparent, @input-checked-bg-disabled);
            }

            &::-moz-range-progress {
                background: @input-checked-bg-disabled;
            }

            &::-ms-fill-upper {
                background: #f9fafa;
                border: 1px solid @input-checked-bg-disabled;
            }

            &::-ms-fill-lower {
                background: @input-checked-bg-disabled;
                border: 1px solid @input-checked-bg-disabled;
            }

            + .value-label {
                background: @input-checked-bg-disabled;

                &:before {
                    border-right-color: @input-checked-bg-disabled !important; // stylelint-disable-line declaration-no-important
                }
            }
        }
    }
}

.rangeslider {
    position: relative;
    width: 100%;
    display: flex;
    height: @thumb-size;
    box-sizing: border-box;
    background: transparent;
    margin-top: @base-margin-xl;

    &.rangeslider-brand {
        .slider-color(@brand-primary);
    }

    &.rangeslider-neutral {
        .slider-color(@state-neutral);
    }

    &.rangeslider-default {
        .slider-color(@dark-gray);
    }

    &.label-right {
        .value-label {
            margin-left: @base-margin;
            position: relative;
            height: @thumb-size;

            &:before {
                content: "";
                position: absolute;
                border: solid @range-height transparent;
                top: 0;
                right: 100%;
            }
        }
    }

    &.label-top {
        .value-label {
            position: absolute;
            top: -45px;
            left: 0; // <- to please ie
            right: 0; // <- to please ie
            justify-content: center;
            margin: 0 auto;
            padding: 0;
            width: 80px;

            &:after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                top: 100%;
                left: 2rem;
            }
        }
    }

    .value-label {
        box-sizing: border-box;
        display: flex;
        color: @white;
        padding: @checkbox-label-padding;
        font-size: @small-font-size;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;

        p {
            display: flex;
            margin: 0;
            align-items: center;

            span { // Todo: cleanup
                margin: 0 1.5px;
            }
        }
    }

    input[type="range"] {
        -webkit-appearance: none;
        width: 100%;
        box-sizing: border-box;
        display: table-cell;
        height: @thumb-size;
        background: transparent;
        padding: 0;
        vertical-align: middle;
        cursor: grab;
        cursor: -webkit-grab;
        cursor: -moz-grab;

        &:active {
            cursor: grabbing;
            cursor: -webkit-grabbing;
            cursor: -moz-grabbing;
        }

        &:focus {
            outline: none;
        }

        /*** BROWSER SPECIFIC STYLES ***/

        /* CHROME, OPERA & SAFARI */
        &::-webkit-slider-runnable-track {
            -webkit-appearance: none;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            transform: translateY(-(@range-height + 0.1) / 2);
        }

        &::-moz-range-progress {
            height: @range-height;
            border-radius: (@checkbox-height / 2);
        }

        /* INTERNET EXPLORER & EDGE */
        &::-ms-track {
            color: transparent;
            background: transparent;
        }

        &::-ms-thumb {
            margin-top: @thumb-size / 2; // Offset for Edge

            /* Reset offset for correct placement in IE */
            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                margin: 0;
            }
        }

        &::-ms-fill-upper {
            border-radius: (@checkbox-height / 2);
        }

        &::-ms-fill-lower {
            border-radius: (@checkbox-height / 2);
        }

        &::-ms-tooltip {
            display: none;
        }
    }
}
