label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0.25rem;
    text-transform: uppercase;
    font-weight: @font-weight-light;
    font-size: @base-font-size * 0.9;
    color: @input-color;
    line-height: 1.5;
}


fieldset {
    padding: 0;
    margin: 0;
    border: 0; // Chrome and Firefox set a `min-width: min-content;` on fieldsets,
    // so we reset that to ensure it behaves more like a standard block element.
    // See https://github.com/twbs/bootstrap/issues/12359.
    min-width: 0;
    margin-bottom: 1rem;

    &:disabled {
        .checkbox input[type=checkbox] {
            &:after {
                background-color: @input-bg-disabled;
                border-color: @input-checked-bg-disabled;
            }

            &:checked:after {
                background-color: @input-checked-bg-disabled;
            }

            + label,
            &:after,
            &:checked:after {
                cursor: not-allowed;
            }
        }

        .radio input[type=radio] {
            &:after {
                background-color: @input-bg-disabled;
                border-color: @input-checked-bg-disabled;
            }

            &:checked:after {
                background-color: @input-checked-bg-disabled;
            }

            + label,
            &:after,
            &:checked:after {
                cursor: not-allowed;
            }
        }

        .togglebox input[type=checkbox] {
            &:before,
            &:after {
                background-color: @input-bg-disabled;
                border-color: @input-checked-bg-disabled;
            }

            &:checked:before {
                background-color: @input-checked-bg-disabled;
            }

            + label,
            &:before,
            &:after,
            &:checked:before,
            &:checked:after {
                cursor: not-allowed;
            }
        }
    }
}

legend {
    display: block;
    width: 100%;
    margin-bottom: @legend-bottom-margin;
    line-height: @base-font-size * 2.8;
    text-transform: uppercase;
    font-weight: 300;
    font-size: @base-font-size * 0.9;
    color: @legend-color;
    border: 0;
    border-bottom: 1px solid @legend-border-color;
}

.form-control-text,
.form-control {
    display: block;
    width: 100%;
    font-size: @base-font-size;
    line-height: @input-line-height;
    color: @input-color;
}

.form-control-text {
    padding: @input-padding-y 0;
}

.form-control {
    padding: @input-padding-y @input-padding-x;
    background-color: @input-bg;
    background-clip: padding-box;
    border: @input-border-width solid @input-border-color;
    border-radius: @input-border-radius;
    box-shadow: none;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

    .form-control-focus();
    .placeholder();

    &::placeholder {
        color: @gray-6;
        // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
        opacity: 1;
    }

    // HTML5 says that controls under a fieldset > legend:first-child won't be
    // disabled if the fieldset is disabled. Due to implementation difficulty, we
    // don't honor that edge case; we style them as disabled anyway.
    &[disabled],
    &[readonly],
    fieldset[disabled] & {
        background-color: @input-bg-disabled !important;
        opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
    }

    &[disabled],
    fieldset[disabled] & {
        cursor: @cursor-disabled;
    }

    // Reset height for `textarea`s
    textarea& {
        height: auto;
    }
}

.form-group {
    margin-bottom: @form-margin;
}

.checkbox,
.radio,
.togglebox {
    label {
        cursor: pointer;
        text-transform: none;
    }
}

.help-block {
    display: block;
    margin: 0.325rem 0;
    color: lighten(@text-color, 25%);
    text-transform: uppercase;
    font-size: @base-font-size * 0.8;
    line-height: 1rem;
}

// Checkbox
// ==========================================================================

.checkbox {
    position: relative;
    display: flex;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: 0.5rem;
    }

    label {
        position: relative;
        display: flex;
        align-items: center;
        margin: 0;
    }

    input[type=checkbox] {
        position: relative;
        height: @checkbox-height;
        width: @checkbox-width;
        margin-right: 0.5rem;

        &:after {
            content: "";
            display: block;
            position: absolute;
            visibility: visible;
            top: 0;
            left: 0;
            height: @checkbox-height;
            width: @checkbox-width;
            background-color: @white;
            border: 1px solid @checkbox-bg;
            cursor: pointer;
        }

        &:checked:after {
            background-color: @checkbox-bg;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAJCAYAAAALpr0TAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuNWWFMmUAAACOSURBVChTfc+xDYJAFIdxCktLCwoLBmAESwoGMLF1BFomYAjHcABdxcrCwoKSmOP7LncJRuI/+cHLuwc8ihDCPzvU1muH2QY3jGjWBrILzBNVbu5RplodzIQD4qcbvHG1gRYOmDPiw15c+AXTw53MgDikXBxhPunu2/2Zn0HdYR7YYnn2NegKJ1SLXhKKGZDpJWzFmbqTAAAAAElFTkSuQmCC);
            background-position: 50% 50%;
            background-repeat: no-repeat;
        }

        &[disabled] {
            &:after {
                background-color: @input-bg-disabled;
                border-color: @input-checked-bg-disabled;
            }

            &:checked:after {
                background-color: @input-checked-bg-disabled;
            }

            + label,
            &:after,
            &:checked:after {
                cursor: not-allowed;
            }
        }
    }
}

// Radio
// ==========================================================================

.radio {
    position: relative;
    display: flex;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: 0.5rem;
    }

    label {
        position: relative;
        display: flex;
        align-items: center;
        margin: 0;
    }

    input[type=radio] {
        position: relative;
        height: @checkbox-height;
        width: @checkbox-width;
        margin-right: 0.5rem;

        &:after {
            content: "";
            display: block;
            position: absolute;
            visibility: visible;
            top: 0;
            left: 0;
            height: @checkbox-height;
            width: @checkbox-width;
            background-color: @white;
            border: 1px solid @checkbox-bg;
            cursor: pointer;
            border-radius: 50%;
        }

        &:checked:after {
            background-color: @checkbox-bg;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuNWWFMmUAAABMSURBVChTjY8xCgAgDMT6GEf/7uDTHBzrBe0iFjwIlDOUau4ORTQxD8x0Fo9D3KErCNhZGgIrs8wvoe/5mY5QRXZkRQiJTfFNZnVuC4bS8W24IBKtAAAAAElFTkSuQmCC);
            background-position: 50% 50%;
            background-repeat: no-repeat;
        }

        &[disabled] {
            &:after {
                background-color: @input-bg-disabled;
                border-color: @input-checked-bg-disabled;
            }

            &:checked:after {
                background-color: @input-checked-bg-disabled;
            }

            + label,
            &:after,
            &:checked:after {
                cursor: not-allowed;
            }
        }
    }
}

// Togglebox
// ==========================================================================
.togglebox {
    position: relative;
    display: flex;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: 0.5rem;
    }

    label {
        margin: 0;
    }

    input[type=checkbox] {
        margin-right: 0.5rem;
        height: @checkbox-height;
        width: @checkbox-width * 2;

        &:before {
            transition: background-color 0.2s ease 0.22s;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: @checkbox-height;
            width: @checkbox-width * 2;
            background-color: @white;
            border: 1px solid @checkbox-bg;
            border-radius: @checkbox-height / 2;
            color: @white;
            cursor: pointer;
        }

        &:after {
            transition: transform 0.2s;
            content: "";
            position: absolute;
            visibility: visible;
            top: 0;
            left: 0;
            height: @checkbox-height;
            width: @checkbox-width;
            background-color: @white;
            border: 1px solid @checkbox-bg;
            border-radius: 50%;
            color: @white;
            cursor: pointer;
        }

        &:checked:before {
            background-color: @checkbox-bg;
        }

        &:checked:after {
            transform: translateX(@checkbox-width);
            left: auto;
        }

        &[disabled] {
            &:before,
            &:after {
                background-color: @input-bg-disabled;
                border-color: @input-checked-bg-disabled;
            }

            &:checked:before {
                background-color: @input-checked-bg-disabled;
            }

            + label,
            &:before,
            &:after,
            &:checked:before,
            &:checked:after {
                cursor: not-allowed;
            }
        }
    }
}
