@import "./form.less";
@import "./validation.less";
@import "../global.less";

@input-padding-x:                           0.75rem;

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    min-height: 2rem;

    &:focus-visible {
        outline: 2px solid @brand-secondary;
        border-radius: 2px;
    }

    &:focus-within {
        outline: 2px solid @brand-secondary;

        .input-group-addon,
        .form-control {
            outline: none;
            border-width: 1px 1px 2px;
            border-color: transparent;
            transition: none;
        }

        .postfix {
            border-right: 2px solid @black;
            border-left: transparent;
            border-top-left-radius: 0;
        }
    }

    > .btn {
        border-radius: 0;

        &:first-child {
            border-radius: @btn-border-radius-base 0 0 @btn-border-radius-base;
        }

        &:last-child {
            border-radius: 0 @btn-border-radius-base @btn-border-radius-base 0;
        }
    }

    > .form-control {
        position: relative;
        flex: 1 1 auto;
        margin-bottom: 0;

        /* Add width 1% and flex-basis auto to ensure that button will not wrap out
         * the column. Applies to IE Edge+ and Firefox. Chrome does not require this. */
        width: 1%;

        + .form-control {
            margin-left: -1px;
        }
    }

    .input-group-addon {
        display: flex;
        align-items: center;
        padding: @input-padding-y @input-padding-x;
        margin-bottom: 0;
        font-size: @base-font-size;
        font-weight: @font-weight-normal;
        line-height: @input-line-height;
        color: @input-addon-color;
        background-color: @white;
        text-align: center;
        white-space: nowrap;
        border: solid @input-border-color;
        border-width: @input-border-width;
        border-bottom-color: @input-addon-color;
        border-radius: 2px 2px 0 0;
        border-top-right-radius: 0;
        border-right: none;

        + input {
            border-top-left-radius: 0;
            border-left: none;
        }

        &:first-child {
            margin-right: -1px;
        }

        &:last-child {
            margin-left: -1px;
        }

        input[type="radio"],
        input[type="checkbox"] {
            margin-top: 0;
        }

        &.postfix {
            border-left: transparent;
            border-right: 1px solid @input-border-color;
            border-radius: 0 2px 2px 0;
            pointer-events: none;
        }
    }
}

// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    .tab-focus();
}
