.input-group {
    position: relative;
    display: flex;
    // flex-wrap: wrap;
    align-content: stretch;
    height: @input-form-control-height;
    width: 100%;
    min-height: ~"calc(2.25rem + 2px)";
    max-width: 21.25rem;
    min-width: 17.3rem;
    border: solid @light-brown;
    border-width: 1px 1px 2px;
    border-bottom-color: @soft-brown;
    line-height: @input-line-height;
    align-items: center;
    box-shadow: none;
    padding: 0 0.75rem;
    background-color: @white;
    background-clip: padding-box;

    input {
        line-height: @input-line-height;
        border: none;
        background-color: inherit;
        width: 100%;
        outline: none;

        &::placeholder {
            color: @brand-secondary-light-2;
            font-weight: @font-weight-normal;
        }

        &:active {
            outline: none;
        }
    }

    &:focus-within {
        outline: auto @brand-secondary;

        .input-group-addon,
        .form-control {
            outline: none;
            border-width: 1px 1px 2px;
            border-color: transparent;
            transition: none;
        }
    }

    > .btn {
        border-radius: 0;

        &:first-child {
            border-radius: @btn-border-radius-base 0 0 @btn-border-radius-base;
        }

        &:last-child {
            border-radius: 0 @btn-border-radius-base @btn-border-radius-base 0;
        }
    }

    &.has-feedback {
        // Ensure icons don't overlap text
        .form-control {
            padding-right: @input-padding-x * 3;
        }
    }

    > .form-control {
        position: relative;
        flex: 1 1 auto;
        margin-bottom: 0;

        /* Add width 1% and flex-basis auto to ensure that button will not wrap out
         * the column. Applies to IE Edge+ and Firefox. Chrome does not require this. */
        width: 1%;

        &:focus {
            z-index: 3;
        }
    }

    .input-group-addon {
        display: flex;
        align-items: center;
        margin-right: 0.75rem;
        margin-bottom: 0;
        font-size: @base-font-size;
        font-weight: @font-weight-normal;
        color: #7e6a68;
        // background-color: @white;
        text-align: center;
        background-color: inherit;

        + input {
            border-top-left-radius: 0;
        }

        input[type="radio"],
        input[type="checkbox"] {
            margin-top: 0;
        }

        &.suffix {
            position: absolute;
            right: 0;

            input {
                width: 90%;
            }
        }
    }

    .form-control-feedback {
        position: absolute;
        right: 0;
        top: 0;
        border: 1px solid transparent;
        padding: @input-padding-y @input-padding-x @input-padding-y 0;
        line-height: 0;
        color: @input-addon-color;
        z-index: 4;
        pointer-events: none;
    }
}


// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    .tab-focus();
}
