a {
    padding: 0.125rem;

    &.bright {
        color: @blue-syntax-highlight;

        &.disabled {
            color: @medium-brown;
        }
    }

    &:focus {
        border-color: @brand-secondary;
        outline: none;
    }

    &.disabled {
        color: @light-brown;
        text-decoration: none;
        pointer-events: none;
    }

    &.icon-link {
        text-decoration: none;
        display: inline-flex;
        align-items: baseline;

        &:hover,
        :focus {
            span {
                text-decoration: underline;
            }
        }

        i {
            font-size: 1rem;
            line-height: 1.5;
            align-self: flex-end;
        }

        &.small {
            i {
                font-size: 0.875rem;
            }
        }
    }

    &.action-link {
        position: relative;
        display: flex;
        align-items: center;
        min-height: @action-link-height; //husk
        padding-left: 1rem;
        border: 0;
        text-decoration: none;
        background-color: @brand-bg-1;
        color: @brand-secondary;
        margin-bottom: 1rem;
        border-radius: 4px;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        margin-right: 1rem;

        .action-link-content {
            margin-right: 2rem;
        }

        .action-link-label {
            font-size: 1.125rem;
            font-family: @brand-headline;
        }

        &.disabled {
            background-color: @light-gray;
            color: @light-brown;

            .small-text,
            &:after {
                color: @light-brown;
            }

            &:before,
            .badge {
                background-color: @light-brown;
                border-color: @light-brown;
                color: @white;
                outline: none;
            }
        }

        &:focus,
        &:hover {
            h4 {
                text-decoration: underline;
            }
        }

        &:focus {
            border: 1px solid @brand-secondary;
            outline: none;
        }

        h4 {
            font-family: @brand-headline;
        }

        &.badge {
            margin-left: 0.25rem;
        }

        &.multiline {
            .small-text {
                text-decoration: none;
            }
        }

        &:before {
            content: "";
            position: absolute;
            height: 100%;
            width: 0.25rem;
            left: 0;
            top: 0;
            background-color: @brand-primary;
            border-radius: 0.25rem 0 0 0.25rem;
        }

        &:after {
            content: "arrow_forward";
            .material-icons-styling();

            position: absolute;
            right: 0;
            top: calc(50% - @action-link-arrow-font-size / 2);
            font-size: @action-link-arrow-font-size;
            color: @brand-secondary;
        }

        &.action-link-new-tab {
            &:after {
                content: "launch";
            }
        }
    }

    .action-link-multiline {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-right: 1.5rem;
        //height: 4rem;

        .small-text {
            padding-left: 0;
        }
    }

    .small-text {
        font-size: 0.75rem;
        color: @brand-secondary;
        padding-left: 0.5rem;
    }
}
