.loader {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0.5rem;
    border: 0.2rem solid @soft-brown;
    border-left-color: @brand-secondary;
    border-radius: 50%;
    animation: loader-spin 0.8s linear infinite;

    &.loader-center {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    &.loader-sm {
        width: 2rem;
        height: $width;
    }

    &.loader-lg {
        border-width: 0.25rem;
        width: 3.5rem;
        height: $width;
    }

    &.loader-muted {
        border-color: @light-gray;
        border-left-color: @text-gray;
    }

    &.loader-light {
        border-left-color: @white;
    }
}

@keyframes loader-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
