.pagination {
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin: @base-margin 0;

    li {
        display: flex;
        position: relative;

        &.hidden {
            display: none;
        }

        &.dotts {
            pointer-events: none;
        }

        a,
        span {
            display: flex;
            align-items: center;
            padding: 0 @base-margin-sm;
            font-weight: bold;
            color: @brand-secondary;
            cursor: pointer;
            user-select: none;
            text-decoration: none;
            border: 1px solid transparent;

            &.text {
                cursor: default;
                color: @text-color;
                font-weight: 300;
                font-family: "Swedbank Headline";
            }
        }

        &:not(.arrow-start):not(.arrow-back):not(.arrow-forward):not(.arrow-end) {
            a,
            span {
                padding: 0.25rem 0.75rem;

                &:hover {
                    text-decoration: none;
                    border-radius: 0.125rem;
                    border: solid @brand-secondary 1px;
                }

                &:focus {
                    border: 1px solid @brand-secondary;
                    border-radius: 0.125rem;
                    outline: none;
                }
            }
        }

        &.active {
            background-color: @brand-secondary;
            border-radius: 0.125rem;

            a,
            span {
                cursor: default;
                color: @white;
            }
        }

        &.arrow-back {
            &.disabled {
                pointer-events: none;

                a,
                span {
                    &:after {
                        .material-icons-styling(@color: @light-brown, @margin: 0, @font-size: 1.75rem);
                    }
                }
            }

            a,
            span {
                &:after {
                    content: "chevron_left";
                    .material-icons-styling(@color: @brand-secondary, @margin: 0, @font-size: 1.75rem);
                }
            }

            span {
                cursor: default;

                &:after {
                    color: @light-brown;
                }
            }
        }

        &.arrow-start {
            a,
            span {
                &:before {
                    content: "first_page";
                    .material-icons-styling(@color: @brand-secondary, @margin: 0, @font-size: 1.75rem);
                }
            }

            span {
                cursor: default;

                &:before,
                &:after {
                    color: @pagination-default-color;
                }
            }
        }

        &.arrow-forward {
            &.disabled {
                pointer-events: none;

                a,
                span {
                    &:after {
                        .material-icons-styling(@color: @light-brown, @margin: 0, @font-size: 1.75rem);
                    }
                }
            }

            a,
            span {
                &:after {
                    content: "chevron_right";
                    .material-icons-styling(@color: @brand-secondary, @margin: 0, @font-size: 1.75rem);
                }
            }

            span {
                cursor: default;

                &:after {
                    color: @pagination-default-color;
                }
            }
        }

        &.arrow-end {
            a,
            span {
                &:before {
                    content: "last_page";
                    .material-icons-styling(@color: @brand-secondary, @margin: 0, @font-size: 1.75rem);
                }
            }

            span {
                cursor: default;

                &:before,
                &:after {
                    color: @pagination-default-color;
                }
            }
        }
    }
}
