@import "../global.less";

@pagination-active-color:                   @brand-accent-links;
@pagination-arrow-color:                    @brand-accent-links;
@pagination-default-color:                  @list-gray;

.pagination {
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin: 1rem 0;
    font-family: @brand-headline;

    .mobile {
        display: none;
        margin: 0 1rem;

        @media screen and (max-width: (@screen-sm-min - 1)) {
            display: block;
            align-self: center;
            font-weight: 700;
            font-size: 1rem;
        }
    }

    button,
    > a {
        all: unset;
        margin: 0.5rem;
        max-height: 1.75rem;
        display: flex;
        align-items: center;
        align-self: center;
        cursor: pointer;

        &.disabled {
            pointer-events: none;

            i {
                &:before {
                    color: @light-brown;
                }
            }
        }

        &:focus,
        &:hover {
            i {
                border: 2px solid @brand-secondary;
                border-radius: 0.125rem;
            }
        }

        i {
            border: 2px solid transparent;

            &:before {
                .material-icons-styling(@color: @brand-secondary, @margin: 0, @font-size: 1.75rem);
            }
        }

        &.arrow-start {
            i {
                display: unset;

                &:before {
                    content: "first_page";
                }
            }
        }

        &.arrow-back {
            i {
                &:before {
                    content: "chevron_left";
                }
            }
        }

        &.arrow-forward {
            i {
                &:before {
                    content: "chevron_right";
                }
            }
        }

        &.arrow-end {
            i {
                display: unset;

                &:before {
                    content: "last_page";
                }
            }
        }
    }

    ul {
        display: none;
        padding-left: 0;
        margin-bottom: 0;

        li {
            display: flex;
            margin: 0.5rem;
            border-radius: 0.125rem;

            a,
            span {
                min-width: 1.75rem;
                color: @brand-secondary;
                border: 2px solid transparent;
                text-align: center;
                cursor: pointer;
                text-decoration: none;
                padding-top: 0.1rem;
            }

            span {
                cursor: default;
            }

            a {
                &:hover,
                &:focus {
                    border: 2px solid @brand-secondary;
                    border-radius: 0.125rem;
                }

                &:focus {
                    outline: none;
                }
            }

            &.active {
                background-color: @brand-secondary;

                a {
                    cursor: default;
                    color: @white;
                }
            }
        }
        @media screen and (min-width: @screen-sm-min) {
            display: flex;
        }
    }
}
