@import "./form.less";
@import "../global.less";

.radio {
	--radio-height: 1.375rem;
	--radio-width: var(--radio-height);

	--checkmark-width: 7.5rem;
	--checkmark-heigth: 2rem;

	position: relative;
	display: flex;
	align-items: center;

	&:not(:last-child) {
		&:not(.checkmark) {
			margin-bottom: 1rem;
		}
	}

	label {
		position: relative;
		align-items: center;
		margin: 0;
		margin-inline-start: 1.75rem;
		padding-inline-start: calc(1rem / 5);
		min-height: 1.5rem;
	}

	input[type="radio"] {
		opacity: 0;
		position: absolute;

		+ label:before {
			content: "";
			position: absolute;
			visibility: visible;
			left: -1.5rem;
			height: var(--radio-height);
			width: var(--radio-width);
			background-color: var(--white);
			border: 2px solid var(--brand-secondary-light-2);
			cursor: pointer;
			border-radius: 50%;
		}

		&:checked + label:before {
			background-color: var(--white);
			background-repeat: no-repeat;
			background-image: url("../../icons/shapes/circle.svg");
			border-color: var(--brand-secondary);
		}

		&:focus + label:before,
		&:hover + label:before {
			box-shadow: 0 0 0 0.375rem var(--brand-primary-light);
			border-color: var(--brand-secondary);
			outline: 4px solid transparent;
		}

		&[disabled] {
			+ label:before {
				background-color: var(--input-bg-disabled);
				border-color: var(--input-checked-bg-disabled);
				box-shadow: none;
			}

			&:checked + label:before {
				background-color: var(--white);
				background-image: url("../../icons/shapes/circle-disabled.svg");
			}

			+ label,
			+ label:before,
			&:checked + label:before {
				cursor: not-allowed;
			}
		}
	}
}

.radio.checkmark {
	border: 2px solid transparent;
	pointer-events: none;
	width: var(--checkmark-width);
	height: var(--checkmark-heigth);

	&.large {
		height: 3.5rem;
	}

	&:not(:last-child) {
		margin-inline-end: 8px;
	}

	&:active {
		border: 2px solid transparent;
	}

	&:hover {
		background-color: transparent;
	}

	&:disabled {
		border: 2px solid transparent;
		margin: auto;
	}

	* {
		pointer-events: all;
	}

	label {
		outline: 1px solid var(--black);
		border-radius: var(--border-radius, 8px);
		margin: auto;
		height: 100%;
		width: 100%;
		gap: 5px;
		padding-inline-end: 1.25rem;
		justify-content: center;
		flex-direction: row-reverse;

		&:before {
			display: none;
		}

		&
			:is(
				i[class^="at-"],
				i[class*=" at-"],
				i[class^="swepay-icon-"],
				i[class*=" swepay-icon-"],
				.material-icons
			) {
			color: inherit;
			margin-inline-end: -10px;
		}
	}

	input[type="radio"]:hover:not(:disabled) + label {
		background-color: var(--brown-medium);
		color: var(--white);
		border-radius: var(--border-radius, 8px);
		border: 0 solid transparent;
		outline: 1px solid var(--brown-medium);
		box-shadow: none !important;

		// we're migrating from i to a pure CSS span.checkmark-icon. Keep <i> for now until next major release
		i {
			color: #f0f0f0;
		}
	}

	input[type="radio"]:checked + label {
		border-radius: var(--border-radius, 8px);
		padding-inline-end: 1.875rem;
		outline-width: 3px;

		// we're migrating from i to a pure CSS span.checkmark-icon. Keep <i> for now until next major release
		i {
			color: #000000;
		}
	}

	input[type="radio"]:disabled + label {
		color: var(--brown-light);
		outline: 1px solid var(--brown-light);
	}

	input[type="radio"]:checked:disabled + label {
		background-color: var(--brown-light);
		color: var(--white);
		outline: 0;
		padding-inline-end: 1.25rem;

		// we're migrating from i to a pure CSS span.checkmark-icon. Keep <i> for now until next major release
		i {
			visibility: hidden;
		}
	}

	input[type="radio"] {
		&:focus-visible + label {
			box-shadow: 0 0 0 0.3rem var(--brand-secondary-light-3);
			border-color: var(--brand-secondary);
		}

		&:not(:checked) + label {
			padding: 0;

			i {
				visibility: hidden;
				display: none;
			}
		}
	}

	&:has(.subtext) {
		width: 248px;
		height: auto;

		input[type="radio"] + label {
			display: grid;
			width: 100%;
			height: fit-content;
			padding: 1rem;
			grid-template-areas:
				"label-title checkmark"
				"label-subtext checkmark";
			grid-template-columns: 176px 1fr;
			grid-template-rows: auto auto;

			span:not(.subtext, .checkmark-icon) {
				grid-area: label-title;
				font-weight: var(--font-weight-bold);
			}

			.subtext {
				grid-area: label-subtext;
				font-weight: var(--font-weight-normal);
			}

			.checkmark-icon {
				grid-area: checkmark;
				width: 24px;
				height: 24px;
				background-color: var(--brown-solid);
				border-radius: 50%;
				position: relative;

				// display a tickbox icon in pure CSS
				&::before {
					content: "";
					position: absolute;
					width: 0.42rem;
					height: 0.7rem;
					border: solid var(--white);
					border-width: 0 2px 2px 0;
					transform: rotate(45deg) translate(145%, -25%);
				}
			}
		}

		input[type="radio"]:not(:checked) + label {
			.checkmark-icon {
				display: none;
			}
		}

		input[type="radio"]:checked:disabled + label {
			background-color: var(--gray);
			color: var(--brown-light);

			.checkmark-icon {
				background-color: var(--brown-light);

				&::before {
					border-color: var(--gray);
				}
			}
		}

		input[type="radio"]:checked:not(:disabled):hover + label {
			background-color: var(--brown-medium);
			color: var(--white);

			.checkmark-icon {
				background-color: var(--white);

				&::before {
					border-color: var(--brown-medium);
				}
			}
		}
	}
}

fieldset {
	&.radio-group {
		.radio-row {
			display: inline-flex;
		}

		legend {
			position: relative;
			border: none;
			font-size: 1.25rem;
			line-height: 1.5rem;
			margin-bottom: 0.5rem;
			color: var(--brand-secondary);
			font-family: var(--brand-headline);
			font-weight: var(--font-weight-header, 400);
		}

		span {
			font-weight: normal;
			margin-inline-start: 0.2rem;
		}
	}

	&.has-error {
		input[type="radio"] + label:before {
			border-color: var(--brand-error);
		}

		.checkmark {
			input[type="radio"]:not(:checked) + label {
				outline: 2px solid var(--brand-error);
			}
		}

		.help-block {
			color: var(--brand-error);
		}
	}

	&[disabled] {
		label,
		legend,
		.hint-text {
			color: var(--brown-light);
		}
	}
}

@media (forced-colors: active) and (prefers-color-scheme: dark) {
	input[type="radio"] {
		&:checked + label:before {
			filter: saturate(1000%);
		}
	}

	.checkmark {
		input:focus + label {
			outline: 5px solid;
		}
	}
}
