@import "./form.less";
@import "../global.less";

@radio-height:                           1.375rem;
@radio-width:                            @radio-height;

@checkmark-width:                        7.5rem;
@checkmark-heigth:                        33.5px;

.radio {
    position: relative;
    display: flex;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    label {
        position: relative;
        align-items: center;
        margin: 0;
        margin-left: 1.75rem;
        padding-left: (1rem / 5);
        min-height: 1.5rem;
    }

    input[type="radio"] {
        opacity: 0;
        position: absolute;

        + label:before {
            content: "";
            position: absolute;
            visibility: visible;
            left: -1.5rem;
            height: @radio-height;
            width: @radio-width;
            background-color: @white;
            border: 2px solid @brand-secondary-light-2;
            cursor: pointer;
            border-radius: 50%;
        }

        &:checked + label:before {
            background-color: @white;
            background-repeat: no-repeat;
            background-image: url("../../icons/shapes/circle.svg");
            border-color: @brand-secondary;
        }

        &:focus + label:before,
        &:hover + label:before {
            box-shadow: 0 0 0 0.375rem @brand-secondary-light-3;
            border-color: @brand-secondary;
        }

        &[disabled] {
            + label:before {
                background-color: @input-bg-disabled;
                border-color: @input-checked-bg-disabled;
                box-shadow: none;
            }

            &:checked + label:before {
                background-color: @white;
                background-image: url("../../icons/shapes/circle-disabled.svg");
            }

            + label,
            + label:before,
            &:checked + label:before {
                cursor: not-allowed;
            }
        }
    }
}

.checkmark {
    padding: 0;
    border-radius: 8px;
    border: 2px solid transparent;
    pointer-events: none;
    width: @checkmark-width;
    height: @checkmark-heigth;

    &:not(:last-child) {
        margin-right: 4px;
    }

    &:active {
        border: 2px solid transparent;
    }

    &:hover {
        background-color: transparent;
    }

    &:disabled {
        border: 2px solid transparent;
        margin: auto;
    }

    * {
        pointer-events: all;
    }

    label {
        outline: 1px solid @black;
        border-radius: 8px;
        margin: auto;
        height: 100%;
        width: 100%;
        gap: 5px;
        padding-left: 20px;
        padding-right: 35px;
    }

    label:before {
        display: none;
    }

    label .material-icons {
        color: @white;
        margin-left: -10px;
    }

    input[type="radio"]:hover + label {
        background-color: #f9f8f6;
        color: #72605e;
        border-radius: 8px;
        border: 0 solid transparent;
        outline: 1px solid #72605e;

        .material-icons {
            visibility: hidden;
        }
    }

    input[type="radio"]:checked + label {
        background-color: #512b2b;
        border-radius: 8px;
        color: @white;
        padding-right: 25px;
        padding-left: 30px;

        i,
        .material-icons {
            visibility: visible;
        }
    }

    input[type="radio"]:checked:hover + label {
        background-color: #72605e;
    }

    input[type="radio"]:disabled + label {
        background-color: transparent;
        color: @light-brown;
        height: 30px;
        outline: 0;
    }

    input[type="radio"]:checked:disabled + label {
        background-color: @light-brown;
        color: @white;
        height: 30px;
        outline: 0;
    }

    input[type="radio"] {
        &:focus + label,
        &:hover + label {
            box-shadow: 0 0 0 0.3rem @brand-secondary-light-3;
            border-color: @brand-secondary;
        }
    }
}

fieldset {
    &.radio-group {
        .radio-row {
            display: flex;
        }

        legend {
            position: relative;
            border: none;
            margin-bottom: 0;
        }

        span {
            font-weight: normal;
            margin-left: 0.2rem;
        }
    }

    &.has-error {
        input[type="radio"] + label:before {
            border-color: @brand-error;
        }

        .checkmark {
            input[type="radio"]:not(:checked) + label {
                outline: 2px solid @brand-error;
            }
        }

        .help-block {
            color: @brand-error;
        }
    }

    &[disabled] {
        label,
        .hint-text {
            color: @light-brown;
        }
    }
}
