.dropdown {
    display: grid;
    border: 1px solid @soft-brown;
    border-bottom: 2px solid @soft-brown;
    grid-template-areas: "select";
    align-items: center;

    select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        padding: 0.5rem 0.75rem;
        background-image: none;
        background-color: transparent;
        border: none;
        margin: 0;
        width: 100%;
        outline: none;
        grid-area: select;
    }

    &:after {
        content: "";
        justify-self: end;
        grid-area: select;
        margin-right: 1rem;
        height: 20px;
        width: 20px;
        background: url(../../icons/shapes/expand-more.svg);
    }

    &:focus,
    &:focus-within {
        outline: 2px solid @brand-secondary;
        outline-offset: -1px;
        border-bottom: 2px solid transparent;
    }
}