.sidebar {
    display: flex;
    justify-content: space-between;

    > ul {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            margin-top: 0.5rem;
            margin-left: 1rem;

            a {
                border-bottom: none;
                display: inline-flex;

                span {
                    display: none;
                }
            }

            &.itemInvis { // Temporary name [AW]
                display: none;
            }

            span {
                color: @gray-3;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                &:first-child {
                    margin-top: 0.3rem;
                }

                &:last-child {
                    margin-bottom: 1rem;
                }

                li {
                    margin: 0 0 0 2.5rem;

                    a {
                        color: @brand-primary;
                        font-size: 0.85rem;

                        &:hover {
                            color: darken(@brand-primary, 10%);
                        }
                    }
                }
            }
        }
    }

    > a {
        border-bottom: none;

        &.hamburger {
            margin-top: 0.5rem;
            margin-right: 1rem;
            color: rgba(0, 0, 0, 0.6);
        }
    }
}

.material-icons {
    color: @gray-6;
    margin-right: 1rem;
}

.sidebar-vertical {
    &.sidebar {
        > ul {
            flex-direction: column;

            > li {
                display: block;

                span {
                    font-size: 0;

                    i {
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }

                ul {
                    display: none;
                }
            }
        }
    }
}

.sidebar-vertical-wide () {
    .sidebar-expand();
}

.sidebar-expand {
    > ul {
        flex-direction: column;

        li {
            a,
            span {
                span {
                    display: block;
                    color: @brand-primary;

                    &:hover {
                        color: darken(@brand-primary, 8%);
                    }
                }
            }

            div {
                &.submenu {
                    display: inline-flex;
                    flex-wrap: wrap;

                    > ul {
                        width: 100%;
                    }
                }
            }
        }
    }
}


.for-each(@breakpoint in @grid-breakpoints) {
    @infix: extract(@breakpoint, 1);
    @min-width: extract(@breakpoint, 2);

    .sidebar-vertical-@{infix} {
        @media screen and (min-width: @min-width) {
            .sidebar-vertical();

            .hamburger {
                display: none;
            }

            ul {
                li {
                    a {
                        span {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .sidebar-vertical-wide-@{infix} {
        @media screen and (min-width: @min-width) {
            .sidebar-vertical-wide();

            .hamburger {
                display: none;
            }

            ul {
                li {
                    &.itemInvis { // Temporary name [AW]
                        display: block;
                    }
                }
            }
        }
    }
}
