.steps ol {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: @background-white;
    box-shadow: @default-box-shadow;

    display: flex;
    justify-content: space-between;

    li {
        // TODO: Flex?
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex: 0 1 100%;
        flex-grow: 1;
        position: relative;
        padding: 3.4rem 0 0 0;
        text-align: center;
        line-height: 1rem;
        overflow: hidden;
        height: 0;

        > a {
            display: block;
            padding: 3.4rem 0 0 0;
            margin: -3.4rem 0 0 0;
            
            width: 100%;

            border-top: @border-width solid transparent;
            border-bottom: @border-width solid transparent;
            color: @brand-primary;
            cursor: pointer;

            &:hover{
                /* TODO : mixin? */
                background-color: @gray-10;
                border-color: @gray-9;
            }

            .steps-icon{
                left: 50%;
                margin-left: -15px;
            }
        }

        /* Circle */
        &:before {
            content: "";
            // TODO: No need for absolute on horizontal
            position: absolute;
            box-sizing: border-box;
            z-index: @zindex-steps-circle;
            // TODO: Variable?
            height: 30px;
            width: 30px;
            border-radius: 30px;
            border: 3px solid @gray-8;
            background-color: @background-white;

            left: initial;
            top: 50%;
            margin-top: -30px / 2;
        }

        /* Line */
        &:after {
            content: "";
            position: absolute;
            background-color: @gray-8;
            z-index: @zindex-steps-line;
            height: 3px;
            // Prevent small render gaps on certain resolutions 
            width: 102%;
            left: 0;
            top: 50%;
            margin-top: -3px / 2;
        }

        &:first-child {
            &:after {
                right: 0;
                left: auto;
                width: 50%;
            }
        }

        &:last-child {
            &:after {
                width: 50%;
            }
        }
    }

    .steps-completed {
        &:before {
            border-color: @brand-primary;
            background-color: @brand-primary;
        }

        &:after {
            background-color: @brand-primary;
        }
    }

    .steps-ongoing {
        &:before {
            border-color: @brand-primary;
        }

        &:after {
            background: linear-gradient(to right, @brand-primary 50%, @gray-8 50%);
        }

        &:first-child,
        &:last-child {
            &:after {
                background: linear-gradient(to right, @brand-primary 100%);
            }
        }
    }

    .steps-selected {
        // 
        background-color: @gray-10;
        box-shadow: 1px 0 0 0 @gray-9, -1px 0 0 0 @gray-9, 0 1px 0 0 @gray-10;
    }

    .steps-sub-title {
        line-height: 1rem;
        margin-top: @base-margin-xs;
        font-size: @font-size-small;
        color: @mid-gray;
    }

    .steps-icon {
        color: @background-white;
        position: absolute;
        width: 30px;
        height: 30px;
        margin-top: -15px;
        z-index: @zindex-steps-icon;
        line-height: 30px;
        text-align: center;
        font-size: 1.1rem;
        top: 50%;
        margin-top: -30px / 2;
    }
}

.steps-responsive{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: @gray-10;
    padding: @base-padding-xs @base-padding-sm;
    border-top: 1px solid @gray-9;
    border-bottom: 1px solid @gray-9;
    box-sizing: border-box;
    display: flex;
}

.steps-responsive-text{
    flex-grow: 1;
    text-align: center;
}

@media screen and (min-width: @screen-sm-min) {
    .steps-responsive{
        display: none;
    }

    .steps ol {
        font-size: 1.1rem;

        li {
            min-width: auto;
            padding: 4.8rem 0 1rem 0;
            height: auto;

            // TODO: Variables?
            > a{
                padding: 4.8rem 0 1rem 0;
                margin: -4.8rem 0 -1rem 0;

                .steps-icon{
                    margin-left: -22.5px;
                    top: 2.7rem;
                }
            }

            .steps-icon{
                width: 45px;
                height: 45px;
                margin-top: -22.5px;
                font-size: 24px;
                line-height: 45px;
                top: 2.7rem;
            }

            &:before{
                margin-top: -22.5px;
                height: 45px;
                width: 45px;
                top: 2.7rem;
                border-width: 5px;
            }

            &:after{
                top: 2.7rem;
                height: 5px;
            }
        }

        .steps-sub-title {
            margin-top: @base-margin-sm;
        }
    }

    .steps-vertical ol {
        display: block;
    
        li {
            display: block;
            text-align: left;
            padding: 2rem 1.5rem 2rem 5.5rem;

            &.steps-selected{
                box-shadow: 0 1px 0 0 @gray-9, 0 -1px 0 0 @gray-9;    
            }
            > a {
                /* Take full parent size, ignoring parents padding, and stil growing the parent with text from this element */
                /* The small difference in padding (0.0625rem) is to account for the border */
                /* TODO : variable */
                padding: 2rem 1.5rem 2rem 5.5rem;
                margin: -2.0625rem -1.5rem -2.0625rem -5.5rem;
                width: auto;
    
                .steps-icon {
                    // TODO: All the pixels :/ 
                    left: 52.5px;
                }
            }
    
            /* Circle */
            &:before {
                left: 30px;
                top: 50%;
            }

            .steps-icon{
                top: 50%;
            }
    
            /* Line */
            &:after {
                width: 5px;
                left: 50.5px;
                top: -2px;
                bottom: 0;
                height: auto;
            }
    
            // TODO: Redundans?
            &:first-child{
                &:after{
                    left: 50.5px;
                    height: 50%;
                    width: 5px;
                    top: auto;
                }
            }
    
            &:last-child {
                &:after {
                    top: -2px;
                    height:  50%;
                    width: 5px;
                    left: 50.5px;
                }
            }
        }
    
        .steps-ongoing:after {
            background: linear-gradient(@brand-primary 50%, @gray-8 50%);
        }
    
        .steps-icon {
            left: 30px;
            top: 50%;
        }
    }

}
