/* Colors */
@table-bg:                                  transparent;
@table-header-color:                        @brand-secondary;
@table-text-color:                          @list-gray;
@table-border-color:                        @border-color;
@table-stripe-color:                        @brand-bg-1;
@table-collapse-content-color:              @list-gray;
@table-collapse-border-color:               @border-color;

/* Dimensions */
@table-cell-padding:                        0.75rem 1em;
@table-cell-condensed-padding:              0.5rem 0.6rem;
@table-collapse-content-padding:            10px 20px 10px 20px;
@table-button-padding:                      (@base-padding-xs / 2) @base-padding-xs;
@table-description-padding:                 (@base-padding * 0.625);

@table-margin-bottom:                       0.6rem;
@table-collpase-nested-margin:              -10px -20px -10px -20px;

@table-line-height:                         1.4rem;

/* Animations */
@table-collapse-duration:                   0.25s;

table {
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

.table {
    width: 100%;
    max-width: 100%;
    border-spacing: 0;
    margin-bottom: @base-margin;
    background-color: @table-bg;

    caption {
        font-family: @brand-headline;
        font-size: 1.25rem;
        font-weight: bold;
        text-align: inherit;
    }

    th {
        text-align: left;
    }

    th,
    td {
        padding: @table-cell-padding;
        line-height: @table-line-height;

        > .btn {
            float: left;
            padding: @table-button-padding;
            margin-top: 0;
            margin-right: @base-margin-xs;
            margin-bottom: (-@base-margin-xs);
        }

        > .material-icons {
            float: left;
            font-size: 1.4rem;
        }

        // TODO: This should probably not be here [EH]
        .action-list .action-menu {
            line-height: 1.75rem;
        }
    }

    thead {
        th {
            font-size: 1rem;
            color: @table-header-color;
        }
    }

    // Remove top border from thead by default
    > caption + thead,
    > colgroup + thead,
    > thead:first-child {
        > tr:first-child {
            > th,
            > td {
                border-top: 0;
            }
        }
    }

    tbody {
        > tr:nth-child(odd) {
            background-color: @table-stripe-color;
        }

        tr {
            th,
            td {
                position: relative;
                border-bottom: 1px solid transparent;
                font-weight: normal;
            }

            th {
                font-weight: bold;
            }
        }
    }

    // Plain table
    &.table-plain {
        tbody {
            > tr {
                th,
                td {
                    border-bottom: 1px solid @table-border-color;
                }
            }

            th,
            td {
                background-color: @white;
            }
        }
    }

    // Hover tables
    &.table-hover {
        tbody > tr:hover {
            th,
            td {
                background-color: @brand-bg-gray;
            }
        }
    }

    // Description table
    &.table-description {
        td {
            border-right: none;
        }

        tr {
            td {
                padding: @base-padding-xs @table-description-padding;
            }

            th {
                padding: 0 @table-description-padding;
                line-height: (@base-font-size * 2.8);
            }

            th:nth-child(1),
            td:nth-child(1) {
                text-transform: uppercase;
                font-size: (@base-font-size * 0.9);
                font-weight: 300;
            }

            &.highlighted-row {
                > th,
                td {
                    font-size: (@base-font-size * 1.3);
                }
            }

            &.muted-row {
                > th,
                td {
                    padding-top: 0;
                    font-size: (@base-font-size * 0.8);
                    color: @list-gray;
                }
            }
        }
    }

    &.table-condensed {
        th,
        td {
            padding: @table-cell-condensed-padding;
        }
    }

    // Nesting
    .table {
        background-color: @table-bg;
    }

    > tfoot {
        font-weight: 600;
    }
}
