.tabs {
    position: relative;
    margin: @tabs-margin auto;
    min-height: 60px;

    ul {
        margin: 0 auto;
        padding: 0;
        display: flex;

        li {
            list-style: none;
            width: 100%;

            a,
            span {
                color: fade(@brand-primary, 80%);
                background-color: @white;
                display: block;
                font-weight: bold;
                padding: @tabs-padding-s @tabs-padding;
                font-size: 1.3rem;
                border-bottom: 3px solid @white;
                transition: border-bottom 0.2s ease-in-out;
            }

            a {
                &:focus,
                &:active,
                &:hover {
                    text-decoration: none;
                    color: @brand-primary;
                }
            }

            &.active {
                span,
                a,
                a:hover {
                    color: @brand-primary;
                    background-color: @white;
                    border-bottom: 3px solid @brand-primary;
                }
            }
        }

        &.tabs-stacked {
            flex-direction: column;
        }

        &.tabs-collapsed {
            border-bottom: 1px solid @gray-10;
            flex-direction: column;
            position: absolute;
            width: 100%;

            &:after {
                content: "";
                top: 1rem;
                right: 2rem;
                border: 2px solid @gray-8;
                border-top: none;
                border-left: none;
                width: 1rem;
                height: 1rem;
                position: absolute;
                transform: rotate(45deg);
                cursor: pointer;
            }

            li {
                display: none;

                &.active {
                    display: block;
                }
            }
        }

        &:hover {
            &:after {
                z-index: @zindex-tabs-arrow;
            }

            li {
                display: block;
                z-index: @zindex-tabs;
            }
        }
    }

    .material-icons {
        font-size: 1.3rem;
        line-height: 1.75rem;
        vertical-align: text-top;
    }
}
