.tabs {
    padding-left: 0;
    font-family: @brand-headline;

    &.tabs-scroll {
        overflow: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            width: 0;
            background: transparent;
        }
    }

    ul {
        position: initial;
        flex-direction: row;
        padding: 0;
        margin: 0;

        li {
            display: block;
            // margin-left: @base-margin-lg;
            border-right: 2px solid @white;

            &:last-child {
                border-right: 0;

                > a {
                    border-radius: 0 0.3rem 0.3rem 0;
                }
            }

            &:first-child {
                > a {
                    border-radius: 0.3rem 0 0 0.3rem;
                }
            }

            a {
                background-color: @brand-bg-gray;
                padding: 0.5rem 1rem;
                white-space: nowrap;
                user-select: none;
                -moz-user-select: none;
                -webkit-user-drag: none;
                -webkit-user-select: none;
                -ms-user-select: none;

                &:hover {
                    background-color: @brand-primary;
                }
            }

            &.active {
                padding-left: 0;

                > a {
                    background-color: @brand-primary;
                    position: relative;
                }
            }
        }
    }
}

each(@grid-breakpoints, .(@max-width, @infix) {
    .tabs-scroll-@{infix} {
        @media screen and (max-width: @max-width) {
            .tabs.tabs-scroll;
        }
    }
});
