.tag {
    display: flex;
    width: fit-content;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    padding-left: 0.375rem;
    padding-right: 0.375rem;
    font-size: 1rem;
    align-items: center;
    border-radius: 0.125rem;
    background-color: @brand-bg-2;

    &.removable {
        padding-right: 0;
    }

    &.secondary {
        background-color: @brand-bg-1;
    }

    &.tertiary {
        background-color: @brand-bg-gray;
    }

    .close-button {
        background-color: transparent;
        border: none;
        display: flex;
        cursor: pointer;
        width: 1.5rem;
        height: 1.5rem;
        padding: 0;
        margin-left: 2px;

        i {
            font-size: 1rem;
        }
    }

    .close-button:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .close-button:focus {
        border: none;
        border-radius: 0.125rem;
        box-shadow: 0 0 0 2px @black;
        outline: none;
    }

    &.code {
        display: inline-block;
        padding: @code-tags-padding;
        border-radius: @code-tags-border-radius;
        font-family: @brand-monofont;
        font-size: 0.875rem;
        line-height: 1.25rem;
        white-space: nowrap;
        background-color: @brand-bg-2;
        border: 1px solid @brand-accent;

        &.secondary {
            background-color: @brand-bg-1;
            border: 1px solid @brand-tertiary;
        }

        &.tertiary {
            background-color: @brand-bg-gray;
            border: 1px solid @black;
        }
    }
}
