@import "../global.less";

@toast-height: 3.5rem;
@toast-color: @white;
@toast-text-color: @text-color;
@toast-action-color: @brand-secondary;

#toast-container {
	display: block;
	position: fixed;
	z-index: var(--toast-z-index, 700);
	max-width: 21.4rem;
	top: 1rem;
	left: 0;
	right: 0;
	margin: 0 auto;

	@media screen and (min-width: @screen-sm-min) {
		left: auto;
		right: 1%;
	}

	.toast {
		position: relative;
		display: flex;
		min-height: @toast-height;
		padding: 1rem @base-padding-lg;
		background-color: @toast-color;
		color: @toast-text-color;
		border-radius: 0.25rem;
		font-weight: 300;
		line-height: 1.5;
		cursor: default;
		box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.15);
		opacity: 1;
		animation: slideInFromTopRight 0.5s forwards;

		@keyframes slideInFromTopRight {
			from {
				right: -1000px;
			}
			to {
				right: 0;
			}
		}

		@media screen and (max-width: @screen-sm-min) {
			animation: slideInFromTop 0.5s forwards;

			@keyframes slideInFromTop {
				from {
					top: -1000px;
				}
				to {
					top: 0;
				}
			}
		}

		&.fade {
			opacity: 0;
			transition: opacity 0.3s linear;
		}

		&:not(:first-child) {
			margin-top: 10px;
		}

		&.toast-success {
			.material-icons {
				color: @brand-success;
			}
		}

		&.toast-neutral {
			.material-icons {
				color: @brand-info;
			}
		}

		&.toast-warning {
			.material-icons {
				color: @brand-warning;
			}
		}

		&.toast-danger {
			color: @brand-error;

			.material-icons {
				color: @brand-error;
			}
		}

		.toast-content {
			p {
				margin: 0;
			}
		}

		.material-icons {
			user-select: none;
			margin-right: (@base-margin-sm * 2);
			margin-left: (-@base-margin-sm);
		}

		.toast-close {
			all: unset;
			display: inline-flex;
			height: 1.75rem;
			order: 1;

			.material-icons {
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				width: 1.5rem;
				height: 1.5rem;
				margin-left: 0.5rem;
				margin-right: (-@base-margin-sm);
				color: @medium-brown;
				border: 2px solid transparent;
				border-radius: 0.175rem;

				&:hover {
					color: @dark-brown;
					background-color: @brand-bg-gray;
				}
			}

			&:focus {
				.material-icons {
					border: 2px solid @brand-secondary;
				}
			}
		}

		.toast-action {
			color: @toast-action-color;
			font-weight: 500;

			&.btn {
				background-color: @toast-color;
				margin-bottom: 0;
				padding: 0;
			}
		}

		@media screen and (max-width: @screen-sm-max) {
			width: 100%;
			border-radius: 0;
		}
	}
}

@media (forced-colors: active) {
	#toast-container {
		.toast {
			border: 10px solid;

			.toast-close {
				&:focus {
					.material-icons {
						outline: 2px solid;

						&:hover {
							outline: 4px solid;
						}
					}
				}
			}
		}
	}
}
