#toast-container {
    display: block;
    position: fixed;
    z-index: @zindex-toast;
    min-width: 100%;
    bottom: 5%;

    @media screen and (min-width: @screen-sm-min) {
        min-width: initial;
        bottom: initial;
        top: 1rem;
        right: 1%;
        max-width: 86%;
    }

    .toast {
        position: relative;
        width: auto;
        height: auto;
        max-width: 100%;
        min-height: @toast-height;
        line-height: 1.5;
        color: @toast-text-color;
        background-color: @toast-color;
        padding: @base-padding-sm @base-padding-lg;
        font-size: 1.1rem;
        font-weight: 300;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: default;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        opacity: 0.95;
        border: 1px solid @list-gray;

        &:hover {
            opacity: 1;
        }

        &:not(:first-child) {
            margin-top: 10px;
        }

        &.toast-success {
            border-left: 3px solid @brand-success;

            .material-icons {
                color: @brand-success;
            }
        }

        &.toast-neutral {
            border-left: 3px solid @brand-info;

            .material-icons {
                color: @brand-info;
            }
        }

        &.toast-warning {
            border-left: 3px solid @brand-warning;

            .material-icons {
                color: @brand-warning;
            }
        }

        &.toast-danger {
            border-left: 3px solid @brand-error;

            .material-icons {
                color: @brand-error;
            }
        }

        .material-icons {
            user-select: none;

            &:first-child {
                margin-right: @base-margin-sm;
                margin-left: (-@base-margin-sm);
            }

            &:last-child {
                cursor: pointer;
                margin-left: @base-margin-sm;
                margin-right: (-@base-margin-sm);
                color: lighten(@text-color, 20%);

                &:hover {
                    color: @text-color;
                }
            }
        }

        /* stylelint-disable selector-list-comma-newline-after */
        h1, h2, h3, h4, h5, h6,
        .h1, .h2, .h3, .h4, .h5, .h6,
        p, .material-icons {
            color: @toast-text-color;
            margin-bottom: 0;
        }
        /* stylelint-enable selector-list-comma-newline-after */

        .toast-action {
            color: @toast-action-color;
            font-weight: 500;

            &.btn {
                background-color: @toast-color;
                margin-bottom: 0;
                padding: 0;
            }
        }

        @media screen and (max-width: @screen-sm-max) {
            width: 100%;
            border-radius: 0;
        }
    }
}
