#toast-container {
    display: block;
    position: fixed;
    z-index: @zindex-toast;
    width: 21.4rem;
    bottom: 5%;

    @media screen and (min-width: @screen-sm-min) {
        min-width: initial;
        bottom: initial;
        top: 1rem;
        right: 1%;
    }

    .toast {
        position: relative;
        display: flex;
        align-items: center;
        min-height: @toast-height;
        padding: @base-padding-sm @base-padding-lg;
        background-color: @toast-color;
        color: @toast-text-color;
        border: 1px solid @list-gray;
        font-size: 1.1rem;
        font-weight: 300;
        line-height: 1.5;
        cursor: default;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.15);
        opacity: 0.95;
        animation: slideInTopRight 0.5s forwards;

        @keyframes slideInTopRight {
            from { right: -1000px; }
            to { right: 0; }
        }

        &:hover {
            opacity: 1;
        }

        &.fade {
            opacity: 0;
            transition: opacity 0.3s linear;
        }

        &:not(:first-child) {
            margin-top: 10px;
        }

        &.toast-success {
            .material-icons {
                color: @brand-success;
            }
        }

        &.toast-neutral {
            .material-icons {
                color: @brand-info;
            }
        }

        &.toast-warning {
            .material-icons {
                color: #f35b1c;
            }
        }

        &.toast-danger {
            color: @brand-error;

            .material-icons {
                color: @brand-error;
            }
        }

        .material-icons {
            user-select: none;

            &:first-child {
                margin-right: (@base-margin-sm * 2);
                margin-left: (-@base-margin-sm);
            }

            &:last-child {
                cursor: pointer;
                margin-left: auto;
                margin-right: (-@base-margin-sm);
                color: lighten(@text-color, 20%);

                &:hover {
                    color: @text-color;
                }
            }
        }

        /* stylelint-disable selector-list-comma-newline-after */
        h1, h2, h3, h4, h5, h6,
        .h1, .h2, .h3, .h4, .h5, .h6,
        p, .material-icons {
            color: @toast-text-color;
            margin-bottom: 0;
        }
        /* stylelint-enable selector-list-comma-newline-after */

        .toast-action {
            color: @toast-action-color;
            font-weight: 500;

            &.btn {
                background-color: @toast-color;
                margin-bottom: 0;
                padding: 0;
            }
        }

        @media screen and (max-width: @screen-sm-max) {
            width: 100%;
            border-radius: 0;
        }
    }
}
