.topbar {
    background: @white;
    margin-left: auto;
    margin-right: auto;
    height: @topbar-height;
    width: 100%;
    z-index: @zindex-topbar;
    .clearfix();

    &.topbar-fixed {
        position: fixed;
        top: 0;
        left: 0;

        + * {
            margin-top: @topbar-height;
        }
    }
}

.topbar-logo {
    height: 50px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;

    &.logo-default {
        background: url("../../img/px-logo.svg") no-repeat;
        background-size: contain;
        width: 125px;
    }

    &.logo-mypayex {
        background: url("../../img/my-px-logo.svg") no-repeat;
        background-size: contain;
        width: 180px;
    }
}

.topbar-btn-left,
.topbar-btn-right {
    margin: 0;
    border: 0;
    background: none;
    height: 100%;
    padding: 0 20px;
    font-size: 17px;
    font-weight: bold;
    outline: 0;

    &:hover {
        cursor: pointer;
    }

    &:hover,
    &:focus {
        background-color: @gray-9;
    }
}

.topbar-btn-icon {
    line-height: 17px;
    vertical-align: middle;
    margin-right: 5px; // icon alignment
    margin-top: -2px;
}

.topbar-btn-left {
    float: left;
    border-right: 1px solid @gray-8;
}

.topbar-btn-right {
    float: right;
    border-left: 1px solid @gray-8;
}

// TODO: Refactor above [EH]

.topbar-nav {
    display: block;
    width: @topbar-nav-width;
    position: fixed;
    top: @topbar-height;
    bottom: 0;
    background-color: @gray-1;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: @zindex-topbar-nav;
}

.topbar-nav-right {
    -webkit-transition: right 0.3s ease;
    transition: right 0.3s ease;
    right: -@topbar-nav-width;

    &.in {
        right: 0;
    }

    .topbar-nav-slide {
        right: @topbar-nav-width;

        &.active {
            right: 0;
        }

        &.inactive {
            right: -@topbar-nav-width;
        }
    }
}

.topbar-nav-left {
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
    left: -@topbar-nav-width;

    &.in {
        left: 0;
    }

    .topbar-nav-slide {
        left: @topbar-nav-width;

        &.active {
            left: 0;
        }

        &.inactive {
            left: -@topbar-nav-width;
        }
    }
}

.topbar-nav-slide {
    position: absolute;
    width: inherit;
    // top: @topbar-height;
    margin: 15px 0 0;
    // width: @topbar-nav-width * 3;
    -webkit-transition: margin-left 0.3s ease;
    transition: margin-left 0.3s ease;
    .reset-list();
    .clearfix(); // TODO: This should be in javascript

    .topbar-nav-group-heading {
        color: @gray-7;
        text-transform: uppercase;
        font-size: @font-size-small;
        font-weight: normal;
    }

    > a,
    > span,
    .topbar-nav-group > a,
    .topbar-nav-group > span {
        display: block;
        color: @gray-7;
        padding: 15px 20px;
        cursor: pointer;
        font-weight: normal;
        text-transform: uppercase;

        &:hover {
            background-color: @gray-2;
            color: @white;
            text-decoration: none;
        }
    }

    > a,
    > span {
        margin-left: 15px;
    }

    .topbar-nav-group {
        padding: 0 15px;
        margin: 15px 0;

        .topbar-nav-group-heading {
            border-bottom: 1px solid #58595b;
            padding-bottom: 5px;
        }
    }
}

.topbar-nav-back {
    background: none;
    border: 0;
    margin: 10px 0 10px 10px;
    padding: 5px;
    line-height: 1em;
    color: @gray-7;
    outline: 0;

    &:hover,
    &:focus {
        // TODO: Add a gray border
        color: @white;
    }
}

.topbar-nav-items {
    .reset-list();

    .topbar-nav-group {
        color: @white;
        color: @gray-7;
        font-size: @font-size-small;
        text-transform: uppercase;
        font-weight: 300;
        padding: 0 15px;
        margin: 15px 0;

        .topbar-nav-group-heading {
            border-bottom: 1px solid #58595b;
            padding-bottom: 5px;
        }

        > ul {
            list-style: none;
            padding: 0;
        }
    }

    li a {
        color: @gray-7;
        font-size: @font-size-large;
        padding: 15px 20px;
        display: block;
        cursor: pointer;
        font-weight: normal;
        text-transform: none;
        .clearfix();

        &:hover {
            background-color: @gray-2;
            color: @white;
            text-decoration: none;
        }
    }
}

.topbar-nav-icon {
    vertical-align: middle;
    line-height: 17px;
    margin-right: 10px;
    margin-top: -2px;
}

.topbar-nav-icon-next {
    float: right;
}

@media (max-width: @screen-xs-max) {
    .topbar-btn-text {
        display: none;
    }

    .topbar-px-logo {
        position: absolute;
        left: 50%;
        margin-left: -55px;

        &.mypayex {
            margin-left: -78px;
        }
    }
}
