.make-grid-columns(@columns: @grid-columns, @gutter: @grid-gutter-width, @breakpoints: @grid-breakpoints) {
    .grid-column() {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: (@gutter / 2);
        padding-left: (@gutter / 2);
    }

    .for-each(@breakpoint in @breakpoints) {
        @infix: extract(@breakpoint, 1);

        .for(@i, @end: @columns) {
            .col-@{infix}-@{i} {
                .grid-column();
            }
        }

        .col-@{infix},
        .col-@{infix}-auto {
            .grid-column();
        }

        .ruleset() {
            .col-@{infix} {
                flex-basis: 0;
                flex-grow: 1;
                max-width: 100%;
            }

            .col-@{infix}-auto {
                flex: 0 0 auto;
                width: auto;
                max-width: none; // Reset earlier grid tiers
            }

            .for(@i, @end: @columns) {
                .col-@{infix}-@{i} {
                    .make-col(@i, @columns);
                }
            }

            .order-@{infix}-first {
                order: -1;
            }

            .order-@{infix}-last {
                order: @columns + 1;
            }

            .for(@i: 0, @end: @columns) {
                .order-@{infix}-@{i} {
                    order: @i;
                }
            }

            .for(@i: 0, @end: (@columns - 1)) {
                .offset-@{infix}-@{i} {
                    .make-col-offset(@i, @columns);
                }
            }
        }

        .media-breakpoint-up(@infix, @breakpoint, { .ruleset(); });
    }
}
