.make-container() {
    width: 100%;
    padding-right: (@grid-gutter-width / 2);
    padding-left: (@grid-gutter-width / 2);
    margin-right: auto;
    margin-left: auto;
}

.make-container-max-widths(@max-widths: @container-max-widths, @breakpoints: @grid-breakpoints) {
    each(@breakpoints, .(@width, @key, @i) {
        & when (@width > 0) {
            @media (min-width: @width) {
                max-width: extract(@max-widths, @i - 1);
            }
        }
    });
}

.make-row() {
    display: flex;
    flex-wrap: wrap;
    margin-right: (@grid-gutter-width / -2);
    margin-left: (@grid-gutter-width / -2);
}

// .make-col-ready() {}

.make-col(@size, @columns: @grid-columns) {
    flex: 0 0 percentage((@size / @columns));
    max-width: percentage((@size / @columns));
}

.make-col-offset(@size, @columns: @grid-columns) {
    @num: (@size / @columns);

    margin-left: percentage(@num);
}

.infix-ruleset(@size, @abbr, @ruleset) {
    & when (@size > 0) {
        @infix: ~"-@{abbr}";
        @ruleset();
    }

    & when (@size = 0) {
        @infix: ~"";
        @ruleset();
    }
}
