/* stylelint-disable declaration-no-important */
/* stylelint-disable block-opening-brace-space-before */

.display-rules(@infix) {
    .d@{infix}-none           { display: none !important; }
    .d@{infix}-inline         { display: inline !important; }
    .d@{infix}-inline-block   { display: inline-block !important; }
    .d@{infix}-block          { display: block !important; }
    .d@{infix}-table-row      { display: table-row !important; }
    .d@{infix}-table-cell     { display: table-cell !important; }
    .d@{infix}-flex           { display: flex !important; }
    .d@{infix}-inline-flex    { display: inline-flex !important; }
}

/* stylelint-enable block-opening-brace-space-before */

//
// Creating base-classes like ".d-none"
//

.display-rules(~"");

//
// Creating classes for breakpoints like ".d-md-none"
//

.for-each(@breakpoint in @grid-breakpoints) {
    @infix: extract(@breakpoint, 1);

    .ruleset() {
        .display-rules(~"-@{infix}");
    }

    .media-breakpoint-up(@infix, @breakpoint, { .ruleset(); });
}

//
// Utilities for toggling `display` in print
//

@media print {
    .display-rules(~"-print");
}
