/* stylelint-disable block-opening-brace-space-before, block-closing-brace-space-before, declaration-colon-space-after, declaration-block-single-line-max-declarations, declaration-block-semicolon-space-after */

// TODO: refactor this using loops

// Margin
// ==========================================================================

.m-0        { margin:                       0;                                              }
.m-sm       { margin:                       @spacer / 2;                                    }
.m-md       { margin:                       @spacer;                                        }
.m-lg       { margin:                       @spacer * 2;                                    }
.m-xl       { margin:                       @spacer * 3;                                    }

/* Margin top */
.mt-0       { margin-top:                   0;                                              }
.mt-sm      { margin-top:                   @spacer / 2;                                    }
.mt-md      { margin-top:                   @spacer;                                        }
.mt-lg      { margin-top:                   @spacer * 2;                                    }
.mt-xl      { margin-top:                   @spacer * 3;                                    }

/* Margin right */
.mr-0       { margin-right:                 0;                                              }
.mr-sm      { margin-right:                 @spacer / 2;                                    }
.mr-md      { margin-right:                 @spacer;                                        }
.mr-lg      { margin-right:                 @spacer * 2;                                    }
.mr-xl      { margin-right:                 @spacer * 3;                                    }

/* Margin bottom */
.mb-0       { margin-bottom:                0;                                              }
.mb-sm      { margin-bottom:                @spacer / 2;                                    }
.mb-md      { margin-bottom:                @spacer;                                        }
.mb-lg      { margin-bottom:                @spacer * 2;                                    }
.mb-xl      { margin-bottom:                @spacer * 3;                                    }

/* Margin left */
.ml-0       { margin-left:                  0;                                              }
.ml-sm      { margin-left:                  @spacer / 2;                                    }
.ml-md      { margin-left:                  @spacer;                                        }
.ml-lg      { margin-left:                  @spacer * 2;                                    }
.ml-xl      { margin-left:                  @spacer * 3;                                    }

/* Margin y-axis */
.my-0       { margin-top:                   0;              margin-bottom: 0;               }
.my-sm      { margin-top:                   @spacer / 2;    margin-bottom: @spacer / 2;     }
.my-md      { margin-top:                   @spacer;        margin-bottom: @spacer;         }
.my-lg      { margin-top:                   @spacer * 2;    margin-bottom: @spacer * 2;     }
.my-xl      { margin-top:                   @spacer * 3;    margin-bottom: @spacer * 3;     }

/* Margin x-axis */
.mx-0       { margin-right:                 0;              margin-left: 0;                 }
.mx-sm      { margin-right:                 @spacer / 2;    margin-left: @spacer / 2;       }
.mx-md      { margin-right:                 @spacer;        margin-left: @spacer;           }
.mx-lg      { margin-right:                 @spacer * 2;    margin-left: @spacer * 2;       }
.mx-xl      { margin-right:                 @spacer * 3;    margin-left: @spacer * 3;       }

// auto for horizontal centering
.mx-auto    { margin-right:                 auto;           margin-left: auto;              }

// Padding
// ==========================================================================

.p-0        { padding:                      0;                                              }
.p-sm       { padding:                      @spacer / 2;                                    }
.p-md       { padding:                      @spacer;                                        }
.p-lg       { padding:                      @spacer * 2;                                    }
.p-xl       { padding:                      @spacer * 3;                                    }

/* Padding top */
.pt-0       { padding-top:                  0;                                              }
.pt-sm      { padding-top:                  @spacer / 2;                                    }
.pt-md      { padding-top:                  @spacer;                                        }
.pt-lg      { padding-top:                  @spacer * 2;                                    }
.pt-xl      { padding-top:                  @spacer * 3;                                    }

/* Padding right */
.pr-0       { padding-right:                0;                                              }
.pr-sm      { padding-right:                @spacer / 2;                                    }
.pr-md      { padding-right:                @spacer;                                        }
.pr-lg      { padding-right:                @spacer * 2;                                    }
.pr-xl      { padding-right:                @spacer * 3;                                    }

/* Padding bottom */
.pb-0       { padding-bottom:               0;                                              }
.pb-sm      { padding-bottom:               @spacer / 2;                                    }
.pb-md      { padding-bottom:               @spacer;                                        }
.pb-lg      { padding-bottom:               @spacer * 2;                                    }
.pb-xl      { padding-bottom:               @spacer * 3;                                    }

/* Padding left */
.pl-0       { padding-left:                 0;                                              }
.pl-sm      { padding-left:                 @spacer / 2;                                    }
.pl-md      { padding-left:                 @spacer;                                        }
.pl-lg      { padding-left:                 @spacer * 2;                                    }
.pl-xl      { padding-left:                 @spacer * 3;                                    }

/* padding y-axis */
.py-0       { padding-top:                  0;              padding-bottom: 0;              }
.py-sm      { padding-top:                  @spacer / 2;    padding-bottom: @spacer / 2;    }
.py-md      { padding-top:                  @spacer;        padding-bottom: @spacer;        }
.py-lg      { padding-top:                  @spacer * 2;    padding-bottom: @spacer * 2;    }
.py-xl      { padding-top:                  @spacer * 3;    padding-bottom: @spacer * 3;    }

/* padding x-axis */
.px-0       { padding-right:                0;              padding-left: 0;                }
.px-sm      { padding-right:                @spacer / 2;    padding-left: @spacer / 2;      }
.px-md      { padding-right:                @spacer;        padding-left: @spacer;          }
.px-lg      { padding-right:                @spacer * 2;    padding-left: @spacer * 2;      }
.px-xl      { padding-right:                @spacer * 3;    padding-left: @spacer * 3;      }
