name: Pull request
on: [pull_request]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        brand: ["payex", "swedbankpay"]
    steps:
      - uses: actions/checkout@v2

      # Set brand specific variables
      - name: Environment variables
        id: variables
        # "git config core.filemode false" is set to disregard local rwx changes in git [THN]
        run: |
          git config core.filemode false
          chmod +x ./.github/scripts/variables.sh
          ./.github/scripts/variables.sh
        env:
          BRAND: ${{ matrix.brand }}

      - name: Set Node.js 12.x
        uses: actions/setup-node@master
        with:
          node-version: 12.x

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - uses: preactjs/compressed-size-action@v1
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          # basename=PullRequest is added to avoid BundleAnalyzer from holding up the agent [THN]
          build-script: "${{ steps.variables.outputs.BRAND_BUILD_SCRIPT }} -- --env.basename=PullRequest"
          exclude: "{**/*.map,**/node_modules/**,**/*chunk*.*}"
          pattern: "{dist/**/*.js,dist/**/*.css}"